Repository ginkgo-project/ginkgo, pull requests merged in 2018-07, with the labels that each got.

#75 Automatic deployment of Doxygen documentation
  .gitlab-ci.yml
  CMakeLists.txt
  README.md
  doc/conf/Doxyfile-usr.in
  doc/conf/Doxyfile.in
  doc/scripts/doxygen_version_extract.sh
Labels: Build, CI/CD, Documentation, Task

#70 Hybrid reference
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense.cpp
  core/matrix/dense.hpp
  core/matrix/dense_kernels.hpp
  core/matrix/ell.cpp
  core/matrix/ell.hpp
  core/matrix/hybrid.cpp
  core/matrix/hybrid.hpp
  core/test/matrix/ell.cpp
  core/test/matrix/hybrid.cpp
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/ell_kernels.cpp
  omp/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/matrix/ell_kernels.cpp
  reference/matrix/hybrid_kernels.cpp
  reference/test/matrix/CMakeLists.txt
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
Labels: Reference, Task

#81 Custom matrix format example
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/custom_matrix_format/CMakeLists.txt
  examples/custom_matrix_format/build.sh
  examples/custom_matrix_format/custom_matrix_format.cpp
  examples/custom_matrix_format/stencil_kernel.cu
Labels: Example, Task

#87 fix custom_matrix_format to use c++11 and take the CMAKE_CUDA_FLAGS
  cuda/CMakeLists.txt
  examples/custom_matrix_format/CMakeLists.txt
Labels: Bug, Build, CUDA, Example

#84 set gpu property for Coo needs
  core/base/executor.hpp
  core/device_hooks/cuda_hooks.cpp
  cuda/base/executor.cpp
Labels: Core, Enhancement

#89 Fix the create_algorithm_script.sh
  dev_tools/scripts/create_new_algorithm.sh
Labels: Bug

#92 Fix interface incompatibility in poisson solver
  examples/poisson_solver/poisson_solver.cpp
Labels: Bug, Example

#93 fix SELL-P bug for reading matrices
  core/matrix/sellp.cpp
Labels: Bug, Core

#94 In-house implementation of the matrix market file reader
  CMakeLists.txt
  core/CMakeLists.txt
  core/base/exception.hpp
  core/base/exception_helpers.hpp
  core/base/mtx_reader.cpp
  core/base/mtx_reader.hpp
  core/test/base/CMakeLists.txt
  core/test/base/data/CMakeLists.txt
  core/test/base/data/dense_complex.mtx
  core/test/base/data/dense_integer.mtx
  core/test/base/data/dense_real.mtx
  core/test/base/data/sparse_complex.mtx
  core/test/base/data/sparse_complex_hermitian.mtx
  core/test/base/data/sparse_pattern.mtx
  core/test/base/data/sparse_real.mtx
  core/test/base/data/sparse_real_skew_symmetric.mtx
  core/test/base/data/sparse_real_symmetric.mtx
  core/test/base/exception.cpp
  core/test/base/exception_helpers.cpp
  core/test/base/mtx_reader.cpp
  examples/asynchronous_stopping_criterion/asynchronous_stopping_criterion.cpp
  examples/preconditioned_solver/preconditioned_solver.cpp
  examples/simple_solver/simple_solver.cpp
  examples/simple_solver_logging/simple_solver_logging.cpp
  third_party/CMakeLists.txt
  third_party/mmio/CMakeLists.txt
  third_party/mmio/mmio.c
  third_party/mmio/mmio.h
Labels: Core, Enhancement
