Repository ginkgo-project/ginkgo, pull requests merged in 2018-12, with the labels that each got.

#169 Adaptive block-Jacobi CUDA kernels
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi.hpp
  core/preconditioner/jacobi_utils.hpp
  cuda/components/reduction.cuh
  cuda/components/warp_blas.cuh
  cuda/preconditioner/jacobi_kernels.cu
  cuda/test/preconditioner/jacobi_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/test/preconditioner/jacobi.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
Labels: CUDA, New feature, Reference

#170 Automatic precision detection in adaptive block-Jacobi preconditioning
  core/base/extended_float.hpp
  core/base/matrix_data.hpp
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi.hpp
  core/preconditioner/jacobi_kernels.hpp
  core/preconditioner/jacobi_utils.hpp
  core/test/base/matrix_data.cpp
  cuda/base/types.hpp
  cuda/components/warp_blas.cuh
  cuda/preconditioner/jacobi_kernels.cu
  cuda/test/preconditioner/jacobi_kernels.cpp
  omp/preconditioner/jacobi_kernels.cpp
  reference/components/matrix_operations.hpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
Labels: CUDA, Core, New feature, Reference

#172 Preconditioner support in benchmarks
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
Labels: Benchmarking, Enhancement

#178 Update the README with the versions of the software we actually test
  README.md
Labels: Documentation, Help wanted, Proposal

#180 More verbose test output on CI
  .gitlab-ci.yml
Labels: CI/CD, Enhancement

#182 Improved error messages
  include/ginkgo/core/base/exception_helpers.hpp
Labels: Core, Enhancement

#190 Added a patch file to prevent the jacobi cuda code from compiling
  dev_tools/patch/no-cuda-jacobi.patch
Labels: Build, CUDA

#186 Extract common utilities from benchmarks
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/general.hpp
  benchmark/utils/loggers.hpp
Labels: Benchmarking, Enhancement

#188 Preconditionable interface
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/solver/bicgstab.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/cgs.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/core/solver/gmres.hpp
Labels: Core, Enhancement

#192 Emission of iteration_completed event for final iteration
  core/solver/bicgstab.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/gmres.cpp
Labels: Bug, Core

#191 Improved solver benchmark
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/general.hpp
  benchmark/utils/loggers.hpp
Labels: Benchmarking, Enhancement

#193 Fix for Jacobi preconditioner precision detection
  cuda/components/warp_blas.cuh
  cuda/preconditioner/jacobi_kernels.cu
  reference/preconditioner/jacobi_kernels.cpp
Labels: Bug, CUDA, Reference
