Repository ginkgo-project/ginkgo, pull requests merged in 2018-09, with the labels that each got.

#122 Add matrix statistics and improve JSON output
  benchmark/CMakeLists.txt
  benchmark/matrix_statistics/CMakeLists.txt
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
Labels: Benchmarking, Enhancement

#123 Reference GBE in README.md
  README.md
Labels: Documentation

#124 Update README with new web app name
  README.md
Labels: Benchmarking

#116 GMRES restart and preconditioner
  core/solver/gmres.cpp
  core/solver/gmres.hpp
  core/solver/gmres_kernels.hpp
  core/test/solver/gmres.cpp
  cuda/solver/gmres_kernels.cu
  omp/solver/gmres_kernels.cpp
  reference/solver/gmres_kernels.cpp
  reference/test/solver/gmres_kernels.cpp
Labels: Core, Task

#128 Fix segmentation fault in block-Jacobi
  core/preconditioner/block_jacobi.cpp
Labels: Bug, Core

#129 Use cuSPARSE CSR by default
  core/matrix/csr.hpp
Labels: Core, Enhancement

#136 Add missing Combination and Composition getters
  core/base/combination.hpp
  core/base/composition.hpp
  core/test/base/combination.cpp
  core/test/base/composition.cpp
Labels: Core, Enhancement

#133 Shifted inverse iteration example
  examples/CMakeLists.txt
  examples/inverse_iteration/CMakeLists.txt
  examples/inverse_iteration/build.sh
  examples/inverse_iteration/data/A.mtx
  examples/inverse_iteration/inverse_iteration.cpp
  include/ginkgo.hpp
Labels: Example
