Repository ginkgo-project/ginkgo, pull requests merged in 2019-04, with the labels that each got.

#225 Cuda matrix conversion coo csr
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/coo.cpp
  core/matrix/coo_kernels.hpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  include/ginkgo/core/matrix/coo.hpp
  include/ginkgo/core/matrix/csr.hpp
  omp/components/convert_ptrs.hpp
  omp/components/format_conversion.hpp
  omp/matrix/coo_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/test/matrix/coo_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/matrix/coo_kernels.cpp
  reference/matrix/csr_kernels.cpp
Labels: CUDA, Matrix Format, New feature, OMP, Ready for review, Reference

#283 Add missing contributor
  contributors.txt
Labels: Ready for review

#284 Fix valgrind warning and errors
  core/matrix/sellp.cpp
  include/ginkgo/core/matrix/csr.hpp
Labels: Bug, Core, Matrix Format, READY TO MERGE

#285 Limit CI artifacts to what is absolutely required (tests and libs).
  .gitlab-ci.yml
Labels: CI/CD, Enhancement, Ready for review

#279 Cuda matrix conversion csr sellp
  contributors.txt
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  core/matrix/dense.cpp
  core/matrix/sellp.cpp
  core/matrix/sellp_kernels.hpp
  cuda/components/prefix_sum.cuh
  cuda/components/reduction.cuh
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/sellp_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/sellp_kernels.cpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/sellp.hpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/sellp_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/sellp_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/sellp_kernels.cpp
Labels: CUDA, Matrix Format, New feature, Ready for review, Reference

#250 Cuda matrix conversion csr ell
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  core/matrix/ell.cpp
  core/matrix/ell_kernels.hpp
  cuda/components/reduction.cuh
  cuda/matrix/csr_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/ell_kernels.cpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/ell.hpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/ell_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/ell_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/ell_kernels.cpp
Labels: CUDA, Matrix Format, New feature, Ready for review, Reference

#288 Removed `move_to_XXX` kernels and `COO::transpose`
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/coo.cpp
  core/matrix/coo_kernels.hpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  include/ginkgo/core/matrix/coo.hpp
  omp/matrix/coo_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/coo_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/coo_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: CUDA, Core, Matrix Format, OMP, READY TO MERGE, Reference, Testing

#290 Fixed GKO_ENABLE_BUILD_METHOD macro
  include/ginkgo/core/base/lin_op.hpp
Labels: Bug, Build, READY TO MERGE

#295 fixed a mistake in the calculate_total_cols kernels.
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
Labels: Bug, CUDA, Matrix Format

#296 Fix CI tests
  .gitlab-ci.yml
Labels: Bug, CI/CD, Ready for review, Testing
