Repository ginkgo-project/ginkgo, pull requests merged in 2019-02, with the labels that each got.

#212 Fix Intel Compilation issues on ForHLR2
  benchmark/solver/solver.cpp
  omp/matrix/dense_kernels.cpp
Labels: Bug, Build

#215 Reference sellp conversion
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  cuda/matrix/dense_kernels.cu
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: Bug, Matrix Format, OMP, Reference

#221 Remove anonymous namespaces in header files.
  cuda/base/cublas_bindings.hpp
  cuda/base/cusparse_bindings.hpp
Labels: Bug, CUDA

#214 Building ginkgo as a static library
  CMakeLists.txt
  README.md
  cuda/CMakeLists.txt
  include/ginkgo/core/base/version.hpp
  install_test/CMakeLists.txt
  omp/CMakeLists.txt
  reference/CMakeLists.txt
Labels: Build, CUDA, OMP

#227 Fix the OpenMP module creation problem due to missing link.
  omp/CMakeLists.txt
Labels: Bug, Build, CUDA, OMP

#216 Add a `GINKGO_` prefix to all CMake variables and functions.
  .gitlab-ci.yml
  ABOUT-LICENSING.md
  CMakeLists.txt
  README.md
  benchmark/spmv_comparison_cuda/CMakeLists.txt
  benchmark/spmv_comparison_cuda/spmv_comparison_cuda.cpp
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindPAPI.cmake
  cmake/create_test.cmake
  cmake/install_helpers.cmake
  core/CMakeLists.txt
  core/device_hooks/CMakeLists.txt
  core/test/base/CMakeLists.txt
  core/test/log/CMakeLists.txt
  core/test/matrix/CMakeLists.txt
  core/test/preconditioner/CMakeLists.txt
  core/test/solver/CMakeLists.txt
  core/test/stop/CMakeLists.txt
  core/test/utils/CMakeLists.txt
  cuda/CMakeLists.txt
  cuda/test/base/CMakeLists.txt
  cuda/test/matrix/CMakeLists.txt
  cuda/test/preconditioner/CMakeLists.txt
  cuda/test/solver/CMakeLists.txt
  cuda/test/stop/CMakeLists.txt
  cuda/test/utils/CMakeLists.txt
  dev_tools/scripts/create_new_algorithm.sh
  doc/CMakeLists.txt
  doc/helpers.cmake
  examples/3pt_stencil/3pt_stencil.cpp
  examples/asynchronous_stopping_criterion/asynchronous_stopping_criterion.cpp
  examples/custom_matrix_format/CMakeLists.txt
  examples/custom_matrix_format/custom_matrix_format.cpp
  examples/ginkgo_overhead/ginkgo_overhead.cpp
  examples/inverse_iteration/inverse_iteration.cpp
  examples/minimal_solver_cuda/minimal_solver_cuda.cpp
  examples/papi_logging/papi_logging.cpp
  examples/poisson_solver/poisson_solver.cpp
  examples/preconditioned_solver/preconditioned_solver.cpp
  examples/ranges/ranges.cpp
  examples/simple_solver/simple_solver.cpp
  examples/simple_solver_logging/simple_solver_logging.cpp
  include/ginkgo/config.hpp.in
  omp/CMakeLists.txt
  omp/test/matrix/CMakeLists.txt
  omp/test/solver/CMakeLists.txt
  omp/test/stop/CMakeLists.txt
  reference/CMakeLists.txt
  reference/test/base/CMakeLists.txt
  reference/test/log/CMakeLists.txt
  reference/test/matrix/CMakeLists.txt
  reference/test/preconditioner/CMakeLists.txt
  reference/test/solver/CMakeLists.txt
  reference/test/stop/CMakeLists.txt
  reference/test/utils/CMakeLists.txt
  third_party/CMakeLists.txt
  third_party/DownloadCMakeLists.txt.in
Labels: Build, Enhancement, xSDK

#228 Fix gh-pages CI step which did not use the new `GINKGO_` prefix.
  .gitlab-ci.yml
Labels: Bug, Build, CI/CD

#217 CMake modernization
  CMakeLists.txt
  benchmark/spmv_comparison_cuda/CMakeLists.txt
  cmake/Modules/FindPAPI.cmake
  cmake/build_helpers.cmake
  cmake/install_helpers.cmake
  core/CMakeLists.txt
  core/device_hooks/CMakeLists.txt
  core/devices/CMakeLists.txt
  cuda/CMakeLists.txt
  dev_tools/scripts/create_new_algorithm.sh
  doc/CMakeLists.txt
  doc/helpers.cmake
  examples/deal.ii_example/CMakeLists.txt
  install_test/CMakeLists.txt
  omp/CMakeLists.txt
  reference/CMakeLists.txt
Labels: Build, Enhancement

#198 Matrix conversion kernels for cuda
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  cuda/test/matrix/ell_kernels.cpp
  examples/ginkgo_overhead/ginkgo_overhead.cpp
Labels: CUDA, Matrix Format

#219 Improve the third party packages management for xSDK policies M12 and M16
  CMakeLists.txt
  README.md
  benchmark/matrix_generator/CMakeLists.txt
  benchmark/matrix_statistics/CMakeLists.txt
  benchmark/preconditioner/CMakeLists.txt
  benchmark/solver/CMakeLists.txt
  benchmark/spmv/CMakeLists.txt
  cmake/DownloadCMakeLists.txt.in
  cmake/create_test.cmake
  cmake/package_helpers.cmake
  third_party/CMakeLists.txt
  third_party/CudaArchitectureSelector/CMakeLists.txt
  third_party/DownloadCMakeLists.txt.in
  third_party/gflags/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/package_loader.cmake
  third_party/rapidjson/CMakeLists.txt
Labels: Build, Enhancement, xSDK

#220 Improve Ginkgo installation information
  CMakeLists.txt
  CPackConfig.cmake
  README.md
  cmake/GinkgoConfig.cmake.in
  cmake/create_test.cmake
  cmake/ginkgo.pc.in
  cmake/information_helpers.cmake
  cmake/install_helpers.cmake
  core/CMakeLists.txt
  core/test/log/CMakeLists.txt
  cuda/CMakeLists.txt
  examples/papi_logging/CMakeLists.txt
  examples/simple_solver_logging/simple_solver_logging.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/log/papi.hpp
  omp/CMakeLists.txt
  reference/test/log/CMakeLists.txt
  test_install/CMakeLists.txt
  test_install/test_install.cpp
Labels: Build, Enhancement, xSDK

#223 Fix conflict beetwen Ginkgo and CMake's CUDA_HOST_COMPILER settings.
  README.md
  cmake/GinkgoConfig.cmake.in
  cuda/CMakeLists.txt
Labels: Bug, Build, CUDA

#231 CDash integration plus coverage and sanitizers support
  .gitlab-ci.yml
  CMakeLists.txt
  CTestConfig.cmake
  README.md
  cmake/CTestCustom.cmake.in
  cmake/CTestScript.cmake
  cmake/build_type_helpers.cmake
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
Labels: Build, CI/CD, Enhancement

#235 GMRES CUDA solver support
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  cuda/solver/gmres_kernels.cu
  cuda/test/solver/CMakeLists.txt
  cuda/test/solver/gmres_kernels.cpp
  omp/solver/gmres_kernels.cpp
  reference/solver/gmres_kernels.cpp
Labels: CUDA, Solver

#236 Fix memory leaks detected by Valgrind in Ginkgo.
  core/device_hooks/cuda_hooks.cpp
  core/test/base/executor.cpp
  cuda/base/executor.cpp
  dev_tools/valgrind/suppressions.supp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/executor.hpp
Labels: CUDA, Enhancement, OMP

#237 Omp block jacobi
  omp/matrix/dense_kernels.cpp
  omp/preconditioner/jacobi_kernels.cpp
  omp/test/CMakeLists.txt
  omp/test/preconditioner/CMakeLists.txt
  omp/test/preconditioner/jacobi_kernels.cpp
Labels: OMP, Preconditioner

#238 Improve the CI documentation step for the master branch and tags.
  .gitlab-ci.yml
Labels: Build, Documentation

#239 Fix forgotten `GKO_` prefix in omp Jacobi preconditioner test
  omp/test/preconditioner/jacobi_kernels.cpp
Labels: Bug, OMP, Preconditioner, Testing

#224 Cuda matrix conversion sellp
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/sellp_kernels.cu
  cuda/test/matrix/dense_kernels.cpp
  cuda/test/matrix/sellp_kernels.cpp
Labels: CUDA, Enhancement, Matrix Format
