Repository ginkgo-project/ginkgo, pull requests merged in 2019-03, with the labels that each got.

#232 Fix warnings.
  .gitlab-ci.yml
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/utils/general.hpp
  core/CMakeLists.txt
  core/base/combination.cpp
  core/base/composition.cpp
  core/base/mtx_io.cpp
  core/log/stream.cpp
  core/matrix/dense.cpp
  core/matrix/identity.cpp
  core/solver/bicgstab_kernels.hpp
  core/solver/cgs_kernels.hpp
  cuda/CMakeLists.txt
  cuda/base/cublas_bindings.hpp
  cuda/base/cusparse_bindings.hpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/base/matrix_data.hpp
  include/ginkgo/core/base/range.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/base/version.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/stop/criterion.hpp
  omp/CMakeLists.txt
  omp/components/format_conversion.hpp
  reference/CMakeLists.txt
  reference/components/format_conversion.hpp
Labels: Bug

#249 fix zero_array and initialize_zero_dense launch bound
  cuda/matrix/ell_kernels.cu
Labels: Bug, CUDA

#252 Fix the leftover variadic macro warnings which were forgotten.
  .gitlab-ci.yml
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  include/ginkgo/core/solver/bicgstab.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/cgs.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/core/solver/gmres.hpp
  include/ginkgo/core/stop/combined.hpp
Labels: Bug, Core

#254 Fix CMake ALIAS IMPORTED target error
  cmake/package_helpers.cmake
  third_party/gflags/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: Bug, Build

#256 Fix the recent problem in the CUDA test.
  core/base/executor.cpp
  cuda/base/executor.cpp
  cuda/test/base/cuda_executor.cu
  include/ginkgo/core/base/executor.hpp
Labels: Bug, CUDA, Testing

#255 Added stop_status unit tests
  core/test/stop/CMakeLists.txt
  core/test/stop/stopping_status.cpp
  core/test/utils/assertions.hpp
  cuda/test/solver/bicgstab_kernels.cpp
  cuda/test/solver/cg_kernels.cpp
  cuda/test/solver/cgs_kernels.cpp
  cuda/test/solver/fcg_kernels.cpp
  cuda/test/solver/gmres_kernels.cpp
  include/ginkgo/core/stop/stopping_status.hpp
  omp/test/solver/bicgstab_kernels.cpp
  omp/test/solver/cg_kernels.cpp
  omp/test/solver/cgs_kernels.cpp
  omp/test/solver/fcg_kernels.cpp
Labels: Solver, Testing

#257 Removed redundant operator overloading in `stopping_status` (caused by automatic merging)
  include/ginkgo/core/solver/ir.hpp
  include/ginkgo/core/stop/stopping_status.hpp
Labels: Bug, Core

#259 Fix memory leaks and reordering problems in array.hpp
  include/ginkgo/core/base/array.hpp
Labels: Bug, READY TO MERGE

#260 Prevented the executors to mismatch when calling a kernel
  core/matrix/dense.cpp
  include/ginkgo/core/base/utils.hpp
  include/ginkgo/core/matrix/dense.hpp
Labels: Core, READY TO MERGE

#261 Fixed the `fatal: not a git repository` error
  cmake/information_helpers.cmake
Labels: Bug, Build, READY TO MERGE

#262 Cuda tests or implementation of multiple RHS
  core/matrix/dense.cpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/hybrid_kernels.cpp
Labels: Bug, CUDA, Testing

#264 Add codecov
  .gitlab-ci.yml
  README.md
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
Labels: CI/CD, READY TO MERGE

#267 Add support for CUDA compute capability 7.5
  cuda/base/executor.cpp
Labels: CUDA, Enhancement, READY TO MERGE

#269 Use cooperative groups for all synchronizations we have in the CUDA code
  cuda/components/cooperative_groups.cuh
  cuda/components/shuffle.cuh
  cuda/components/synchronization.cuh
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
Labels: CUDA, READY TO MERGE

#276 Allow Ginkgo to be build statically with CUDA
  CMakeLists.txt
  cuda/CMakeLists.txt
  test_install/CMakeLists.txt
  test_install/test_install.cpp
Labels: Bug, Build, Ready for review

#271 Supporting CUDA Toolkit 10.1 combined with GCC
  include/ginkgo/core/matrix/dense.hpp
Labels: Build, CUDA, READY TO MERGE, Solver

#265 Modification of CUDA mrhs
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/hybrid_kernels.cpp
Labels: CUDA, READY TO MERGE, Testing

#274 Update the third party packages to the latest releases
  CMakeLists.txt
  benchmark/utils/general.hpp
  third_party/gflags/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: Bug, Build, Ready for review

#280 Removed optional behavior (`shopt`) from scripts
  dev_tools/scripts/add_license.sh
  dev_tools/scripts/update_ginkgo_header.sh
Labels: Bug, Build, READY TO MERGE

#278 Fix circular deps
  .gitlab-ci.yml
  cmake/create_test.cmake
  core/base/executor.cpp
  core/devices/cuda/executor.cpp
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  cuda/CMakeLists.txt
  cuda/components/warp_blas.cuh
  cuda/preconditioner/jacobi_kernels.cu
  cuda/solver/gmres_kernels.cu
  cuda/test/solver/gmres_kernels.cpp
  dev_tools/containers/build_all_containers.sh
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
  omp/CMakeLists.txt
  omp/solver/gmres_kernels.cpp
  reference/CMakeLists.txt
  reference/solver/gmres_kernels.cpp
Labels: Bug, Build, CUDA, Core, Ready for review, Reference
