Repository ginkgo-project/ginkgo, pull requests merged in 2019-08, with the labels that each got.

#328 Fix CGS logging and update containers
  core/solver/cgs.cpp
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
Labels: Bug, CI/CD, Core, Solver

#332 Fixed issue with Apple's clang++ 10 compiler
  core/base/iterator_factory.hpp
  core/test/base/iterator_factory.cpp
Labels: Apple, Bug, Build, Core, Ready for review

#337 Intel compilation
  .gitlab-ci.yml
  CMakeLists.txt
  README.md
  benchmark/utils/spmv_common.hpp
  cmake/CTestCustom.cmake.in
  core/factorization/par_ilu.cpp
  cuda/CMakeLists.txt
  dev_tools/containers/README.md
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
  examples/custom-logger/custom-logger.cpp
  include/ginkgo/core/base/composition.hpp
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/base/version.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  reference/test/factorization/par_ilu_kernels.cpp
Labels: Bug, Build, CI/CD, Intel, Ready for review

#334 Perturbation LinOp
  core/CMakeLists.txt
  core/base/perturbation.cpp
  core/test/base/CMakeLists.txt
  core/test/base/perturbation.cpp
  include/ginkgo/core/base/combination.hpp
  include/ginkgo/core/base/composition.hpp
  include/ginkgo/core/base/perturbation.hpp
  include/ginkgo/ginkgo.hpp
  reference/test/base/CMakeLists.txt
  reference/test/base/perturbation.cpp
  test_install/test_install.cpp
Labels: Core, New feature, READY TO MERGE

#340 Fixed slow COO SpMV for the OpenMP executor
  omp/matrix/coo_kernels.cpp
Labels: Matrix Format, OMP, Ready for review
