Repository ginkgo-project/ginkgo, pull requests merged in 2019-06, with the labels that each got.

#310 Cuda and Omp matrix conversion of Csr and Hybrid and Omp count_nonzeros of Ell
  cuda/CMakeLists.txt
  cuda/components/atomic.cuh
  cuda/components/format_conversion.cuh
  cuda/components/reduction.cuh
  cuda/components/segment_scan.cuh
  cuda/components/zero_array.cu
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/matrix/hybrid_kernels.cu
  cuda/matrix/sellp_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/hybrid_kernels.cpp
  include/ginkgo/core/matrix/hybrid.hpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/ell_kernels.cpp
  omp/matrix/hybrid_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/ell_kernels.cpp
  omp/test/matrix/hybrid_kernels.cpp
Labels: CUDA, Matrix Format, OMP, READY TO MERGE

#312 Add conversions benchmarking support to Ginkgo
  benchmark/CMakeLists.txt
  benchmark/conversions/CMakeLists.txt
  benchmark/conversions/conversions.cpp
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/general.hpp
  benchmark/utils/spmv_common.hpp
  codecov.yml
  doc/conf/Doxyfile-pdf.in
  examples/nine-pt-stencil-solver/doc/intro.dox
  examples/twentyseven-pt-stencil-solver/doc/intro.dox
  sonar-project.properties
Labels: Benchmarking, Matrix Format, New feature, Ready for review

#313 Fix CSR->ELL conversion
  benchmark/conversions/conversions.cpp
  benchmark/run_all_benchmarks.sh
  cuda/matrix/csr_kernels.cu
Labels: Benchmarking, Bug, CUDA, Enhancement, Matrix Format, Ready for review

#315 Parilu omp
  omp/factorization/par_ilu_kernels.cpp
  omp/test/CMakeLists.txt
  omp/test/factorization/CMakeLists.txt
  omp/test/factorization/ani1.mtx
  omp/test/factorization/par_ilu_kernels.cpp
Labels: OMP, Preconditioner, Ready for review

#316 Fixed gcc 6.4 `internal compiler error`
  core/base/iterator_factory.hpp
Labels: Bug, Core, Ready for review

#317 Improve the conversions benchmarks
  benchmark/conversions/conversions.cpp
Labels: Benchmarking, Enhancement, Ready for review

#318 Accelerate CSR->Ell,Hybrid conversions on CUDA
  cuda/matrix/csr_kernels.cu
Labels: Bug, CUDA, Matrix Format, Ready for review

#319 Improved ParIlu kernels: interface & implemtation
  core/device_hooks/common_kernels.inc.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilu_kernels.hpp
  cuda/factorization/par_ilu_kernels.cu
  omp/factorization/par_ilu_kernels.cpp
  omp/test/factorization/par_ilu_kernels.cpp
  reference/factorization/par_ilu_kernels.cpp
  reference/test/factorization/par_ilu_kernels.cpp
Labels: Core, Enhancement, OMP, READY TO MERGE, Reference
