Repository ginkgo-project/ginkgo, pull requests merged in 2019-11, with the labels that each got.

#379 Improve CSR strategies
  core/matrix/coo.cpp
  core/matrix/dense.cpp
  core/matrix/ell.cpp
  core/matrix/hybrid.cpp
  core/matrix/sellp.cpp
  core/test/base/exception_helpers.cpp
  core/test/matrix/csr.cpp
  cuda/matrix/csr_kernels.cu
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/ell_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
  reference/test/matrix/sellp_kernels.cpp
Labels: Core, Enhancement, Matrix Format, READY TO MERGE

#384 fix link problem on MacOS
  core/device_hooks/CMakeLists.txt
  omp/CMakeLists.txt
Labels: Apple, Bug, Build, HIP, READY TO MERGE

#377 Add calculation of max relative norm in spmv
  CMakeLists.txt
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/general.hpp
  benchmark/utils/loggers.hpp
Labels: Benchmarking, READY TO MERGE

#388 Fix broken bounds checks
  core/test/base/exception_helpers.cpp
  core/test/matrix/permutation.cpp
  include/ginkgo/core/matrix/coo.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/ell.hpp
  include/ginkgo/core/matrix/permutation.hpp
  include/ginkgo/core/matrix/sparsity_csr.hpp
Labels: Bug, READY TO MERGE

#390 Improve update header
  CMakeLists.txt
  dev_tools/scripts/update_ginkgo_header.sh
Labels: Build, Enhancement, READY TO MERGE

#391 port cuda factorization to hip
  common/factorization/par_ilu_kernels.hpp.inc
  cuda/factorization/par_ilu_kernels.cu
  hip/factorization/par_ilu_kernels.hip.cpp
  hip/test/CMakeLists.txt
  hip/test/factorization/CMakeLists.txt
  hip/test/factorization/par_ilu_kernels.hip.cpp
Labels: Factorization, HIP, READY TO MERGE

#386 Add basic SpGeMM kernel
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  hip/matrix/csr_kernels.hip.cpp
  omp/matrix/csr_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
Labels: Core, OMP, READY TO MERGE, Reference

#396 add hip in documentation
  INSTALL.md
  README.md
  doc/headers/hip_executor.hpp
  doc/headers/modules.dot
  doc/helpers.cmake
  include/ginkgo/core/base/executor.hpp
Labels: Documentation

#399 Update git-cmake-format source repository
  third_party/git-cmake-format/CMakeLists.txt
Labels: READY TO MERGE

#395 Print error for incompatible HIP and CUDA settings
  benchmark/CMakeLists.txt
Labels: Build, CUDA, HIP, READY TO MERGE

#398 Add cuSPARSE bindings for SpGeMM
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/base/cusparse_bindings.hpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  omp/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
Labels: CUDA, READY TO MERGE

#401 Improve classical csr
  common/matrix/csr_kernels.hpp.inc
  cuda/matrix/csr_kernels.cu
  hip/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/matrix/csr.hpp
Labels: HIP, Matrix Format, READY TO MERGE

#403 Add CSR sorting kernels based on cuSPARSE
  cuda/base/cusparse_bindings.hpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
Labels: CUDA, READY TO MERGE

#405 Add return value to atomic operations
  common/components/atomic.hpp.inc
  cuda/components/atomic.cuh
  hip/components/atomic.hip.hpp
Labels: CUDA, HIP, READY TO MERGE

#404 port cuda triangular solver to hip
  cuda/base/cusparse_bindings.hpp
  cuda/solver/common_trs_kernels.cuh
  hip/base/hipsparse_bindings.hip.hpp
  hip/solver/common_trs_kernels.hip.hpp
  hip/solver/lower_trs_kernels.hip.cpp
  hip/solver/upper_trs_kernels.hip.cpp
  hip/test/solver/CMakeLists.txt
  hip/test/solver/lower_trs_kernels.cpp
  hip/test/solver/upper_trs_kernels.cpp
Labels: HIP, READY TO MERGE, Solver
