Repository ginkgo-project/ginkgo, pull requests merged in 2019-05, with the labels that each got.

#297 Two examples for 9pt and 27pt stencils.
  contributors.txt
  doc/examples/examples.hpp.in
  examples/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/build.sh
  examples/nine-pt-stencil-solver/doc/builds-on
  examples/nine-pt-stencil-solver/doc/intro.dox
  examples/nine-pt-stencil-solver/doc/kind
  examples/nine-pt-stencil-solver/doc/results.dox
  examples/nine-pt-stencil-solver/doc/short-intro
  examples/nine-pt-stencil-solver/doc/tooltip
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/twentyseven-pt-stencil-solver/CMakeLists.txt
  examples/twentyseven-pt-stencil-solver/build.sh
  examples/twentyseven-pt-stencil-solver/doc/builds-on
  examples/twentyseven-pt-stencil-solver/doc/intro.dox
  examples/twentyseven-pt-stencil-solver/doc/kind
  examples/twentyseven-pt-stencil-solver/doc/results.dox
  examples/twentyseven-pt-stencil-solver/doc/short-intro
  examples/twentyseven-pt-stencil-solver/doc/tooltip
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: Example, Ready for review

#303 Add cusp benchmark
  benchmark/CMakeLists.txt
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  benchmark/spmv/CMakeLists.txt
  benchmark/spmv/cuda_linops.hpp
  benchmark/spmv/spmv.cpp
  benchmark/spmv_comparison_cuda/CMakeLists.txt
  benchmark/spmv_comparison_cuda/additional_check.patch
  benchmark/spmv_comparison_cuda/build.sh
  benchmark/spmv_comparison_cuda/spmv_comparison_cuda.cpp
  cuda/CMakeLists.txt
  cuda/base/cusparse_bindings.hpp
  cuda/base/device_guard.hpp
  cuda/base/executor.cpp
  cuda/base/types.hpp
Labels: Benchmarking, CUDA, Enhancement, READY TO MERGE

#302 Reference matrix conversion of Csr and Hybrid
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  core/matrix/hybrid.cpp
  core/matrix/hybrid_kernels.hpp
  cuda/matrix/csr_kernels.cu
  cuda/matrix/hybrid_kernels.cpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/hybrid.hpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/hybrid_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/hybrid_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
Labels: Enhancement, Matrix Format, READY TO MERGE, Reference

#304 Add sonarqube capacities to Ginkgo.
  .gitlab-ci.yml
  cmake/CTestScript.cmake
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
  sonar-project.properties
Labels: Build, CI/CD, Ready for review

#308 Fix sonarqube_cov job for long living branches
  .gitlab-ci.yml
Labels: Bug, CI/CD

#309 Really fix the Sonarqube problems...
  .gitlab-ci.yml
  cmake/CTestCustom.cmake.in
  cmake/CTestScript.cmake
Labels: Bug, CI/CD

#311 Fix TSAN and ASAN problems, improve sonarqube CI job
  .gitlab-ci.yml
  cmake/CTestCustom.cmake.in
  cmake/CTestScript.cmake
  cmake/build_type_helpers.cmake
Labels: Bug, CI/CD, Ready for review

#306 Fix in the description in the 27 pt stencil and 9pt stencil examples
  examples/nine-pt-stencil-solver/doc/intro.dox
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/twentyseven-pt-stencil-solver/doc/intro.dox
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: Documentation, Example, READY TO MERGE, Ready for review
