Repository ginkgo-project/ginkgo, pull requests merged in 2019-10, with the labels that each got.

#358 add example how to use ParILU to generate an ILU-preconditioned solver
  examples/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/ilu-preconditioned-solver/build.sh
  examples/ilu-preconditioned-solver/data/A.mtx
  examples/ilu-preconditioned-solver/data/b.mtx
  examples/ilu-preconditioned-solver/data/x0.mtx
  examples/ilu-preconditioned-solver/doc/builds-on
  examples/ilu-preconditioned-solver/doc/intro.dox
  examples/ilu-preconditioned-solver/doc/kind
  examples/ilu-preconditioned-solver/doc/results.dox
  examples/ilu-preconditioned-solver/doc/short-intro
  examples/ilu-preconditioned-solver/doc/tooltip
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
Labels: Example, Factorization, Preconditioner, READY TO MERGE

#359 fix bicgstab
  core/solver/bicgstab.cpp
Labels: Bug, Core, Solver

#361 Upgrade the containers to the correct new setup.
  dev_tools/containers/build_all_containers.sh
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  dev_tools/containers/gko-amd-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda100-gnu7-llvm60.baseimage
  dev_tools/containers/gko-cuda90-gnu5-llvm39.baseimage
  dev_tools/containers/gko-cuda91-gnu6-llvm40.baseimage
  dev_tools/containers/gko-cuda92-gnu7-llvm50.baseimage
  dev_tools/containers/gko-nocuda-gnu8-llvm70.baseimage
  dev_tools/containers/texlive/texlive.profile
Labels: Bug, CI/CD, Documentation, Enhancement, Ready for review

#360 Add an example to show how to debug performance with loggers.
  .gitlab-ci.yml
  codecov.yml
  examples/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/performance-debugging/build.sh
  examples/performance-debugging/data/A.mtx
  examples/performance-debugging/doc/builds-on
  examples/performance-debugging/doc/intro.dox
  examples/performance-debugging/doc/kind
  examples/performance-debugging/doc/results.dox
  examples/performance-debugging/doc/short-intro
  examples/performance-debugging/doc/tooltip
  examples/performance-debugging/performance-debugging.cpp
Labels: Example, Ready for review

#363 Improve update hessenberg of gmres
  benchmark/solver/solver.cpp
  core/solver/gmres.cpp
  cuda/solver/gmres_kernels.cu
Labels: CUDA, READY TO MERGE, Solver

#365 Improve the CI container setup
  .gitlab-ci.yml
  README.md
  codecov.yml
  dev_tools/containers/README.md
  dev_tools/containers/build_all_containers.sh
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
Labels: CI/CD, Enhancement, Ready for review

#351 Microsoft Visual Studio Compiler Support
  CMakeLists.txt
  INSTALL.md
  README.md
  benchmark/spmv/CMakeLists.txt
  cmake/build_helpers.cmake
  cmake/package_helpers.cmake
  core/base/combination.cpp
  core/base/mtx_io.cpp
  core/test/base/math.cpp
  core/test/base/mtx_io.cpp
  core/test/log/stream.cpp
  core/test/utils/matrix_generator.hpp
  cuda/CMakeLists.txt
  cuda/base/math.hpp
  cuda/factorization/par_ilu_kernels.cu
  include/ginkgo/core/base/abstract_factory.hpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/base/matrix_data.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/base/utils.hpp
  include/ginkgo/core/stop/criterion.hpp
  reference/factorization/par_ilu_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
  reference/test/stop/combined.cpp
  reference/test/stop/time.cpp
  third_party/gflags/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
Labels: Build, Ready for review, Windows

#366 Use same matrix list in benchmark and warmup/repetitions in solver
  benchmark/CMakeLists.txt
  benchmark/conversions/conversions.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/CMakeLists.txt
  benchmark/solver/solver.cpp
  benchmark/spmv/CMakeLists.txt
  benchmark/spmv/spmv.cpp
  benchmark/utils/cuda_linops.hpp
  benchmark/utils/formats.hpp
  benchmark/utils/general.hpp
  benchmark/utils/spmv_common.hpp
Labels: Benchmarking, READY TO MERGE

#367 Fix some doxygen issues.
  doc/conf/Doxyfile.in
  doc/examples/examples.hpp.in
  doc/scripts/make_example.pl
  examples/nine-pt-stencil-solver/doc/builds-on
  examples/twentyseven-pt-stencil-solver/doc/builds-on
Labels: Bug, Build, Documentation

#370 Release v1.1.0 for develop
  CHANGELOG.md
  CMakeLists.txt
  INSTALL.md
  README.md
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/omp_hooks.cpp
  core/device_hooks/reference_hooks.cpp
  cuda/CMakeLists.txt
  cuda/components/diagonal_block_manipulation.cuh
  cuda/preconditioner/jacobi_generate_kernel.cu
  cuda/preconditioner/jacobi_kernels.cu
  cuda/test/preconditioner/jacobi_kernels.cpp
  examples/custom-logger/doc/results.dox
  examples/custom-matrix-format/doc/results.dox
  examples/custom-stopping-criterion/doc/results.dox
  examples/external-lib-interfacing/doc/results.dox
  examples/ginkgo-overhead/doc/results.dox
  examples/ginkgo-ranges/doc/results.dox
  examples/ilu-preconditioned-solver/doc/results.dox
  examples/inverse-iteration/doc/results.dox
  examples/minimal-cuda-solver/doc/results.dox
  examples/nine-pt-stencil-solver/doc/results.dox
  examples/papi-logging/doc/results.dox
  examples/performance-debugging/doc/results.dox
  examples/poisson-solver/doc/results.dox
  examples/preconditioned-solver/doc/results.dox
  examples/simple-solver-logging/doc/results.dox
  examples/simple-solver/doc/results.dox
  examples/three-pt-stencil-solver/doc/results.dox
  examples/twentyseven-pt-stencil-solver/doc/results.dox
  include/ginkgo/core/base/executor.hpp
  third_party/gflags/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: Ready for review

#371 Add support for factorization in create_new_algorithm.sh
  dev_tools/scripts/create_new_algorithm.sh
Labels: Enhancement, Factorization, Ready for review

#374 fix sellp read
  core/matrix/sellp.cpp
Labels: Bug, Core, Matrix Format, READY TO MERGE

#375 fix ell error on small mtx and allow flexible warp_size
  cuda/matrix/ell_kernels.cu
  cuda/test/matrix/ell_kernels.cpp
Labels: CUDA, Matrix Format, READY TO MERGE, Testing
