Repository ginkgo-project/ginkgo, pull requests merged in 2019-12, with the labels that each got.

#407 update cuda auto csr param
  include/ginkgo/core/matrix/csr.hpp
Labels: CUDA, Matrix Format, READY TO MERGE

#413 Update Ginkgo badges
  README.md
Labels: Documentation, READY TO MERGE

#410 Fix some issues with complex number types
  common/base/math.hpp.inc
  core/test/base/math.cpp
  cuda/components/zero_array.cu
  hip/components/zero_array.hip.cpp
  include/ginkgo/core/base/math.hpp
Labels: Bug, Confirmed, Core, Ready for review

#411 Improve ell performance
  common/matrix/ell_kernels.hpp.inc
  cuda/matrix/ell_kernels.cu
  hip/matrix/ell_kernels.hip.cpp
Labels: CUDA, Enhancement, HIP, Matrix Format, READY TO MERGE

#415 fix windows compile
  CMakeLists.txt
  include/ginkgo/core/base/executor.hpp
Labels: Build, READY TO MERGE, Windows

#416 Add assertion for sparsity pattern equality
  core/test/utils/assertions.hpp
  core/test/utils/assertions_test.cpp
  cuda/test/factorization/par_ilu_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  hip/test/factorization/par_ilu_kernels.hip.cpp
  omp/test/factorization/par_ilu_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
Labels: READY TO MERGE, Testing

#419 Ensure non-zero diagonal when generating triangular matrices
  common/factorization/par_ilu_kernels.hpp.inc
  core/test/utils/matrix_generator.hpp
  omp/factorization/par_ilu_kernels.cpp
  reference/factorization/par_ilu_kernels.cpp
  reference/test/factorization/par_ilu_kernels.cpp
Labels: Bug, Factorization, Ready for review, Testing

#420 Update and fix the create new algorithm script
  dev_tools/scripts/create_new_algorithm.sh
  hip/test/matrix/CMakeLists.txt
  hip/test/solver/CMakeLists.txt
Labels: Helper scripts, Ready for review

#414 Fix GinkgoTargets.cmake with the correct installation paths
  .gitlab-ci.yml
  cmake/install_helpers.cmake
  dev_tools/containers/ginkgo-cuda-base.py
  dev_tools/containers/ginkgo-nocuda-base.py
  include/ginkgo/core/stop/criterion.hpp
Labels: Bug, Build, READY TO MERGE

#421 Compile HIP related code only once in CI.
  .gitlab-ci.yml
Labels: Bug, Build, CI/CD, Ready for review

#424 `create_with_config_of` now calls a virtual function
  include/ginkgo/core/matrix/dense.hpp
Labels: Core, Matrix Format, READY TO MERGE

#418 Add HIP bindings for SpGeMM
  common/base/math.hpp.inc
  common/matrix/csr_kernels.hpp.inc
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  hip/base/hipsparse_bindings.hip.hpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/base/types.hpp
  omp/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
Labels: HIP, READY TO MERGE

#427 Add factory parameter to set the strategy for L and U in ParIlu factorization
  core/factorization/par_ilu.cpp
  include/ginkgo/core/factorization/par_ilu.hpp
  reference/test/factorization/par_ilu_kernels.cpp
Labels: Enhancement, Factorization, Ready for review

#428 Add hipSPARSE csrsort
  cuda/test/matrix/csr_kernels.cpp
  hip/base/hipsparse_bindings.hip.hpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/sparsity_csr_kernels.cpp
Labels: HIP, Ready for review
