Repository ginkgo-project/ginkgo, pull requests merged in 2020-08, with the labels that each got.

#607 Warn when CXX and CUDA host compiler do not match.
  cuda/CMakeLists.txt
Labels: READY-TO-MERGE, build

#601 add manual requirement of windows
  INSTALL.md
  README.md
Labels: READY-TO-MERGE, documentation, windows

#614 Fix a few cmake warnings
  CMakeLists.txt
  cmake/DownloadCMakeLists.txt.in
  cuda/CMakeLists.txt
  doc/CMakeLists.txt
  examples/external-lib-interfacing/CMakeLists.txt
Labels: READY-TO-MERGE, build

#602 Create executor in exec_map only if requested.
  contributors.txt
  examples/custom-matrix-format/custom-matrix-format.cpp
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/poisson-solver/poisson-solver.cpp
  examples/three-pt-stencil-solver/three-pt-stencil-solver.cpp
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: ST:ready-to-merge, is:bug, reg:example

#617 Fix write-after-write race in OpenMP is_sorted_by_column_index
  omp/matrix/csr_kernels.cpp
Labels: ST:ready-to-merge, is:bug, mod:openmp

#610 Output information after CMake configuration and generation.
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/get_info.cmake
  core/get_info.cmake
  cuda/CMakeLists.txt
  cuda/get_info.cmake
  hip/get_info.cmake
  omp/get_info.cmake
  reference/get_info.cmake
Labels: ST:ready-to-merge, is:enhancement, is:technical-debt, reg:build, reg:ci-cd, reg:documentation

#612 Fix norm-type in the examples
  examples/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/adaptiveprecision-blockjacobi/doc/results.dox
  examples/custom-logger/custom-logger.cpp
  examples/custom-logger/doc/results.dox
  examples/custom-matrix-format/custom-matrix-format.cpp
  examples/custom-matrix-format/stencil_kernel.cu
  examples/custom-stopping-criterion/custom-stopping-criterion.cpp
  examples/custom-stopping-criterion/doc/results.dox
  examples/ginkgo-overhead/doc/results.dox
  examples/ginkgo-ranges/doc/results.dox
  examples/ilu-preconditioned-solver/doc/results.dox
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/inverse-iteration/doc/results.dox
  examples/inverse-iteration/inverse-iteration.cpp
  examples/ir-ilu-preconditioned-solver/doc/results.dox
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/doc/results.dox
  examples/iterative-refinement/iterative-refinement.cpp
  examples/minimal-cuda-solver/doc/results.dox
  examples/mixed-precision-ir/doc/results.dox
  examples/mixed-precision-ir/mixed-precision-ir.cpp
  examples/nine-pt-stencil-solver/doc/results.dox
  examples/papi-logging/papi-logging.cpp
  examples/performance-debugging/doc/results.dox
  examples/performance-debugging/performance-debugging.cpp
  examples/poisson-solver/doc/results.dox
  examples/poisson-solver/poisson-solver.cpp
  examples/preconditioned-solver/doc/results.dox
  examples/preconditioned-solver/preconditioned-solver.cpp
  examples/preconditioner-export/doc/results.dox
  examples/simple-solver-logging/doc/results.dox
  examples/simple-solver-logging/simple-solver-logging.cpp
  examples/simple-solver/doc/results.dox
  examples/simple-solver/simple-solver.cpp
  examples/three-pt-stencil-solver/doc/results.dox
  examples/twentyseven-pt-stencil-solver/CMakeLists.txt
  examples/twentyseven-pt-stencil-solver/build.sh
  examples/twentyseven-pt-stencil-solver/doc/builds-on
  examples/twentyseven-pt-stencil-solver/doc/intro.dox
  examples/twentyseven-pt-stencil-solver/doc/kind
  examples/twentyseven-pt-stencil-solver/doc/results.dox
  examples/twentyseven-pt-stencil-solver/doc/short-intro
  examples/twentyseven-pt-stencil-solver/doc/tooltip
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: ST:ready-to-merge, is:bug, reg:documentation, reg:example

#580 Add diagonal matrix format for diagonal scaling
  common/matrix/dense_kernels.hpp.inc
  common/matrix/diagonal_kernels.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/factorization/par_ict.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  core/matrix/diagonal.cpp
  core/matrix/diagonal_kernels.hpp
  core/test/matrix/CMakeLists.txt
  core/test/matrix/diagonal.cpp
  cuda/CMakeLists.txt
  cuda/matrix/dense_kernels.cu
  cuda/matrix/diagonal_kernels.cu
  cuda/test/matrix/CMakeLists.txt
  cuda/test/matrix/dense_kernels.cpp
  cuda/test/matrix/diagonal_kernels.cpp
  hip/CMakeLists.txt
  hip/matrix/dense_kernels.hip.cpp
  hip/matrix/diagonal_kernels.hip.cpp
  hip/test/matrix/CMakeLists.txt
  hip/test/matrix/dense_kernels.hip.cpp
  hip/test/matrix/diagonal_kernels.hip.cpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/core/matrix/diagonal.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/matrix/dense_kernels.cpp
  omp/matrix/diagonal_kernels.cpp
  omp/test/matrix/CMakeLists.txt
  omp/test/matrix/dense_kernels.cpp
  omp/test/matrix/diagonal_kernels.cpp
  reference/CMakeLists.txt
  reference/matrix/dense_kernels.cpp
  reference/matrix/diagonal_kernels.cpp
  reference/test/matrix/CMakeLists.txt
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/diagonal_kernels.cpp
Labels: ST:ready-for-review, is:new-feature, mod:all, type:matrix-format

#622 Fix warnings for diagonal matrix format
  include/ginkgo/core/matrix/diagonal.hpp
Labels: ST:ready-to-merge, is:bug

#621 Use unified memory in CUDA debug builds
  cuda/base/executor.cpp
  dev_tools/scripts/gdb-ginkgo.py
  hip/base/executor.hip.cpp
Labels: ST:ready-to-merge, is:bug, mod:cuda

#619 Improve `BENCHMARKING.md` with more detailed info.
  BENCHMARKING.md
  benchmark/CMakeLists.txt
Labels: ST:ready-to-merge, is:enhancement, reg:benchmarking, reg:build, reg:documentation

#479 The JOSS paper.
  .github/workflows/joss.yml
  doc/joss/codemeta.json
  doc/joss/figures/ginkgo-csr.png
  doc/joss/figures/ginkgo-hierarchy.pdf
  doc/joss/figures/ginkgo-hierarchy.png
  doc/joss/figures/ginkgo-hierarchy.tex
  doc/joss/figures/ginkgo-hybrid.png
  doc/joss/gen_metadata
  doc/joss/paper.bib
  doc/joss/paper.md
Labels: ST:ready-to-merge, reg:paper

#624 Fix documentation warnings and errors.
  BENCHMARKING.md
  doc/conf/Doxyfile.in
  doc/helpers.cmake
Labels: ST:ready-to-merge, is:bug, reg:documentation, reg:helper-scripts

#625 Release 1.3.0 for develop
  CHANGELOG.md
  CITING.md
  CMakeLists.txt
  examples/build-setup.sh
Labels: ST:high-importance, ST:ready-for-review
