Repository ginkgo-project/ginkgo, pull requests merged in 2020-07, with the labels that each got.

#581 Clean up sanitizers
  .gitlab-ci.yml
  cmake/CTestScript.cmake
  core/devices/omp/executor.cpp
  cuda/base/executor.cpp
  hip/base/executor.hip.cpp
  omp/solver/bicgstab_kernels.cpp
  omp/stop/residual_norm_kernels.cpp
Labels: READY-TO-MERGE, ci-cd, openmp, testing

#576 Release/1.2.0
  CITING.md
  CMakeLists.txt
  README.md
  benchmark/solver/solver.cpp
  cuda/factorization/par_ilut_spgeam_kernel.cu
  cuda/matrix/csr_kernels.cu
  cuda/preconditioner/jacobi_generate_kernel.cu
  cuda/preconditioner/jacobi_simple_apply_kernel.cu
  doc/DoxygenLayout.xml
  doc/helpers.cmake
  examples/ginkgo-overhead/ginkgo-overhead.cpp
  hip/factorization/par_ilut_spgeam_kernel.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/preconditioner/jacobi_generate_kernel.hip.cpp
  hip/preconditioner/jacobi_simple_apply_kernel.hip.cpp
  omp/factorization/par_ict_kernels.cpp
  omp/factorization/par_ilut_kernels.cpp
  omp/matrix/csr_kernels.cpp
  reference/factorization/par_ict_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/log/convergence.cpp
  third_party/gflags/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: HIGH-IMPORTANCE, READY-FOR-REVIEW

#584 Add the Version 1.2.0 changelog.
  CHANGELOG.md
Labels: HIGH-IMPORTANCE, READY-FOR-REVIEW

#585 Fix the CAS with HIP and NVIDIA backends.
  third_party/CMakeLists.txt
Labels: READY-TO-MERGE, bug, build, hip

#587 Remove unused preconditioner parameter in LowerTrs
  include/ginkgo/core/solver/lower_trs.hpp
Labels: READY-TO-MERGE, bug, interface-breaking, solver

#588 update Ampere sm information
  common/base/executor.hpp.inc
  hip/CMakeLists.txt
  third_party/CudaArchitectureSelector/CMakeLists.txt
Labels: READY-TO-MERGE, cuda

#589 Fix sellp allocator
  core/matrix/sellp.cpp
Labels: READY-TO-MERGE, bug, core, matrix-format

#591 Fix find_library(cublas) issue on the machine installing multiple cuda
  cuda/CMakeLists.txt
Labels: READY-TO-MERGE, bug, build, cuda

#592 Add cuda-memcheck CI job
  .gitlab-ci.yml
  cmake/CTestScript.cmake
  common/matrix/sellp_kernels.hpp.inc
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/matrix/sellp_kernels.cu
  cuda/test/matrix/sellp_kernels.cpp
  hip/matrix/coo_kernels.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/matrix/ell_kernels.hip.cpp
  hip/matrix/sellp_kernels.hip.cpp
  hip/test/matrix/sellp_kernels.hip.cpp
Labels: READY-TO-MERGE, ci-cd, cuda, hip

#593 Fix reduce_add, prefix_sum, and doc-build
  common/components/prefix_sum.hpp.inc
  common/factorization/par_ilut_select_kernels.hpp.inc
  cuda/components/prefix_sum.cu
  cuda/components/reduction.cuh
  cuda/factorization/par_ilut_approx_filter_kernel.cu
  cuda/factorization/par_ilut_select_common.cu
  cuda/factorization/par_ilut_select_common.cuh
  cuda/factorization/par_ilut_select_kernel.cu
  doc/examples/CMakeLists.txt
  doc/helpers.cmake
  hip/components/prefix_sum.hip.cpp
  hip/components/reduction.hip.hpp
  hip/factorization/par_ilut_approx_filter_kernel.hip.cpp
  hip/factorization/par_ilut_select_common.hip.cpp
  hip/factorization/par_ilut_select_common.hip.hpp
  hip/factorization/par_ilut_select_kernel.hip.cpp
Labels: READY-TO-MERGE, bug, cuda, hip
