Repository ginkgo-project/ginkgo, pull requests merged in 2020-10, with the labels that each got.

#642 Test execution of examples in the CI.
  .gitlab-ci.yml
  examples/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/adaptiveprecision-blockjacobi/doc/results.dox
  examples/custom-logger/CMakeLists.txt
  examples/custom-logger/custom-logger.cpp
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-matrix-format/custom-matrix-format.cpp
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/custom-stopping-criterion/custom-stopping-criterion.cpp
  examples/external-lib-interfacing/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-overhead/doc/results.dox
  examples/ginkgo-overhead/ginkgo-overhead.cpp
  examples/ginkgo-ranges/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/inverse-iteration/CMakeLists.txt
  examples/inverse-iteration/inverse-iteration.cpp
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/doc/results.dox
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/CMakeLists.txt
  examples/iterative-refinement/doc/results.dox
  examples/iterative-refinement/iterative-refinement.cpp
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-precision-ir/doc/results.dox
  examples/mixed-precision-ir/mixed-precision-ir.cpp
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/doc/results.dox
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/papi-logging/CMakeLists.txt
  examples/papi-logging/papi-logging.cpp
  examples/performance-debugging/CMakeLists.txt
  examples/performance-debugging/performance-debugging.cpp
  examples/poisson-solver/CMakeLists.txt
  examples/poisson-solver/doc/results.dox
  examples/poisson-solver/poisson-solver.cpp
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioned-solver/preconditioned-solver.cpp
  examples/preconditioner-export/CMakeLists.txt
  examples/preconditioner-export/preconditioner-export.cpp
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver-logging/doc/results.dox
  examples/simple-solver-logging/simple-solver-logging.cpp
  examples/simple-solver/CMakeLists.txt
  examples/simple-solver/simple-solver.cpp
  examples/three-pt-stencil-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/doc/results.dox
  examples/three-pt-stencil-solver/three-pt-stencil-solver.cpp
Labels: ST:ready-to-merge, is:enhancement, reg:ci-cd, reg:example

#646 Improve identity constructor and treatment of rectangular matrices
  benchmark/utils/overhead_linop.hpp
  core/solver/gmres.cpp
  core/test/matrix/identity.cpp
  core/test/solver/bicg.cpp
  core/test/solver/bicgstab.cpp
  core/test/solver/cg.cpp
  core/test/solver/cgs.cpp
  core/test/solver/fcg.cpp
  core/test/solver/gmres.cpp
  core/test/solver/ir.cpp
  core/test/solver/lower_trs.cpp
  core/test/solver/upper_trs.cpp
  include/ginkgo/core/matrix/identity.hpp
  include/ginkgo/core/solver/bicg.hpp
  include/ginkgo/core/solver/bicgstab.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/cgs.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/core/solver/gmres.hpp
  include/ginkgo/core/solver/ir.hpp
Labels: ST:ready-to-merge, mod:core, type:solver

#647 Fix cuSPARSE CsrEx benchmark memory leak
  benchmark/utils/cuda_linops.hpp
Labels: ST:ready-to-merge, mod:cuda, reg:benchmarking

#649 fix omp local header and reorder_factory
  include/ginkgo/core/reorder/reordering_base.hpp
  omp/reorder/rcm_kernels.cpp
Labels: ST:ready-to-merge, mod:core, mod:openmp, plat:apple, plat:windows, type:reordering

#650 Make gko::dim conversion to bool explicit
  include/ginkgo/core/base/dim.hpp
Labels: ST:ready-to-merge, mod:core

#651 Fix BiCG and HIP CSR to work with complex matrices.
  core/solver/bicg.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/solver/bicg.hpp
Labels: ST:ready-to-merge, is:bug, mod:core, mod:hip, type:matrix-format, type:solver

#644 Matrix assembly data
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense_kernels.hpp
  core/test/base/CMakeLists.txt
  core/test/base/matrix_assembly_data.cpp
  core/test/matrix/coo.cpp
  core/test/matrix/csr.cpp
  core/test/matrix/dense.cpp
  core/test/matrix/ell.cpp
  core/test/matrix/hybrid.cpp
  core/test/matrix/sellp.cpp
  cuda/matrix/dense_kernels.cu
  hip/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/base/matrix_assembly_data.hpp
  include/ginkgo/core/matrix/coo.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/core/matrix/ell.hpp
  include/ginkgo/core/matrix/hybrid.hpp
  include/ginkgo/core/matrix/sellp.hpp
  include/ginkgo/core/matrix/sparsity_csr.hpp
  include/ginkgo/ginkgo.hpp
  omp/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, is:new-feature, mod:core, type:matrix-format

#655 Apply real matrices to complex vectors
  core/matrix/coo.cpp
  core/matrix/csr.cpp
  core/matrix/dense.cpp
  core/matrix/ell.cpp
  core/matrix/sellp.cpp
  core/test/matrix/dense.cpp
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  cuda/test/matrix/ell_kernels.cpp
  cuda/test/matrix/hybrid_kernels.cpp
  cuda/test/matrix/sellp_kernels.cpp
  hip/test/matrix/coo_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  hip/test/matrix/ell_kernels.hip.cpp
  hip/test/matrix/hybrid_kernels.hip.cpp
  hip/test/matrix/sellp_kernels.hip.cpp
  include/ginkgo/core/matrix/dense.hpp
  omp/test/matrix/coo_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  omp/test/matrix/ell_kernels.cpp
  omp/test/matrix/hybrid_kernels.cpp
  omp/test/matrix/sellp_kernels.cpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/ell_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
  reference/test/matrix/sellp_kernels.cpp
Labels: ST:ready-to-merge, is:new-feature, mod:all, type:matrix-format
