Repository ginkgo-project/ginkgo, pull requests merged in 2020-06, with the labels that each got.

#546 Add editorconfig support
  .editorconfig
  CMakeLists.txt
  benchmark/CMakeLists.txt
  cmake/create_test.cmake
  core/CMakeLists.txt
  cuda/CMakeLists.txt
  dev_tools/scripts/create_new_algorithm.sh
  doc/CMakeLists.txt
  doc/examples/CMakeLists.txt
  doc/helpers.cmake
  examples/CMakeLists.txt
  examples/custom-logger/doc/intro.dox
  examples/external-lib-interfacing/CMakeLists.txt
  examples/simple-solver/doc/intro.dox
  omp/CMakeLists.txt
  reference/CMakeLists.txt
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/permutation.cpp
Labels: Low Importance, Ready for review

#553 Fix GinkgoConfig
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  test_install/CMakeLists.txt
Labels: Build, Enhancement, Ready for review

#558 Fix test install
  core/CMakeLists.txt
  include/ginkgo/core/log/papi.hpp
  test_install/test_install.cpp
  test_install/test_install_cuda.cu
Labels: Bug, Ready for review, Testing

#557 Fix the (cuda|hip)DeviceReset issue.
  benchmark/utils/general.hpp
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/test/base/executor.cpp
  cuda/base/executor.cpp
  cuda/test/utils.hpp
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/custom-logger/custom-logger.cpp
  examples/custom-matrix-format/custom-matrix-format.cpp
  examples/custom-stopping-criterion/custom-stopping-criterion.cpp
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/inverse-iteration/inverse-iteration.cpp
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/iterative-refinement.cpp
  examples/minimal-cuda-solver/minimal-cuda-solver.cpp
  examples/mixed-precision-ir/mixed-precision-ir.cpp
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/papi-logging/papi-logging.cpp
  examples/performance-debugging/performance-debugging.cpp
  examples/poisson-solver/poisson-solver.cpp
  examples/preconditioned-solver/preconditioned-solver.cpp
  examples/simple-solver-logging/simple-solver-logging.cpp
  examples/simple-solver/simple-solver.cpp
  examples/three-pt-stencil-solver/three-pt-stencil-solver.cpp
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
  hip/base/executor.hip.cpp
  hip/test/utils.hip.hpp
  include/ginkgo/core/base/executor.hpp
Labels: Bug, CUDA, HIP, READY TO MERGE

#560 Test all empty matrix conversions on Reference
  core/matrix/dense.cpp
  core/test/matrix/sellp.cpp
  core/test/matrix/sparsity_csr.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/matrix/hybrid.hpp
  include/ginkgo/core/matrix/sellp.hpp
  include/ginkgo/core/matrix/sparsity_csr.hpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/ell_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
  reference/test/matrix/sellp_kernels.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
Labels: Bug, Core, READY TO MERGE, Testing

#549 Add contribution guidelines.
  .github/workflows/osx.yml
  .github/workflows/windows-build.yml
  CONTRIBUTING.md
  doc/DoxygenLayout.xml
Labels: Documentation, READY TO MERGE

#559 Fix the automatical strategy when shared.
  core/matrix/csr.cpp
  core/test/matrix/csr_builder.cpp
  cuda/test/matrix/csr_kernels.cpp
  doc/helpers.cmake
  hip/test/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/matrix/csr.hpp
  reference/test/factorization/par_ict_kernels.cpp
  reference/test/factorization/par_ilu_kernels.cpp
  reference/test/factorization/par_ilut_kernels.cpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  reference/test/matrix/ell_kernels.cpp
  reference/test/matrix/hybrid_kernels.cpp
  reference/test/matrix/sellp_kernels.cpp
Labels: READY-TO-MERGE, bug, core, matrix-format

#566 Fix windows GitHub action
  .github/workflows/windows-build.yml
Labels: READY-TO-MERGE, ci-cd, windows

#565 Prevent benchmark logger crashes with OpenMP
  benchmark/utils/loggers.hpp
  omp/preconditioner/isai_kernels.cpp
Labels: READY-TO-MERGE, benchmarking, bug, openmp

#552 Fix header self-sufficiency and add compile-time check
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL.md
  cmake/build_helpers.cmake
  core/CMakeLists.txt
  cuda/CMakeLists.txt
  cuda/base/types.hpp
  cuda/components/atomic.cuh
  cuda/components/format_conversion.cuh
  hip/CMakeLists.txt
  hip/base/hipsparse_bindings.hip.hpp
  hip/base/types.hip.hpp
  hip/components/format_conversion.hip.hpp
  include/CMakeLists.txt
  include/ginkgo/core/synthesizer/containers.hpp
  omp/CMakeLists.txt
  omp/components/format_conversion.hpp
  reference/CMakeLists.txt
  reference/components/convert_ptrs.hpp
  reference/components/format_conversion.hpp
Labels: READY-TO-MERGE, build, enhancement

#569 Fix Sonarqube warnings in examples/benchmarks
  benchmark/matrix_statistics/matrix_statistics.cpp
  examples/ginkgo-overhead/ginkgo-overhead.cpp
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/poisson-solver/poisson-solver.cpp
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: READY-TO-MERGE, bug, ci-cd

#564 Fix norm calculation to always use non-complex values
  common/matrix/dense_kernels.hpp.inc
  common/solver/gmres_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/log/convergence.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  core/solver/fcg.cpp
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  core/stop/residual_norm_reduction.cpp
  core/stop/residual_norm_reduction_kernels.hpp
  cuda/base/cublas_bindings.hpp
  cuda/matrix/dense_kernels.cu
  cuda/solver/gmres_kernels.cu
  cuda/stop/residual_norm_reduction_kernels.cu
  cuda/test/matrix/dense_kernels.cpp
  cuda/test/solver/gmres_kernels.cpp
  hip/base/hipblas_bindings.hip.hpp
  hip/matrix/dense_kernels.hip.cpp
  hip/solver/gmres_kernels.hip.cpp
  hip/stop/residual_norm_reduction_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  hip/test/solver/gmres_kernels.cpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/stop/residual_norm_reduction.hpp
  omp/matrix/dense_kernels.cpp
  omp/solver/gmres_kernels.cpp
  omp/stop/residual_norm_reduction_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  omp/test/stop/residual_norm_reduction_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/solver/gmres_kernels.cpp
  reference/stop/residual_norm_reduction_kernels.cpp
  reference/test/log/convergence.cpp
  reference/test/matrix/dense_kernels.cpp
  reference/test/solver/gmres_kernels.cpp
  reference/test/stop/residual_norm_reduction_kernels.cpp
Labels: READY-TO-MERGE, bug, core, cuda, hip, openmp, reference, solver

#556 Add CSR SpGEAM
  common/matrix/csr_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/matrix/csr.hpp
  omp/components/csr_spgeam.hpp
  omp/factorization/par_ict_kernels.cpp
  omp/factorization/par_ilut_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/components/csr_spgeam.hpp
  reference/factorization/par_ict_kernels.cpp
  reference/factorization/par_ilut_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
Labels: READY-TO-MERGE, new-feature

#567 HIP Clang compatibility
  CMakeLists.txt
  benchmark/CMakeLists.txt
  cmake/create_test.cmake
  cmake/hip_helpers.cmake
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/test/base/exception_helpers.cpp
  cuda/base/exception.cpp
  hip/CMakeLists.txt
  hip/base/exception.hip.cpp
Labels: READY-FOR-REVIEW, bug, build, hip

#575 Fix next residual norm calculation
  common/solver/gmres_kernels.hpp.inc
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  cuda/solver/gmres_kernels.cu
  cuda/test/solver/gmres_kernels.cpp
  hip/solver/gmres_kernels.hip.cpp
  hip/test/solver/gmres_kernels.cpp
  omp/solver/gmres_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  reference/solver/gmres_kernels.cpp
Labels: HIGH-IMPORTANCE, READY-FOR-REVIEW, affects-performance, bug, solver

#574 add relaxation in IR to represent Richardson iteration
  core/solver/ir.cpp
  core/test/solver/ir.cpp
  cuda/test/solver/ir_kernels.cpp
  hip/test/solver/ir_kernels.cpp
  include/ginkgo/core/solver/ir.hpp
  omp/test/solver/ir_kernels.cpp
  reference/test/solver/ir_kernels.cpp
Labels: READY-TO-MERGE, core, enhancement, solver

#578 Add support for LLVM sanitizers
  .gitlab-ci.yml
  cmake/GinkgoConfig.cmake.in
  cmake/build_type_helpers.cmake
  test_install/CMakeLists.txt
Labels: READY-TO-MERGE, ci-cd
