Repository ginkgo-project/ginkgo, pull requests merged in 2020-02, with the labels that each got.

#457 Use parallel merge in HIP advanced spgemm
  common/components/merging.hpp.inc
  common/matrix/csr_kernels.hpp.inc
  core/test/utils/assertions.hpp
  core/test/utils/matrix_generator.hpp
  cuda/matrix/csr_kernels.cu
  hip/matrix/csr_kernels.hip.cpp
Labels: Bug, HIP, Ready for review

#456 Fix parilu by adding explicit zeros to diagonal
  common/factorization/par_ilu_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilu_kernels.hpp
  cuda/factorization/par_ilu_kernels.cu
  cuda/test/factorization/par_ilu_kernels.cpp
  hip/factorization/par_ilu_kernels.hip.cpp
  hip/test/factorization/par_ilu_kernels.hip.cpp
  omp/factorization/par_ilu_kernels.cpp
  omp/test/factorization/par_ilu_kernels.cpp
  reference/factorization/par_ilu_kernels.cpp
  reference/test/factorization/par_ilu_kernels.cpp
Labels: Bug, CUDA, Core, Factorization, HIP, OMP, READY TO MERGE, Reference

#459 The same compile flag in hip and nvcc
  benchmark/CMakeLists.txt
  hip/CMakeLists.txt
  third_party/CudaArchitectureSelector/CMakeLists.txt
Labels: Build, HIP, READY TO MERGE

#460 Add Shuffle test
  hip/test/components/cooperative_groups.hip.cpp
Labels: HIP, READY TO MERGE, Testing

#463 Fix sonarqube warnings
  core/base/composition.cpp
  include/ginkgo/core/base/array.hpp
  omp/factorization/par_ilu_kernels.cpp
  omp/preconditioner/jacobi_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
Labels: READY TO MERGE

#466 Add missing clang parameter in AMD CI config
  .gitlab-ci.yml
Labels: Build, CI/CD, READY TO MERGE

#464 Extract thread ID computation from GPU kernels
  common/components/prefix_sum.hpp.inc
  common/components/reduction.hpp.inc
  common/components/thread_ids.hpp.inc
  common/components/zero_array.hpp.inc
  common/factorization/par_ilu_kernels.hpp.inc
  common/matrix/coo_kernels.hpp.inc
  common/matrix/csr_kernels.hpp.inc
  common/matrix/dense_kernels.hpp.inc
  common/matrix/ell_kernels.hpp.inc
  common/matrix/hybrid_kernels.hpp.inc
  common/matrix/sellp_kernels.hpp.inc
  common/preconditioner/jacobi_kernels.hpp.inc
  common/solver/bicg_kernels.hpp.inc
  common/solver/bicgstab_kernels.hpp.inc
  common/solver/cg_kernels.hpp.inc
  common/solver/cgs_kernels.hpp.inc
  common/solver/fcg_kernels.hpp.inc
  common/solver/gmres_kernels.hpp.inc
  common/solver/ir_kernels.hpp.inc
  cuda/components/zero_array.cu
  cuda/factorization/par_ilu_kernels.cu
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/matrix/hybrid_kernels.cu
  cuda/matrix/sellp_kernels.cu
  cuda/preconditioner/jacobi_kernels.cu
  cuda/solver/bicg_kernels.cu
  cuda/solver/bicgstab_kernels.cu
  cuda/solver/cg_kernels.cu
  cuda/solver/cgs_kernels.cu
  cuda/solver/fcg_kernels.cu
  cuda/solver/gmres_kernels.cu
  cuda/solver/ir_kernels.cu
  cuda/stop/criterion_kernels.cu
  cuda/stop/residual_norm_reduction_kernels.cu
  hip/components/zero_array.hip.hpp
  hip/factorization/par_ilu_kernels.hip.cpp
  hip/matrix/coo_kernels.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/matrix/ell_kernels.hip.cpp
  hip/matrix/hybrid_kernels.hip.cpp
  hip/matrix/sellp_kernels.hip.cpp
  hip/preconditioner/jacobi_kernels.hip.cpp
  hip/solver/bicg_kernels.hip.cpp
  hip/solver/bicgstab_kernels.hip.cpp
  hip/solver/cg_kernels.hip.cpp
  hip/solver/cgs_kernels.hip.cpp
  hip/solver/fcg_kernels.hip.cpp
  hip/solver/gmres_kernels.hip.cpp
  hip/solver/ir_kernels.hip.cpp
  hip/stop/criterion_kernels.hip.cpp
  hip/stop/residual_norm_reduction_kernels.hip.cpp
Labels: CUDA, HIP, READY TO MERGE
