Repository ginkgo-project/ginkgo, pull requests merged in 2020-04, with the labels that each got.

#485 Fix the view memory leak and array/view copy/move.
  core/test/base/array.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/exception_helpers.hpp
Labels: Bug, Core, Enhancement, Might Affect Performance, READY TO MERGE

#493 Add gko::as for smart pointers
  core/test/base/utils.cpp
  include/ginkgo/core/base/utils.hpp
Labels: Core, READY TO MERGE

#494 Change matrix location from SOURCE to BINARY
  matrices/config.hpp.in
Labels: Bug, Low Importance, Testing

#496 Fix some minor typos
  cmake/information_helpers.cmake
  include/ginkgo/core/base/polymorphic_object.hpp
Labels: Bug, Build, Core, READY TO MERGE

#498 Fix dim
  core/test/base/dim.cpp
  include/ginkgo/core/base/dim.hpp
Labels: Bug, Core, READY TO MERGE

#501 Simple overhead benchmarking facilities
  benchmark/solver/solver.cpp
  benchmark/utils/loggers.hpp
  benchmark/utils/overhead_linop.hpp
Labels: Benchmarking, Core, Enhancement, READY TO MERGE

#489 Add ISAI reference implementation
  .github/workflows/windows-build.yml
  common/preconditioner/isai_kernels.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/isai_kernels.hpp
  core/test/preconditioner/CMakeLists.txt
  core/test/preconditioner/isai.cpp
  cuda/CMakeLists.txt
  cuda/preconditioner/isai_kernels.cu
  hip/CMakeLists.txt
  hip/preconditioner/isai_kernels.hip.cpp
  include/ginkgo/core/preconditioner/isai.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/matrix/csr_kernels.cpp
  omp/preconditioner/isai_kernels.cpp
  reference/CMakeLists.txt
  reference/matrix/csr_kernels.cpp
  reference/preconditioner/isai_kernels.cpp
  reference/test/preconditioner/CMakeLists.txt
  reference/test/preconditioner/isai_kernels.cpp
  test_install/test_install.cpp
Labels: Core, New feature, Preconditioner, READY TO MERGE, Reference

#492 pragma unroll warning in hip
  .gitlab-ci.yml
  common/components/diagonal_block_manipulation.hpp.inc
  common/components/reduction.hpp.inc
  common/components/warp_blas.hpp.inc
  common/preconditioner/jacobi_generate_kernel.hpp.inc
  hip/components/cooperative_groups.hip.hpp
Labels: HIP, Might Affect Performance, READY TO MERGE

#510 Fix the windows cuda of GitHub action
  cuda/CMakeLists.txt
Labels: Bug, Build, CUDA, READY TO MERGE

#506 Add vector copy to ilu preconditioner.
  include/ginkgo/core/preconditioner/ilu.hpp
Labels: Bug, READY TO MERGE, Solver

#503 Allow benchmarking from a matrix list file
  benchmark/run_all_benchmarks.sh
Labels: Benchmarking, Enhancement, New feature, READY TO MERGE

#502 Add CUDA, HIP and OMP kernels for ISAI
  common/components/uninitialized_array.hpp.inc
  common/preconditioner/isai_kernels.hpp.inc
  cuda/preconditioner/isai_kernels.cu
  cuda/test/preconditioner/CMakeLists.txt
  cuda/test/preconditioner/isai_kernels.cpp
  hip/preconditioner/isai_kernels.hip.cpp
  hip/test/preconditioner/CMakeLists.txt
  hip/test/preconditioner/isai_kernels.hip.cpp
  include/ginkgo/core/preconditioner/isai.hpp
  omp/preconditioner/isai_kernels.cpp
  omp/test/preconditioner/CMakeLists.txt
  omp/test/preconditioner/isai_kernels.cpp
Labels: CUDA, DO NOT MERGE, HIP, OMP, Preconditioner, Ready for review

#507 Adaptive block-Jacobi example
  examples/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/adaptiveprecision-blockjacobi/build.sh
  examples/adaptiveprecision-blockjacobi/data/A.mtx
  examples/adaptiveprecision-blockjacobi/doc/builds-on
  examples/adaptiveprecision-blockjacobi/doc/intro.dox
  examples/adaptiveprecision-blockjacobi/doc/kind
  examples/adaptiveprecision-blockjacobi/doc/results.dox
  examples/adaptiveprecision-blockjacobi/doc/short-intro
  examples/adaptiveprecision-blockjacobi/doc/tooltip
Labels: Example

#512 Fix CUDA ISAI test by adding cuda include files during build
  cuda/test/preconditioner/CMakeLists.txt
Labels: Bug, Build, CUDA, READY TO MERGE

#508 Extended sparsity pattern for ISAI
  common/matrix/csr_kernels.hpp.inc
  common/preconditioner/isai_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/isai_kernels.hpp
  core/test/base/utils.cpp
  core/test/preconditioner/isai.cpp
  cuda/matrix/csr_kernels.cu
  cuda/preconditioner/isai_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/preconditioner/isai_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/preconditioner/isai_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/preconditioner/isai_kernels.hip.cpp
  include/ginkgo/core/base/utils.hpp
  include/ginkgo/core/preconditioner/isai.hpp
  omp/matrix/csr_kernels.cpp
  omp/preconditioner/isai_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/preconditioner/isai_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/preconditioner/isai_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/preconditioner/isai_kernels.cpp
Labels: Enhancement, Preconditioner, READY TO MERGE, Reference

#514 Fix benchmarking issue with JSON and non-finite numbers
  benchmark/utils/general.hpp
Labels: Benchmarking, Bug, READY TO MERGE

#504 Add ExecutorAllocator
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/utils/general.hpp
  benchmark/utils/loggers.hpp
  core/base/allocator.hpp
  core/matrix/sellp.cpp
  core/test/base/CMakeLists.txt
  core/test/base/allocator.cpp
  omp/matrix/csr_kernels.cpp
  omp/preconditioner/jacobi_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
Labels: Core, New feature, READY TO MERGE

#509 Add GDB pretty printer for gko::Array
  dev_tools/scripts/gdb-ginkgo.py
Labels: READY TO MERGE

#517 Fix CI core count
  .gitlab-ci.yml
Labels: Bug, Build, CI/CD, READY TO MERGE

#519 Make codecov patch check informational
  codecov.yml
Labels: CI/CD, READY TO MERGE

#513 Templatize the examples.
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/custom-logger/custom-logger.cpp
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-matrix-format/custom-matrix-format.cpp
  examples/custom-matrix-format/stencil_kernel.cu
  examples/custom-stopping-criterion/custom-stopping-criterion.cpp
  examples/ginkgo-overhead/ginkgo-overhead.cpp
  examples/ginkgo-ranges/ginkgo-ranges.cpp
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/nine-pt-stencil-solver/nine-pt-stencil-solver.cpp
  examples/papi-logging/papi-logging.cpp
  examples/performance-debugging/performance-debugging.cpp
  examples/poisson-solver/poisson-solver.cpp
  examples/preconditioned-solver/preconditioned-solver.cpp
  examples/simple-solver-logging/simple-solver-logging.cpp
  examples/simple-solver/simple-solver.cpp
  examples/three-pt-stencil-solver/three-pt-stencil-solver.cpp
  examples/twentyseven-pt-stencil-solver/twentyseven-pt-stencil-solver.cpp
Labels: Enhancement, Example, READY TO MERGE

#505 Optimize OpenMP lock contentions
  omp/matrix/csr_kernels.cpp
  omp/matrix/dense_kernels.cpp
  omp/matrix/ell_kernels.cpp
Labels: Might Affect Performance, OMP, READY TO MERGE

#516 Simplify executor copy interface
  core/factorization/ilu.cpp
  core/factorization/par_ilu.cpp
  core/test/base/executor.cpp
  cuda/components/reduction.cuh
  cuda/factorization/factorization_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/preconditioner/isai_kernels.cu
  cuda/stop/residual_norm_reduction_kernels.cu
  cuda/test/factorization/par_ilu_kernels.cpp
  hip/components/reduction.hip.hpp
  hip/factorization/factorization_kernels.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/preconditioner/isai_kernels.hip.cpp
  hip/stop/residual_norm_reduction_kernels.hip.cpp
  hip/test/factorization/par_ilu_kernels.hip.cpp
  include/ginkgo/core/base/executor.hpp
  omp/test/factorization/par_ilu_kernels.cpp
Labels: READY TO MERGE, Technical Debt
