Repository ginkgo-project/ginkgo, pull requests merged in 2020-11, with the labels that each got.

#657 Add GPU permutation kernels
  benchmark/CMakeLists.txt
  common/matrix/csr_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  omp/matrix/csr_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
Labels: ST:ready-to-merge, mod:cuda, mod:hip

#658 Dense: conversion to complex and extraction of real and imaginary part
  common/matrix/dense_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/dense_kernels.cpp
  dpcpp/matrix/dense_kernels.dp.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/matrix/dense.hpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, is:new-feature, mod:all, type:matrix-format

#660 Improve solver and preconditioner benchmarks
  BENCHMARKING.md
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  benchmark/utils/general.hpp
  benchmark/utils/preconditioners.hpp
Labels: ST:ready-to-merge, is:enhancement, reg:benchmarking

#661 Fix new algorithm script and DPC++ flags.
  cmake/GinkgoConfig.cmake.in
  cmake/build_helpers.cmake
  dev_tools/scripts/create_new_algorithm.sh
  dpcpp/CMakeLists.txt
  include/ginkgo/core/base/math.hpp
Labels: ST:ready-to-merge, mod:dpcpp, reg:build, reg:helper-scripts

#659 Add sorting option to both Jacobi preconditioner and the ILU factorization
  benchmark/utils/preconditioners.hpp
  core/base/utils.hpp
  core/factorization/ilu.cpp
  core/factorization/par_ict.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilut.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/jacobi.cpp
  core/test/utils/CMakeLists.txt
  core/test/utils/unsort_matrix.hpp
  core/test/utils/unsort_matrix_test.cpp
  cuda/test/factorization/ilu_kernels.cpp
  cuda/test/matrix/coo_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/preconditioner/jacobi_kernels.cpp
  hip/test/factorization/ilu_kernels.cpp
  hip/test/matrix/coo_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/preconditioner/jacobi_kernels.cpp
  include/ginkgo/core/factorization/ilu.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  omp/test/matrix/coo_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/preconditioner/jacobi_kernels.cpp
  reference/test/base/CMakeLists.txt
  reference/test/base/utils.cpp
  reference/test/matrix/coo_kernels.cpp
  reference/test/preconditioner/jacobi.cpp
Labels: ST:ready-to-merge, is:bug, mod:all, type:factorization, type:preconditioner

#663 Improve and generalize permutation core
  .github/workflows/windows-build.yml
  .gitlab-ci.yml
  benchmark/utils/preconditioners.hpp
  common/matrix/dense_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  core/test/base/array.cpp
  core/test/utils/assertions.hpp
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  dpcpp/matrix/dense_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/matrix/dense_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/utils.hpp
  include/ginkgo/core/matrix/dense.hpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, mod:core

#665 Fix ForwardIterator requirements in iterator_factory
  core/base/iterator_factory.hpp
Labels: ST:ready-to-merge, is:bug, plat:windows, reg:build

#664 Add triangular solvers to benchmark
  BENCHMARKING.md
  benchmark/solver/solver.cpp
Labels: ST:ready-to-merge, reg:benchmarking

#620 Idr solver
  .github/workflows/windows-build.yml
  benchmark/CMakeLists.txt
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  cmake/GinkgoConfig.cmake.in
  cmake/build_helpers.cmake
  cmake/create_test.cmake
  common/solver/idr_kernels.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/solver/idr.cpp
  core/solver/idr_kernels.hpp
  core/stop/residual_norm.cpp
  core/test/base/exception.cpp
  core/test/base/exception_helpers.cpp
  core/test/solver/CMakeLists.txt
  core/test/solver/idr.cpp
  cuda/CMakeLists.txt
  cuda/base/curand_bindings.hpp
  cuda/base/exception.cpp
  cuda/solver/idr_kernels.cu
  cuda/test/base/exception_helpers.cu
  cuda/test/solver/CMakeLists.txt
  cuda/test/solver/idr_kernels.cpp
  dpcpp/CMakeLists.txt
  dpcpp/solver/idr_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/base/exception.hip.cpp
  hip/base/hipblas_bindings.hip.hpp
  hip/base/hiprand_bindings.hip.hpp
  hip/base/types.hip.hpp
  hip/get_info.cmake
  hip/solver/idr_kernels.hip.cpp
  hip/test/base/CMakeLists.txt
  hip/test/base/exception_helpers.hip.cpp
  hip/test/solver/CMakeLists.txt
  hip/test/solver/idr_kernels.cpp
  include/ginkgo/core/base/exception.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/solver/idr.hpp
  include/ginkgo/core/stop/residual_norm.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/solver/idr_kernels.cpp
  omp/test/solver/CMakeLists.txt
  omp/test/solver/gmres_kernels.cpp
  omp/test/solver/idr_kernels.cpp
  reference/CMakeLists.txt
  reference/solver/idr_kernels.cpp
  reference/test/solver/CMakeLists.txt
  reference/test/solver/idr_kernels.cpp
Labels: ST:ready-for-review, is:new-feature, mod:all, type:solver

#667 Add github bot
  .github/bot-base.sh
  .github/bot-pr-base.sh
  .github/bot-pr-format-base.sh
  .github/check-format.sh
  .github/format.sh
  .github/label.sh
  .github/rebase.sh
  .github/workflows/bot-pr-comment.yml
  .github/workflows/bot-pr-created.yml
  .github/workflows/bot-pr-updated.yml
  dev_tools/scripts/format_header.sh
Labels: ST:ready-to-merge, reg:ci-cd
