Repository ginkgo-project/ginkgo, pull requests merged in 2021-03, with the labels that each got.

#709 Update HIP and hwloc in INSTALL.md
  .github/label.sh
  INSTALL.md
Labels: ST:ready-to-merge, reg:documentation

#691 Fix solver kernel documentation and add memory estimates
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/gmres.cpp
  core/solver/idr.cpp
  cuda/solver/idr_kernels.cu
  hip/solver/idr_kernels.hip.cpp
  omp/solver/idr_kernels.cpp
  reference/solver/idr_kernels.cpp
Labels: ST:ready-to-merge, mod:core, reg:documentation, type:solver

#713 Clean up CMake installation step
  cmake/GinkgoConfig.cmake.in
  cmake/install_helpers.cmake
Labels: ST:ready-to-merge, reg:build

#714 Add implicit residual log to solvers and benchmarks
  benchmark/solver/solver.cpp
  benchmark/utils/loggers.hpp
  core/log/papi.cpp
  core/log/record.cpp
  core/log/stream.cpp
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/test/log/papi.cpp
  core/test/log/record.cpp
  core/test/log/stream.cpp
  examples/custom-logger/custom-logger.cpp
  examples/custom-logger/doc/results.dox
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/record.hpp
  include/ginkgo/core/log/stream.hpp
Labels: ST:ready-to-merge, mod:core, reg:benchmarking, type:solver

#707 Multidimensional row-major and column-major accessors
  core/test/base/range_accessors.cpp
  include/ginkgo/core/base/range_accessors.hpp
Labels: ST:ready-to-merge, is:enhancement, mod:core, reg:testing

#528 Amgx parallel graph match reference and fill_seq_array
  common/components/fill_array.hpp.inc
  core/CMakeLists.txt
  core/components/fill_array.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/multigrid/amgx_pgm.cpp
  core/multigrid/amgx_pgm_kernels.hpp
  core/test/CMakeLists.txt
  core/test/multigrid/CMakeLists.txt
  core/test/multigrid/amgx_pgm.cpp
  cuda/CMakeLists.txt
  cuda/components/fill_array.cu
  cuda/multigrid/amgx_pgm_kernels.cu
  cuda/test/components/fill_array.cpp
  dpcpp/CMakeLists.txt
  dpcpp/components/fill_array.dp.cpp
  dpcpp/multigrid/amgx_pgm_kernels.dp.cpp
  dpcpp/test/components/fill_array.cpp
  hip/CMakeLists.txt
  hip/components/fill_array.hip.cpp
  hip/multigrid/amgx_pgm_kernels.hip.cpp
  hip/test/components/fill_array.hip.cpp
  include/ginkgo/core/base/composition.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/multigrid/amgx_pgm.hpp
  include/ginkgo/core/multigrid/multigrid_level.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/components/fill_array.cpp
  omp/multigrid/amgx_pgm_kernels.cpp
  omp/test/components/fill_array.cpp
  reference/CMakeLists.txt
  reference/components/fill_array.cpp
  reference/multigrid/amgx_pgm_kernels.cpp
  reference/test/CMakeLists.txt
  reference/test/components/fill_array.cpp
  reference/test/multigrid/CMakeLists.txt
  reference/test/multigrid/amgx_pgm_kernels.cpp
  test_install/test_install.cpp
  test_install/test_install_cuda.cu
Labels: ST:ready-to-merge, is:new-feature, mod:core, mod:reference, type:multigrid

#718 Give `create_submatrix` a virtual behavior.
  core/solver/gmres.cpp
  include/ginkgo/core/matrix/dense.hpp
Labels: ST:ready-to-merge, mod:core, type:matrix-format

#690 General isai
  benchmark/preconditioner/preconditioner.cpp
  benchmark/utils/preconditioners.hpp
  common/components/warp_blas.hpp.inc
  common/preconditioner/isai_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/isai_kernels.hpp
  core/test/preconditioner/isai.cpp
  core/test/utils/matrix_generator.hpp
  cuda/preconditioner/isai_kernels.cu
  cuda/test/preconditioner/isai_kernels.cpp
  dpcpp/preconditioner/isai_kernels.dp.cpp
  hip/preconditioner/isai_kernels.hip.cpp
  hip/test/preconditioner/isai_kernels.hip.cpp
  include/ginkgo/core/preconditioner/isai.hpp
  matrices/CMakeLists.txt
  matrices/test/isai_a.mtx
  matrices/test/isai_a_excess.mtx
  matrices/test/isai_a_excess_rhs.mtx
  matrices/test/isai_a_inv.mtx
  matrices/test/isai_a_inv_partial.mtx
  matrices/test/isai_spd.mtx
  matrices/test/isai_spd_excess.mtx
  matrices/test/isai_spd_excess_rhs.mtx
  matrices/test/isai_spd_inv.mtx
  matrices/test/isai_spd_inv_partial.mtx
  omp/preconditioner/isai_kernels.cpp
  omp/test/preconditioner/isai_kernels.cpp
  reference/preconditioner/isai_kernels.cpp
  reference/test/preconditioner/isai_kernels.cpp
Labels: ST:ready-to-merge, mod:all, reg:benchmarking, reg:build, reg:testing, type:preconditioner

#722 Fix the vendor libs in benchmark
  benchmark/CMakeLists.txt
Labels: ST:ready-to-merge, reg:benchmarking, reg:build

#723 Update gh-pages to redirect to correct page.
  index.html
Labels: ST:ready-to-merge, reg:documentation

#724 Add a publications dropdown in doxygen documentation page
  doc/DoxygenLayout.xml
Labels: ST:ready-to-merge, reg:documentation

#725 Add ccache support for CMake
  CMakeLists.txt
Labels: ST:ready-to-merge, reg:build

#671 Public interface and basic reference kernels for fixed-size block CSR
  contributors.txt
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/fbcsr.cpp
  core/matrix/fbcsr_builder.hpp
  core/matrix/fbcsr_kernels.hpp
  core/test/base/exception.cpp
  core/test/matrix/CMakeLists.txt
  core/test/matrix/fbcsr.cpp
  core/test/matrix/fbcsr_builder.cpp
  core/test/matrix/fbcsr_sample.hpp
  cuda/CMakeLists.txt
  cuda/matrix/fbcsr_kernels.cu
  cuda/test/matrix/CMakeLists.txt
  cuda/test/matrix/fbcsr_kernels.cpp
  dpcpp/CMakeLists.txt
  dpcpp/matrix/fbcsr_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/matrix/fbcsr_kernels.hip.cpp
  include/ginkgo/core/base/exception.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/matrix/fbcsr.hpp
  include/ginkgo/core/matrix/sparsity_csr.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/matrix/fbcsr_kernels.cpp
  reference/CMakeLists.txt
  reference/matrix/fbcsr_kernels.cpp
  reference/test/matrix/CMakeLists.txt
  reference/test/matrix/fbcsr_kernels.cpp
Labels: ST:ready-to-merge, is:new-feature, mod:core, mod:reference, reg:build, reg:testing, type:matrix-format
