Repository ginkgo-project/ginkgo, pull requests merged in 2021-02, with the labels that each got.

#697 Fix machine_topology overflow
  core/devices/machine_topology.cpp
Labels: ST:ready-to-merge, is:bug, mod:core

#698 Add heat equation example
  examples/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/heat-equation/build.sh
  examples/heat-equation/data/initial.mtx
  examples/heat-equation/data/source.mtx
  examples/heat-equation/doc/builds-on
  examples/heat-equation/doc/intro.dox
  examples/heat-equation/doc/kind
  examples/heat-equation/doc/results.dox
  examples/heat-equation/doc/short-intro
  examples/heat-equation/doc/tooltip
  examples/heat-equation/heat-equation.cpp
Labels: ST:ready-to-merge, reg:build, reg:example

#696 Improve Ginkgo device arch flags management.
  .github/workflows/windows-build.yml
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindHWLOC.cmake
  cmake/create_test.cmake
  cmake/get_info.cmake
  cuda/CMakeLists.txt
  cuda/get_info.cmake
  hip/CMakeLists.txt
  hip/get_info.cmake
  third_party/CudaArchitectureSelector/CMakeLists.txt
  third_party/hwloc/CMakeLists.txt
Labels: ST:ready-to-merge, is:enhancement, mod:cuda, mod:hip, reg:build

#705 Fix build issues related to CUDA Generic API in CUDA 10.1.105
  benchmark/utils/cuda_linops.hpp
  benchmark/utils/formats.hpp
  cuda/base/types.hpp
Labels: ST:ready-to-merge, is:bug, mod:cuda, reg:benchmarking, reg:build

#706 Make heat-equation example run on GPUs
  examples/heat-equation/heat-equation.cpp
Labels: ST:ready-to-merge, reg:example

#703 Parallel prefix sum for OpenMP backend
  core/components/prefix_sum.hpp
  omp/components/prefix_sum.cpp
  omp/test/components/prefix_sum.cpp
Labels: ST:ready-to-merge, mod:openmp
