Repository ginkgo-project/ginkgo, pull requests merged in 2021-08, with the labels that each got.

#834 Fix scalar jacobi generate on different precision and add DiagonalLinOpExtractable
  core/matrix/diagonal.cpp
  core/preconditioner/jacobi.cpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/matrix/diagonal.hpp
  reference/test/matrix/diagonal_kernels.cpp
  reference/test/preconditioner/jacobi.cpp
Labels: ST:ready-to-merge, mod:core, mod:reference, reg:testing, type:matrix-format, type:preconditioner

#852 Fix Readme and disable MSVC-CUDA 10.2
  .github/workflows/windows-msvc-cuda.yml
  INSTALL.md
  README.md
Labels: ST:ready-to-merge, reg:ci-cd, reg:documentation

#841 Fix enablelogging superclass
  include/ginkgo/core/log/logger.hpp
Labels: ST:ready-to-merge, type:logger

#854 Some fixes for Scalar Jacobi.
  common/preconditioner/jacobi_kernels.cpp
  common/preconditioner/jacobi_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi_kernels.hpp
  cuda/CMakeLists.txt
  cuda/preconditioner/jacobi_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/preconditioner/jacobi_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/preconditioner/jacobi_kernels.hip.cpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  omp/CMakeLists.txt
  omp/preconditioner/jacobi_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/test/preconditioner/jacobi.cpp
Labels: reg:testing, type:preconditioner, ST:ready-to-merge, mod:all, is:bugfix

#856 IDR dpcpp test workaround
  dpcpp/test/solver/idr_kernels.cpp
Labels: type:solver, ST:ready-for-review, mod:dpcpp, ST:run-full-test

#860 Fix Amgx_pgm match_edge issue on isolated agg
  common/cuda_hip/multigrid/amgx_pgm_kernels.hpp.inc
  core/multigrid/amgx_pgm.cpp
  cuda/preconditioner/jacobi_kernels.cu
  cuda/test/multigrid/amgx_pgm_kernels.cpp
  hip/preconditioner/jacobi_kernels.hip.cpp
  hip/test/multigrid/amgx_pgm_kernels.cpp
  include/ginkgo/core/multigrid/amgx_pgm.hpp
  include/ginkgo/core/multigrid/multigrid_level.hpp
  omp/multigrid/amgx_pgm_kernels.cpp
  omp/test/multigrid/amgx_pgm_kernels.cpp
  reference/multigrid/amgx_pgm_kernels.cpp
  reference/test/multigrid/amgx_pgm_kernels.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:openmp, mod:reference, type:preconditioner, ST:ready-to-merge, mod:hip, type:multigrid

#857 Release 1.4.0
  CHANGELOG.md
  README.md
  third_party/gflags/CMakeLists.txt
  third_party/hwloc/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: reg:build, reg:ci-cd, reg:documentation, ST:ready-to-merge

#865 Develop is now preparing v1.5.0
  CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/build-setup.sh
  examples/cb-gmres/CMakeLists.txt
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-spmv/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
Labels: reg:build, reg:example, ST:ready-for-review

#858 Add more verbose output to array assertions
  core/test/utils/assertions.hpp
Labels: reg:testing, mod:core, ST:ready-to-merge

#868 Hide executor operation symbols in core
  .github/workflows/windows-msvc-ref.yml
  core/base/array.cpp
  core/base/composition.cpp
  core/factorization/ic.cpp
  core/factorization/ilu.cpp
  core/factorization/par_ic.cpp
  core/factorization/par_ict.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilut.cpp
  core/matrix/coo.cpp
  core/matrix/csr.cpp
  core/matrix/dense.cpp
  core/matrix/diagonal.cpp
  core/matrix/ell.cpp
  core/matrix/fbcsr.cpp
  core/matrix/hybrid.cpp
  core/matrix/sellp.cpp
  core/matrix/sparsity_csr.cpp
  core/multigrid/amgx_pgm.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/jacobi.cpp
  core/reorder/rcm.cpp
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cb_gmres.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/gmres.cpp
  core/solver/idr.cpp
  core/solver/ir.cpp
  core/solver/lower_trs.cpp
  core/solver/upper_trs.cpp
  core/stop/criterion.cpp
  core/stop/residual_norm.cpp
Labels: reg:ci-cd, mod:core, type:solver, type:preconditioner, type:matrix-format, ST:ready-for-review, type:factorization, plat:windows, type:reordering, type:multigrid, type:stopping-criteria

#874 Fixes to the smoke tests
  test/test_install/test_install.cpp
Labels: ST:ready-to-merge
