Repository ginkgo-project/ginkgo, pull requests merged in 2021-12, with the labels that each got.

#936 Fix the permission of format-rebase!
  .github/format-rebase.sh
  .github/workflows/bot-pr-comment.yml
Labels: reg:ci-cd, is:bugfix

#937 Update container names
  .gitlab-ci.yml
  .gitlab/image.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:run-full-test

#764 Naive lower triangular solver + updated cuSPARSE solvers
  core/device_hooks/common_kernels.inc.cpp
  core/solver/lower_trs.cpp
  core/solver/lower_trs_kernels.hpp
  core/solver/upper_trs.cpp
  core/solver/upper_trs_kernels.hpp
  cuda/base/cusparse_bindings.hpp
  cuda/base/pointer_mode_guard.hpp
  cuda/solver/common_trs_kernels.cuh
  cuda/solver/lower_trs_kernels.cu
  cuda/solver/upper_trs_kernels.cu
  cuda/test/solver/lower_trs_kernels.cpp
  cuda/test/solver/upper_trs_kernels.cpp
  dpcpp/solver/lower_trs_kernels.dp.cpp
  dpcpp/solver/upper_trs_kernels.dp.cpp
  hip/solver/lower_trs_kernels.hip.cpp
  hip/solver/upper_trs_kernels.hip.cpp
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/solver/lower_trs.hpp
  include/ginkgo/core/solver/upper_trs.hpp
  omp/solver/lower_trs_kernels.cpp
  omp/solver/upper_trs_kernels.cpp
  omp/test/solver/lower_trs_kernels.cpp
  omp/test/solver/upper_trs_kernels.cpp
  reference/solver/lower_trs_kernels.cpp
  reference/solver/upper_trs_kernels.cpp
Labels: mod:cuda, type:solver, 1:ST:ready-to-merge

#913 Build smoother on current level fine not previous level coarse
  core/multigrid/amgx_pgm.cpp
  core/solver/multigrid.cpp
  include/ginkgo/core/multigrid/multigrid_level.hpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, type:multigrid
