Repository ginkgo-project/ginkgo, pull requests merged in 2021-01, with the labels that each got.

#666 Fix some overflows and windows warnings
  core/test/matrix/hybrid.cpp
  include/ginkgo/core/base/abstract_factory.hpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/hybrid.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  include/ginkgo/core/stop/criterion.hpp
  include/ginkgo/core/stop/residual_norm.hpp
  omp/components/prefix_sum.cpp
  omp/solver/lower_trs_kernels.cpp
  omp/solver/upper_trs_kernels.cpp
  reference/components/csr_spgeam.hpp
  reference/components/prefix_sum.cpp
  reference/factorization/factorization_kernels.cpp
  reference/factorization/par_ict_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/solver/lower_trs_kernels.cpp
  reference/solver/upper_trs_kernels.cpp
Labels: ST:ready-to-merge, is:bug

#684 Add symmetric permutation kernels
  common/matrix/csr_kernels.hpp.inc
  common/matrix/dense_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/dense_kernels.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/matrix/dense_kernels.dp.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/dense.hpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, mod:all, type:matrix-format

#689 allow bot for all changed files and update label regex
  .github/bot-pr-base.sh
  .github/bot-pr-format-base.sh
  .github/label.sh
Labels: ST:ready-to-merge, reg:ci-cd

#643 Add new accessor
  core/base/accessor_helper.hpp
  core/base/accessor_references.hpp
  core/base/accessors.hpp
  core/base/extended_float.hpp
  core/test/base/CMakeLists.txt
  core/test/base/accessors_reduced_storage.cpp
  core/test/base/dim.cpp
  core/test/base/range_accessors.cpp
  core/test/utils.hpp
  include/ginkgo/core/base/dim.hpp
  include/ginkgo/core/base/range_accessors.hpp
  include/ginkgo/core/base/types.hpp
  omp/test/preconditioner/jacobi_kernels.cpp
Labels: ST:ready-to-merge, mod:core

#554 Add a MachineTopology class and HWLOC support
  .github/workflows/osx.yml
  .gitlab-ci.yml
  ABOUT-LICENSING.md
  CMakeLists.txt
  cmake/DownloadNonCMakeCMakeLists.txt.in
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindHWLOC.cmake
  cmake/Modules/hwloc_helpers.cmake
  cmake/build_helpers.cmake
  cmake/create_test.cmake
  cmake/get_info.cmake
  cmake/package_helpers.cmake
  core/CMakeLists.txt
  core/device_hooks/CMakeLists.txt
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/dpcpp_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/devices/CMakeLists.txt
  core/devices/cuda/CMakeLists.txt
  core/devices/cuda/executor.cpp
  core/devices/hip/CMakeLists.txt
  core/devices/hip/executor.cpp
  core/devices/machine_topology.cpp
  core/devices/omp/executor.cpp
  core/test/base/executor.cpp
  cuda/CMakeLists.txt
  cuda/base/executor.cpp
  cuda/test/base/CMakeLists.txt
  cuda/test/base/cuda_executor.cu
  cuda/test/base/cuda_executor_topology.cu
  dpcpp/CMakeLists.txt
  dpcpp/base/executor.dp.cpp
  dpcpp/test/base/executor.dp.cpp
  hip/CMakeLists.txt
  hip/base/executor.hip.cpp
  hip/test/base/CMakeLists.txt
  hip/test/base/hip_executor.hip.cpp
  hip/test/base/hip_executor_topology.hip.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/machine_topology.hpp
  include/ginkgo/core/matrix/diagonal.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  reference/CMakeLists.txt
  test_install/CMakeLists.txt
  third_party/CMakeLists.txt
  third_party/CudaArchitectureSelector/CMakeLists.txt
  third_party/gflags/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/hwloc/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: ST:ready-to-merge, is:affects-performance, is:new-feature, mod:all
