Repository ginkgo-project/ginkgo, pull requests merged in 2021-07, with the labels that each got.

#803 Add tests for bit-mask dependent batch-dense kernels
  common/matrix/batch_dense_kernels.hpp.inc
  core/matrix/batch_dense.cpp
  core/matrix/batch_dense_kernels.hpp
  cuda/matrix/batch_dense_kernels.cu
  cuda/test/matrix/batch_dense_kernels.cpp
  dpcpp/matrix/batch_dense_kernels.dp.cpp
  hip/matrix/batch_dense_kernels.hip.cpp
  omp/matrix/batch_dense_kernels.cpp
  omp/test/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.cpp
  reference/test/matrix/batch_dense_kernels.cpp
Labels: ST:ready-for-review, mod:core, mod:cuda, mod:openmp, mod:reference, reg:testing, type:batched-functionality, type:matrix-format

#807 Fix Coo out of bounds access for strided vectors
  cuda/matrix/coo_kernels.cu
  cuda/test/matrix/coo_kernels.cpp
  hip/matrix/coo_kernels.hip.cpp
  hip/test/matrix/coo_kernels.hip.cpp
  omp/matrix/coo_kernels.cpp
  omp/test/matrix/coo_kernels.cpp
  reference/matrix/coo_kernels.cpp
  reference/test/matrix/coo_kernels.cpp
Labels: ST:ready-to-merge, mod:openmp, mod:reference, reg:testing, type:matrix-format

#808 Scalar Jacobi specialization and kernels
  common/preconditioner/jacobi_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi_kernels.hpp
  cuda/preconditioner/jacobi_kernels.cu
  cuda/test/preconditioner/jacobi_kernels.cpp
  dpcpp/preconditioner/jacobi_kernels.dp.cpp
  hip/preconditioner/jacobi_kernels.hip.cpp
  hip/test/preconditioner/jacobi_kernels.cpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  omp/preconditioner/jacobi_kernels.cpp
  omp/test/preconditioner/jacobi_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
Labels: ST:ready-to-merge, is:affects-performance, is:enhancement, mod:all, reg:testing, type:preconditioner

#812 Various benchmark improvements
  benchmark/blas/blas.cpp
  benchmark/conversions/conversions.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/formats.hpp
  benchmark/utils/general.hpp
  omp/components/format_conversion.hpp
  omp/matrix/coo_kernels.cpp
  omp/matrix/hybrid_kernels.cpp
  omp/test/matrix/hybrid_kernels.cpp
Labels: ST:ready-to-merge, reg:benchmarking

#819 Add missing examples in list
  doc/examples/examples.hpp.in
Labels: ST:ready-to-merge, reg:documentation

#829 Fix blas benchmark gemm operator order
  benchmark/blas/blas.cpp
Labels: ST:ready-to-merge, reg:benchmarking

#821 Some utilities for span and dim
  core/test/base/dim.cpp
  core/test/base/range.cpp
  include/ginkgo/core/base/dim.hpp
  include/ginkgo/core/base/range.hpp
Labels: ST:low-importance, ST:ready-to-merge, ST:run-full-test, is:enhancement, mod:core, reg:testing

#828 Use consistent matrix index type in benchmark
  benchmark/conversions/conversions.cpp
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/cuda_linops.hpp
  benchmark/utils/formats.hpp
  benchmark/utils/general.hpp
  benchmark/utils/hip_linops.hip.hpp
  benchmark/utils/preconditioners.hpp
  benchmark/utils/types.hpp
Labels: ST:ready-to-merge, reg:benchmarking, type:preconditioner, type:solver

#799 DPCPP SpGEMM, SpGEAM, Transpose, Sort
  dpcpp/components/atomic.dp.hpp
  dpcpp/components/prefix_sum.dp.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/test/CMakeLists.txt
  dpcpp/test/matrix/CMakeLists.txt
  dpcpp/test/matrix/csr_kernels.cpp
Labels: ST:ready-to-merge, mod:dpcpp, reg:build, reg:testing, type:matrix-format

#830 Fixes handling of multiple worktrees
  INSTALL.md
  third_party/dummy-hook/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
Labels: ST:ready-to-merge, reg:build

#818 ResidualNorm stop can compute the needed info in gen/check
  core/stop/residual_norm.cpp
  include/ginkgo/core/stop/residual_norm.hpp
  reference/test/stop/residual_norm_kernels.cpp
Labels: ST:ready-to-merge, mod:core, mod:reference, reg:testing, type:stopping-criteria

#832 Fix dpcpp memory issue and capture exception in raw_free
  .gitlab-ci.yml
  core/test/base/executor.cpp
  dpcpp/base/executor.dp.cpp
  dpcpp/test/base/executor.dp.cpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/math.hpp
Labels: ST:ready-to-merge, mod:core, mod:dpcpp, reg:ci-cd, reg:testing

#836 Fix when ginkgo is not in git
  CMakeLists.txt
  third_party/dummy-hook/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
Labels: ST:ready-to-merge, reg:build

#846 Work around ILU and IC use-after-free on CUDA 11.4
  cuda/factorization/ic_kernels.cu
  cuda/factorization/ilu_kernels.cu
Labels: ST:ready-to-merge

#844 Add inverse scale and axpy
  common/matrix/dense_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  include/ginkgo/core/matrix/dense.hpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, mod:core, mod:cuda, mod:hip, mod:reference, reg:testing, type:matrix-format

#840 Ignore IDE generated files
  .gitignore
Labels: ST:ready-to-merge

#843 Dpcpp dense transpose, (cb)gmres impl and enable apply test of solver
  .gitlab-ci.yml
  cmake/GinkgoConfig.cmake.in
  dev_tools/oneapi/add_host_function.sh
  dpcpp/base/onemkl_bindings.hpp
  dpcpp/components/atomic.dp.hpp
  dpcpp/components/format_conversion.dp.hpp
  dpcpp/components/prefix_sum.dp.hpp
  dpcpp/components/reduction.dp.hpp
  dpcpp/matrix/dense_kernels.dp.cpp
  dpcpp/matrix/ell_kernels.dp.cpp
  dpcpp/solver/cb_gmres_kernels.dp.cpp
  dpcpp/solver/common_gmres_kernels.dp.inc
  dpcpp/solver/gmres_kernels.dp.cpp
  dpcpp/stop/residual_norm_kernels.dp.cpp
  dpcpp/test/CMakeLists.txt
  dpcpp/test/components/cooperative_groups_kernels.dp.cpp
  dpcpp/test/matrix/dense_kernels.cpp
  dpcpp/test/solver/CMakeLists.txt
  dpcpp/test/solver/cb_gmres_kernels.cpp
  dpcpp/test/solver/gmres_kernels.cpp
  dpcpp/test/stop/CMakeLists.txt
  dpcpp/test/stop/residual_norm_kernels.cpp
  test/solver/bicg_kernels.cpp
  test/solver/bicgstab_kernels.cpp
  test/solver/cg_kernels.cpp
  test/solver/cgs_kernels.cpp
  test/solver/fcg_kernels.cpp
  test/solver/ir_kernels.cpp
Labels: ST:ready-to-merge, mod:dpcpp, reg:build, reg:ci-cd, reg:testing, type:matrix-format, type:solver, type:stopping-criteria
