Repository ginkgo-project/ginkgo, pull requests merged in 2021-10, with the labels that each got.

#893 Automatic tuning for batch Bicgstab: shared memory usage and warps per block
  benchmark/run_all_benchmarks.sh
  benchmark/solver/batch_solver.hpp
  benchmark/utils/general.hpp
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  core/solver/batch_bicgstab_kernels.hpp
  cuda/base/executor.cpp
  cuda/base/kernel_config.cuh
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_richardson_kernels.cu
  cuda/test/solver/CMakeLists.txt
  cuda/test/solver/batch_bicgstab_allocation.cu
  cuda/test/solver/batch_bicgstab_kernels.cpp
  hip/base/executor.hip.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/test/solver/batch_bicgstab_kernels.cpp
  include/ginkgo/core/base/executor.hpp
Labels: reg:build, reg:testing, mod:core, mod:cuda, reg:benchmarking, type:solver, ST:ready-for-review, mod:hip, type:batched-functionality

#889 Always enable GKO_BUILD_REFERENCE for tests
  .gitlab-ci.yml
  CMakeLists.txt
Labels: reg:build, reg:ci-cd, reg:documentation, mod:core, mod:reference, ST:ready-to-merge

#809 Tune OpenMP SellP, COO and ELL SpMV kernels for small number of rhs
  include/ginkgo/core/base/math.hpp
  omp/matrix/coo_kernels.cpp
  omp/matrix/ell_kernels.cpp
  omp/matrix/sellp_kernels.cpp
  omp/test/matrix/coo_kernels.cpp
  omp/test/matrix/ell_kernels.cpp
  omp/test/matrix/sellp_kernels.cpp
  reference/matrix/ell_kernels.cpp
Labels: reg:testing, mod:openmp, type:matrix-format, ST:ready-to-merge, is:affects-performance

#887 Remove CUDA < 9.2, add CUDA 11.4
  .gitlab-ci.yml
  .gitlab/image.yml
  README.md
  cuda/base/cusparse_bindings.hpp
  cuda/solver/common_trs_kernels.cuh
  cuda/test/solver/lower_trs_kernels.cpp
  cuda/test/solver/upper_trs_kernels.cpp
Labels: reg:testing, reg:ci-cd, type:solver, ST:ready-to-merge, mod:all, ST:run-full-test
