Repository ginkgo-project/ginkgo, pull requests merged in 2021-11, with the labels that each got.

#900 L1 norm implementation
  common/unified/matrix/dense_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  include/ginkgo/core/matrix/dense.hpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  test/matrix/dense_kernels.cpp
Labels: is:new-feature, reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all

#917 Remove multiple RHS functionality from reference and OpenMP batch code
  common/cuda_hip/log/batch_logger.hpp.inc
  cuda/test/log/batch_logger.cu
  hip/test/log/batch_logger.hip.cpp
  omp/solver/batch_bicgstab_kernels.cpp
  omp/solver/batch_cg_kernels.cpp
  omp/test/solver/batch_bicgstab_kernels.cpp
  omp/test/solver/batch_cg_kernels.cpp
  omp/test/stop/CMakeLists.txt
  omp/test/stop/batch_additional_criteria.cpp
  omp/test/stop/batch_criteria.cpp
  reference/log/batch_logger.hpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_bicgstab_kernels.hpp.inc
  reference/solver/batch_cg_kernels.cpp
  reference/solver/batch_cg_kernels.hpp.inc
  reference/solver/batch_gmres_kernels.cpp
  reference/solver/batch_gmres_kernels.hpp.inc
  reference/solver/batch_idr_kernels.cpp
  reference/solver/batch_idr_kernels.hpp.inc
  reference/solver/batch_richardson_kernels.cpp
  reference/solver/batch_richardson_kernels.hpp.inc
  reference/stop/batch_criteria.hpp
  reference/test/log/batch_logger.cpp
  reference/test/solver/batch_bicgstab_kernels.cpp
  reference/test/solver/batch_cg_kernels.cpp
  reference/test/solver/batch_gmres_kernels.cpp
  reference/test/solver/batch_idr_kernels.cpp
  reference/test/solver/batch_richardson_kernels.cpp
  reference/test/stop/CMakeLists.txt
  reference/test/stop/batch_additional_criteria.cpp
  reference/test/stop/batch_criteria.cpp
Labels: reg:build, reg:testing, mod:cuda, mod:openmp, mod:reference, type:solver, 1:ST:ready-to-merge, mod:hip, type:stopping-criteria, type:batched-functionality

#884 Add format rebase bot command
  .github/bot-pr-base.sh
  .github/bot-pr-format-base.sh
  .github/format-rebase.sh
  .github/rebase.sh
  .github/workflows/bot-pr-comment.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge

#911 Enable mixed CUDA/ROCm benchmarks
  BENCHMARKING.md
  benchmark/CMakeLists.txt
  benchmark/utils/cuda_linops.cu
  benchmark/utils/cuda_timer.cu
  benchmark/utils/formats.hpp
  benchmark/utils/hip_linops.hip.cpp
  benchmark/utils/hip_timer.hip.cpp
  benchmark/utils/sparselib_linops.hpp
  benchmark/utils/timer.hpp
  benchmark/utils/timer_impl.hpp
  benchmark/utils/types.hpp
Labels: reg:build, reg:benchmarking, 1:ST:ready-to-merge

#676 Add an IndexSet class.
  .gitlab-ci.yml
  common/CMakeLists.txt
  common/unified/base/index_set_kernels.cpp
  core/CMakeLists.txt
  core/base/index_set.cpp
  core/base/index_set_kernels.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/ell.cpp
  cuda/CMakeLists.txt
  cuda/base/index_set_kernels.cpp
  dev_tools/scripts/config
  dpcpp/CMakeLists.txt
  dpcpp/base/index_set_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/base/index_set_kernels.hip.cpp
  include/ginkgo/core/base/index_set.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/base/index_set_kernels.cpp
  omp/test/base/CMakeLists.txt
  omp/test/base/index_set.cpp
  reference/CMakeLists.txt
  reference/base/index_set_kernels.cpp
  reference/test/base/CMakeLists.txt
  reference/test/base/index_set.cpp
Labels: is:new-feature, mod:core, mod:openmp, mod:reference, 1:ST:ready-to-merge, 1:ST:run-full-test

#897 CUDA >= 11.0 support for int64 indices for spmv and spgemm
  cuda/matrix/csr_kernels.cu
Labels: mod:cuda, type:matrix-format, 1:ST:ready-to-merge

#921 Add Ginkgo logo in SVG format
  assets/logo_dark.svg
  assets/logo_dark_horizontal.svg
  assets/logo_light.svg
  assets/logo_light_horizontal.svg
Labels: reg:documentation, 1:ST:ready-to-merge

#885 Create submatrix for sparse matrix formats
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/test/matrix/csr_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/matrix/csr.hpp
  omp/matrix/csr_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
Labels: is:new-feature, reg:build, reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all

#922 Add abidiff action
  .github/abidiff.sh
  .github/workflows/bot-pr-updated.yml
Labels: reg:ci-cd, 1:ST:ready-for-review

#925 add command and file check in format_header
  dev_tools/scripts/format_header.sh
Labels: 1:ST:ready-to-merge, reg:helper-scripts

#926 Small fix for unified kernel reduction
  cuda/base/kernel_launch_reduction.cuh
  dpcpp/base/kernel_launch_reduction.dp.hpp
  hip/base/kernel_launch_reduction.hip.hpp
Labels: is:bug, mod:cuda, 1:ST:ready-to-merge, is:bugfix

#932 Add basic distributed capability to Ginkgo
  .gitlab-ci.yml
  ABOUT-LICENSING.md
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/autodetect_executors.cmake
  cmake/create_test.cmake
  cmake/get_info.cmake
  common/CMakeLists.txt
  common/cuda_hip/distributed/partition_kernels.hpp.inc
  common/unified/distributed/partition_kernels.cpp
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/partition.cpp
  core/distributed/partition_kernels.hpp
  core/mpi/exception.cpp
  core/mpi/get_info.cmake
  core/test/CMakeLists.txt
  core/test/mpi/CMakeLists.txt
  core/test/mpi/base/CMakeLists.txt
  core/test/mpi/base/bindings.cpp
  core/test/mpi/base/communicator.cpp
  core/test/mpi/base/exception_helpers.cpp
  core/test/utils.hpp
  cuda/CMakeLists.txt
  cuda/base/kernel_launch.cuh
  cuda/base/kernel_launch_solver.cuh
  cuda/distributed/partition_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/distributed/partition_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/base/kernel_launch.hip.hpp
  hip/base/kernel_launch_solver.hip.hpp
  hip/distributed/partition_kernels.hip.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/exception.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/base/mpi.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/distributed/partition.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/distributed/partition_kernels.cpp
  reference/CMakeLists.txt
  reference/distributed/partition_kernels.cpp
  reference/test/CMakeLists.txt
  reference/test/distributed/CMakeLists.txt
  reference/test/distributed/partition_kernels.cpp
  test/CMakeLists.txt
  test/distributed/CMakeLists.txt
  test/distributed/partition_kernels.cpp
  test/test_install/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/gtest/gtest_mpi_listener.cpp
Labels: is:new-feature, reg:build, reg:testing, reg:ci-cd, reg:documentation, 1:ST:ready-to-merge, mod:all, mod:mpi, type:distributed-functionality

#930 Fix abidiff action baseline ref
  .github/workflows/bot-pr-updated.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge
