Repository ginkgo-project/ginkgo, pull requests merged in 2021-05, with the labels that each got.

#736 Add new Intel CI support
  .gitlab-ci.yml
  .gitlab/image.yml
  CMakeLists.txt
  benchmark/CMakeLists.txt
  cmake/build_type_helpers.cmake
  cmake/create_test.cmake
  core/test/log/logger.cpp
  core/test/multigrid/amgx_pgm.cpp
  core/test/solver/cb_gmres.cpp
  core/test/solver/idr.cpp
  core/test/utils.hpp
  dpcpp/CMakeLists.txt
  dpcpp/components/absolute_array.dp.cpp
  dpcpp/get_info.cmake
  dpcpp/matrix/dense_kernels.dp.cpp
  dpcpp/test/CMakeLists.txt
  dpcpp/test/base/executor.dp.cpp
  dpcpp/test/components/absolute_array.cpp
  dpcpp/test/components/precision_conversion.cpp
  hip/CMakeLists.txt
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/log/logger.hpp
  reference/test/solver/cb_gmres_kernels.cpp
  reference/test/solver/idr_kernels.cpp
Labels: ST:ready-to-merge, mod:core, mod:dpcpp, mod:reference, reg:build, reg:ci-cd, reg:testing, type:multigrid, type:solver

#740 Extract allocations from OpenMP kernels
  .gitlab-ci.yml
  cmake/GinkgoConfig.cmake.in
  omp/CMakeLists.txt
  omp/matrix/csr_kernels.cpp
  omp/preconditioner/jacobi_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
Labels: ST:ready-to-merge, is:bug, mod:openmp, reg:build

#695 AmgxPgm cuda/hip/omp implementation and matrix/array utils
  common/multigrid/amgx_pgm_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/multigrid/amgx_pgm.cpp
  core/multigrid/amgx_pgm_kernels.hpp
  core/test/utils.hpp
  core/test/utils/CMakeLists.txt
  core/test/utils/array_generator.hpp
  core/test/utils/array_generator_test.cpp
  core/test/utils/matrix_generator.hpp
  core/test/utils/matrix_generator_test.cpp
  core/test/utils/matrix_utils.hpp
  core/test/utils/matrix_utils_test.cpp
  core/test/utils/unsort_matrix_test.cpp
  core/test/utils/value_generator.hpp
  core/test/utils/value_generator_test.cpp
  cuda/multigrid/amgx_pgm_kernels.cu
  cuda/test/CMakeLists.txt
  cuda/test/multigrid/CMakeLists.txt
  cuda/test/multigrid/amgx_pgm_kernels.cpp
  cuda/test/solver/bicg_kernels.cpp
  cuda/test/solver/bicgstab_kernels.cpp
  cuda/test/solver/cg_kernels.cpp
  cuda/test/solver/cgs_kernels.cpp
  cuda/test/solver/fcg_kernels.cpp
  cuda/test/solver/idr_kernels.cpp
  dpcpp/multigrid/amgx_pgm_kernels.dp.cpp
  hip/multigrid/amgx_pgm_kernels.hip.cpp
  hip/test/CMakeLists.txt
  hip/test/multigrid/CMakeLists.txt
  hip/test/multigrid/amgx_pgm_kernels.cpp
  hip/test/solver/bicg_kernels.cpp
  hip/test/solver/bicgstab_kernels.cpp
  hip/test/solver/cg_kernels.cpp
  hip/test/solver/cgs_kernels.cpp
  hip/test/solver/fcg_kernels.cpp
  hip/test/solver/idr_kernels.cpp
  omp/multigrid/amgx_pgm_kernels.cpp
  omp/test/CMakeLists.txt
  omp/test/multigrid/CMakeLists.txt
  omp/test/multigrid/amgx_pgm_kernels.cpp
  omp/test/solver/bicg_kernels.cpp
  omp/test/solver/bicgstab_kernels.cpp
  omp/test/solver/cg_kernels.cpp
  omp/test/solver/cgs_kernels.cpp
  omp/test/solver/fcg_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  omp/test/solver/idr_kernels.cpp
  reference/multigrid/amgx_pgm_kernels.cpp
  reference/test/multigrid/amgx_pgm_kernels.cpp
Labels: ST:ready-to-merge, mod:all, reg:build, reg:testing, type:matrix-format, type:multigrid

#761 Make array constructor explicit
  include/ginkgo/core/base/array.hpp
Labels: ST:ready-for-review, is:bug, mod:core

#758 Allow using device memory allocations in debug mode.
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  cuda/base/executor.cpp
  cuda/test/base/cuda_executor.cu
  hip/base/executor.hip.cpp
  hip/test/base/hip_executor.hip.cpp
  include/ginkgo/core/base/executor.hpp
Labels: ST:ready-to-merge, ST:run-full-test, is:affects-performance, is:idea, is:proposal, mod:cuda, mod:hip

#720 Simplify Windows CMake setup + Stand-alone examples
  .github/workflows/windows-cygwin.yml
  .github/workflows/windows-mingw.yml
  .github/workflows/windows-msvc-cuda.yml
  .github/workflows/windows-msvc-ref.yml
  CMakeLists.txt
  INSTALL.md
  README.md
  cmake/GinkgoConfig.cmake.in
  cmake/autodetect_executors.cmake
  cmake/build_helpers.cmake
  cmake/create_test.cmake
  cmake/get_info.cmake
  cmake/install_helpers.cmake
  cmake/windows_helpers.cmake
  cuda/CMakeLists.txt
  examples/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/build-setup.sh
  examples/cb-gmres/CMakeLists.txt
  examples/cb-gmres/build.sh
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-matrix-format/build.sh
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
  omp/CMakeLists.txt
  test_exportbuild/CMakeLists.txt
  test_install/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
Labels: ST:ready-to-merge, plat:windows, reg:build, reg:ci-cd, reg:example

#768 Add benchmarking support for Batch matrix formats
  benchmark/run_all_benchmarks.sh
  benchmark/spmv/CMakeLists.txt
  benchmark/spmv/batch_spmv.cpp
  benchmark/utils/formats.hpp
  benchmark/utils/general.hpp
  benchmark/utils/spmv_common.hpp
  core/test/matrix/batch_csr.cpp
  core/test/matrix/batch_dense.cpp
  include/ginkgo/core/matrix/batch_csr.hpp
  include/ginkgo/core/matrix/batch_dense.hpp
  reference/test/preconditioner/batch_jacobi_kernels.cpp
Labels: ST:ready-for-review, ST:run-full-test, mod:core, reg:benchmarking, type:batched-functionality, type:matrix-format

#765 Parallelize COO OpenMP SpMV
  omp/components/atomic.hpp
  omp/matrix/coo_kernels.cpp
Labels: ST:ready-to-merge, mod:openmp, type:matrix-format

#769 Fix the error size of extract_diagonal
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/dense_kernels.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, is:bug, mod:cuda, mod:hip, type:matrix-format

#773 Bugfixes for reference batch functionality and improvements to testing
  common/log/batch_logger.hpp.inc
  common/preconditioner/batch_jacobi.hpp.inc
  reference/log/batch_logger.hpp
  reference/preconditioner/batch_jacobi.hpp
  reference/test/solver/batch_richardson_kernels.cpp
Labels: ST:ready-to-merge, mod:cuda, mod:hip, mod:reference, reg:testing, type:batched-functionality, type:preconditioner, type:solver

#771 Add benchmarking for batch solvers
  benchmark/run_all_benchmarks.sh
  benchmark/solver/CMakeLists.txt
  benchmark/solver/batch_solver.cpp
  benchmark/utils/general.hpp
  common/log/batch_logger.hpp.inc
  core/test/matrix/batch_dense.cpp
  cuda/test/log/batch_logger.cu
  examples/CMakeLists.txt
  examples/batched-solver/CMakeLists.txt
  examples/batched-solver/batched-solver.cpp
  examples/batched-solver/data/A.mtx
  examples/batched-solver/doc/intro.dox
  examples/batched-solver/doc/kind
  examples/batched-solver/doc/results.dox
  examples/batched-solver/doc/short-intro
  examples/batched-solver/doc/tooltip
  include/ginkgo/core/matrix/batch_dense.hpp
  reference/log/batch_logger.hpp
  reference/test/log/batch_logger.cpp
  reference/test/solver/batch_richardson_kernels.cpp
Labels: ST:ready-to-merge, mod:core, reg:benchmarking, reg:build, reg:example, reg:testing, type:batched-functionality, type:matrix-format, type:solver

#772 Add benchmark for BLAS operations
  benchmark/CMakeLists.txt
  benchmark/blas/CMakeLists.txt
  benchmark/blas/blas.cpp
  include/ginkgo/core/base/range.hpp
Labels: ST:ready-to-merge, reg:benchmarking, reg:build, type:matrix-format

#757 DPCPP cooperative group
  cmake/create_test.cmake
  core/base/types.hpp
  core/synthesizer/implementation_selection.hpp
  core/test/base/types.cpp
  dev_tools/scripts/config
  dev_tools/scripts/format_header.sh
  dpcpp/base/config.hpp
  dpcpp/base/dim3.dp.hpp
  dpcpp/base/dpct.hpp
  dpcpp/base/helper.hpp
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/test/base/CMakeLists.txt
  dpcpp/test/base/dim3.dp.cpp
  dpcpp/test/components/CMakeLists.txt
  dpcpp/test/components/cooperative_groups_kernels.dp.cpp
  include/ginkgo/core/base/types.hpp
Labels: ST:ready-to-merge, mod:core, mod:dpcpp, reg:build, reg:helper-scripts, reg:testing
