Repository ginkgo-project/ginkgo, pull requests merged in 2021-04, with the labels that each got.

#728 Add more data to convergence logger
  core/log/convergence.cpp
  core/test/log/convergence.cpp
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/adaptiveprecision-blockjacobi/doc/results.dox
  include/ginkgo/core/log/convergence.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/stop/criterion.hpp
  reference/test/log/convergence.cpp
Labels: ST:ready-to-merge, mod:core, type:logger

#726 Support ROCm 4.1.x and breaking HIP_PLATFORM change
  CMakeLists.txt
  INSTALL.md
  benchmark/CMakeLists.txt
  cmake/build_type_helpers.cmake
  cmake/create_test.cmake
  core/CMakeLists.txt
  hip/CMakeLists.txt
  hip/test/base/CMakeLists.txt
  third_party/CMakeLists.txt
Labels: ST:ready-to-merge, mod:hip, reg:build, reg:documentation

#734 Bump the current version to 1.4.0
  CMakeLists.txt
  examples/build-setup.sh
Labels: ST:ready-to-merge, reg:build, reg:example

#735 Log first residual norm in CGS
  core/solver/cgs.cpp
Labels: ST:ready-to-merge, is:bug, mod:core, type:solver

#730 Fix for issue with corner case of reading empty Fbcsr matrix
  core/matrix/fbcsr.cpp
  core/test/matrix/fbcsr.cpp
Labels: ST:ready-to-merge, is:bug, mod:core, reg:testing, type:matrix-format

#738 Update format scripts
  .github/bot-pr-base.sh
  .github/bot-pr-format-base.sh
  README.md
  third_party/git-cmake-format/CMakeLists.txt
Labels: ST:ready-to-merge, reg:build, reg:ci-cd

#739 Add CCACHE support in CI
  .gitlab-ci.yml
  cmake/get_info.cmake
Labels: ST:ready-to-merge, reg:build, reg:ci-cd

#721 Improve test install
  .gitlab-ci.yml
  CMakeLists.txt
  include/ginkgo/core/base/executor.hpp
  test_exportbuild/CMakeLists.txt
  test_install/CMakeLists.txt
  test_install/data/A.mtx
  test_install/data/b.mtx
  test_install/data/x0.mtx
  test_install/test_install.cpp
  test_install/test_install.hip.cpp
  test_install/test_install_cuda.cu
Labels: ST:ready-to-merge, reg:build, reg:testing

#742 Decrease test size for a few OpenMP tests
  .gitlab-ci.yml
  CMakeLists.txt
  INSTALL.md
  TESTING.md
  cmake/create_test.cmake
  cmake/get_info.cmake
  cuda/test/factorization/par_ilut_kernels.cpp
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/matrix/diagonal_kernels.cpp
  cuda/test/solver/cb_gmres_kernels.cpp
  cuda/test/solver/gmres_kernels.cpp
  hip/test/factorization/par_ilut_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/diagonal_kernels.hip.cpp
  hip/test/solver/cb_gmres_kernels.cpp
  hip/test/solver/gmres_kernels.cpp
  omp/test/factorization/par_ict_kernels.cpp
  omp/test/factorization/par_ilut_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/matrix/diagonal_kernels.cpp
  omp/test/solver/cb_gmres_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
Labels: ST:ready-to-merge, mod:cuda, mod:hip, mod:openmp, reg:build, reg:ci-cd, reg:testing, type:factorization, type:matrix-format, type:solver

#743 Fix criterion check logger
  core/log/record.cpp
  core/test/log/record.cpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/record.hpp
Labels: ST:ready-to-merge, mod:core, reg:testing

#731 fix memory leak and use ref not omp in device test
  .github/workflows/windows-build.yml
  .gitlab-ci.yml
  CMakeLists.txt
  INSTALL.md
  cuda/base/executor.cpp
  cuda/test/base/array.cu
  cuda/test/factorization/par_ic_kernels.cpp
  cuda/test/matrix/diagonal_kernels.cpp
  cuda/test/preconditioner/isai_kernels.cpp
  cuda/test/reorder/rcm_kernels.cpp
  cuda/test/solver/cb_gmres_kernels.cpp
  cuda/test/utils.hpp
  hip/base/executor.hip.cpp
  hip/test/factorization/par_ic_kernels.hip.cpp
  hip/test/matrix/diagonal_kernels.hip.cpp
  hip/test/preconditioner/isai_kernels.hip.cpp
  hip/test/solver/cb_gmres_kernels.cpp
  hip/test/utils.hip.hpp
Labels: ST:ready-to-merge, mod:cuda, mod:hip, plat:windows, reg:ci-cd, reg:testing, type:factorization, type:reordering

#737 Segment CI runs into quick and full runs
  .gitlab-ci.yml
  .gitlab/condition.yml
  .gitlab/image.yml
  test_install/CMakeLists.txt
Labels: ST:ready-to-merge, ST:run-full-test, reg:ci-cd

#749 Add ssh debugging for Github Actions CI.
  .github/workflows/osx.yml
  .github/workflows/windows-build.yml
  .github/workflows/windows-cygwin.yml
  .github/workflows/windows-mingw.yml
  .github/workflows/windows-msvc-cuda.yml
  .github/workflows/windows-msvc-ref.yml
Labels: ST:ready-to-merge, is:enhancement, plat:apple, plat:windows, reg:ci-cd

#745 Various CMake fixes.
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindHWLOC.cmake
  cmake/Modules/FindNUMA.cmake
  cmake/install_helpers.cmake
  cuda/test/base/CMakeLists.txt
  hip/CMakeLists.txt
  hip/test/base/CMakeLists.txt
  test_install/CMakeLists.txt
Labels: ST:ready-to-merge, mod:cuda, mod:hip, reg:build, reg:testing

#751 Run the CUDA jobs on the CI controllers.
  .gitlab-ci.yml
  .gitlab/image.yml
  cmake/DownloadNonCMakeCMakeLists.txt.in
  third_party/hwloc/CMakeLists.txt
Labels: ST:ready-to-merge, reg:ci-cd

#755 Add explicit dense conjugate dot product
  common/matrix/dense_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/idr.cpp
  cuda/base/cublas_bindings.hpp
  cuda/matrix/dense_kernels.cu
  cuda/test/matrix/dense_kernels.cpp
  hip/base/hipblas_bindings.hip.hpp
  hip/matrix/dense_kernels.hip.cpp
  hip/test/matrix/dense_kernels.hip.cpp
  include/ginkgo/core/matrix/dense.hpp
  omp/matrix/dense_kernels.cpp
  omp/test/matrix/dense_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
Labels: ST:ready-to-merge, mod:core, mod:cuda, mod:hip, mod:openmp, mod:reference, reg:testing, type:matrix-format, type:solver

#754 Add logger access and clear functions
  core/test/log/logger.cpp
  include/ginkgo/core/log/logger.hpp
Labels: ST:ready-to-merge, mod:core
