Repository ginkgo-project/ginkgo, pull requests merged in 2022-12, with the labels that each got.

#1216 Adds Kokkos example
  examples/CMakeLists.txt
  examples/kokkos_assembly/CMakeLists.txt
  examples/kokkos_assembly/build.sh
  examples/kokkos_assembly/doc/builds-on
  examples/kokkos_assembly/doc/intro.dox
  examples/kokkos_assembly/doc/kind
  examples/kokkos_assembly/doc/results.dox
  examples/kokkos_assembly/doc/short-intro
  examples/kokkos_assembly/doc/tooltip
  examples/kokkos_assembly/kokkos_assembly.cpp
Labels: reg:build, reg:example, 1:ST:ready-to-merge

#1229 Temporarily disables nla-gpu tests or moves them to other systems
  .gitlab-ci.yml
  .gitlab/image.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:skip-changelog-wiki-check

#1201 Enable distributed Gmres
  core/distributed/vector.cpp
  core/matrix/dense.cpp
  core/solver/gmres.cpp
  core/test/matrix/dense.cpp
  include/ginkgo/core/distributed/vector.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/core/solver/gmres.hpp
  include/ginkgo/core/solver/solver_base.hpp
  test/mpi/distributed/vector.cpp
  test/mpi/solver/solver.cpp
Labels: mod:core, type:solver, type:matrix-format, 1:ST:ready-to-merge

#1214 Add missing thrust header to partition
  cuda/distributed/partition_kernels.cu
  hip/distributed/partition_kernels.hip.cpp
Labels: 1:ST:ready-to-merge, mod:hip, is:bugfix

#1210 Add sequential symbolic LU factorization
  core/base/allocator.hpp
  core/factorization/lu.cpp
  core/factorization/symbolic.cpp
  core/factorization/symbolic.hpp
  core/test/utils/assertions.hpp
  matrices/CMakeLists.txt
  matrices/config.hpp.in
  matrices/test/ani1_nonsymm.mtx
  matrices/test/ani1_nonsymm_lu.mtx
  reference/test/factorization/lu_kernels.cpp
  test/factorization/lu_kernels.cpp
Labels: reg:build, reg:testing, mod:core, mod:reference, 1:ST:ready-to-merge, type:factorization

#1230 Some fixes for hwloc and the distributed-solver example
  examples/distributed-solver/distributed-solver.cpp
  examples/distributed-solver/doc/intro.dox
  include/ginkgo/core/base/executor.hpp
Labels: mod:core, reg:example, 1:ST:ready-to-merge, is:affects-performance, 1:ST:run-full-test, is:bugfix

#1235 Fix the generic spmv algorithm for Cuda 12
  benchmark/utils/cuda_linops.cu
Labels: reg:benchmarking, 1:ST:ready-to-merge

#1226 Updates git-cmake-format
  third_party/dummy-hook/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
Labels: reg:build, 1:ST:ready-to-merge

#1218 add simple check on wiki Changelog
  .github/bot-pr-base.sh
  .github/check-wiki-changelog.sh
  .github/workflows/bot-pr-updated.yml
  CHANGELOG.md
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test

#1234 removes unnecessary run overrides in concrete executors
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/dpcpp_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/test/base/executor.cpp
  cuda/base/executor.cpp
  dpcpp/base/executor.dp.cpp
  hip/base/executor.hip.cpp
  include/ginkgo/core/base/executor.hpp
  test/base/CMakeLists.txt
  test/base/executor.cpp
Labels: mod:core, mod:cuda, 1:ST:ready-to-merge, mod:hip, mod:dpcpp

#1242 moves nocuda-mpi job to fairrs
  .gitlab/image.yml
Labels: 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:no-changelog-entry

#1232 Add support for host operations to executor
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  core/factorization/elimination_forest.cpp
  core/factorization/elimination_forest.hpp
  core/factorization/lu.cpp
  core/factorization/symbolic.cpp
  core/factorization/symbolic.hpp
  core/test/factorization/elimination_forest.cpp
  include/ginkgo/core/base/executor.hpp
  reference/test/factorization/cholesky_kernels.cpp
  reference/test/factorization/lu_kernels.cpp
  test/base/executor.cpp
  test/factorization/cholesky_kernels.cpp
Labels: reg:testing, mod:core, mod:reference, reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge, type:factorization

#1247 enables nla-gpu CI again
  .gitlab-ci.yml
  .gitlab/image.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:no-changelog-entry
