Repository ginkgo-project/ginkgo, pull requests merged in 2022-09, with the labels that each got.

#1116 Make IDR random init deterministic
  core/solver/idr.cpp
  cuda/solver/idr_kernels.cu
  dpcpp/solver/idr_kernels.dp.cpp
  hip/solver/idr_kernels.hip.cpp
  omp/solver/idr_kernels.cpp
  reference/solver/idr_kernels.cpp
Labels: type:solver, 1:ST:ready-to-merge, mod:all

#1123 Add fallback transpose kernel
  .gitlab/scripts.yml
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  cuda/matrix/csr_kernels.cu
  cuda/matrix/fbcsr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/fbcsr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/matrix/fbcsr_kernels.hip.cpp
Labels: reg:testing, mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip

#1114 Improve gdb pretty-printer for newer libstdc++
  dev_tools/scripts/gdb-ginkgo.py
Labels: 1:ST:ready-for-review, reg:helper-scripts

#1047 Add automatic shared memory configuration for BatchCg solver
  .gitlab-ci.yml
  benchmark/run_all_benchmarks.sh
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  common/cuda_hip/solver/batch_cg_kernels.hpp.inc
  common/cuda_hip/solver/batch_gmres_kernels.hpp.inc
  core/solver/batch_bicgstab_kernels.hpp
  core/solver/batch_cg_kernels.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
Labels: is:enhancement, type:solver, 1:ST:ready-to-merge, is:affects-performance, 1:ST:run-full-test, type:batched-functionality
