Repository ginkgo-project/ginkgo, pull requests merged in 2022-07, with the labels that each got.

#1068 Move generated documentation to separate repo
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test

#1067 Use needs not dependencies to avoid waiting entire prevstage
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1057 add oneMKL csr and optimized csr to benchmark
  benchmark/CMakeLists.txt
  benchmark/utils/cuda_linops.cu
  benchmark/utils/dpcpp_linops.dp.cpp
  benchmark/utils/formats.hpp
  benchmark/utils/hip_linops.hip.cpp
  benchmark/utils/sparselib_linops.hpp
  dpcpp/CMakeLists.txt
Labels: reg:build, reg:benchmarking, 1:ST:ready-to-merge

#1071 Add fix for GCC 12
  core/base/mtx_io.cpp
Labels: mod:core, 1:ST:ready-to-merge, is:bugfix

#1028 Add solver workspace structure
  .gitlab-ci.yml
  .gitlab/image.yml
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cb_gmres.cpp
  core/solver/cb_gmres_kernels.hpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  core/solver/idr.cpp
  core/solver/ir.cpp
  core/solver/lower_trs.cpp
  core/solver/multigrid.cpp
  core/solver/solver_boilerplate.hpp
  core/solver/upper_trs.cpp
  core/test/solver/CMakeLists.txt
  core/test/solver/workspace.cpp
  cuda/solver/cb_gmres_kernels.cu
  cuda/solver/gmres_kernels.cu
  cuda/test/solver/cb_gmres_kernels.cpp
  cuda/test/solver/gmres_kernels.cpp
  dpcpp/solver/cb_gmres_kernels.dp.cpp
  dpcpp/solver/gmres_kernels.dp.cpp
  dpcpp/test/solver/cb_gmres_kernels.cpp
  dpcpp/test/solver/gmres_kernels.cpp
  dpcpp/test/solver/idr_kernels.cpp
  hip/solver/cb_gmres_kernels.hip.cpp
  hip/solver/gmres_kernels.hip.cpp
  hip/test/solver/cb_gmres_kernels.cpp
  hip/test/solver/gmres_kernels.cpp
  include/ginkgo/core/solver/bicg.hpp
  include/ginkgo/core/solver/bicgstab.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/cgs.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/core/solver/gmres.hpp
  include/ginkgo/core/solver/idr.hpp
  include/ginkgo/core/solver/ir.hpp
  include/ginkgo/core/solver/lower_trs.hpp
  include/ginkgo/core/solver/solver_base.hpp
  include/ginkgo/core/solver/upper_trs.hpp
  include/ginkgo/core/solver/workspace.hpp
  include/ginkgo/ginkgo.hpp
  omp/solver/cb_gmres_kernels.cpp
  omp/solver/gmres_kernels.cpp
  omp/test/solver/cb_gmres_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  reference/solver/cb_gmres_kernels.cpp
  reference/solver/gmres_kernels.cpp
  test/solver/solver.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, 1:ST:run-full-test

#1069 Fix minor example issues
  examples/external-lib-interfacing/external-lib-interfacing.cpp
  examples/poisson-solver/poisson-solver.cpp
  examples/simple-solver/simple-solver.cpp
Labels: reg:example, 1:ST:skip-full-test

#960 Two level and use type as config
  cmake/create_test.cmake
  core/synthesizer/implementation_selection.hpp
  dpcpp/base/config.hpp
  dpcpp/base/helper.hpp
  dpcpp/base/kernel_launch_reduction.dp.hpp
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/components/prefix_sum.dp.hpp
  dpcpp/components/prefix_sum_kernels.dp.cpp
  dpcpp/components/reduction.dp.hpp
  dpcpp/matrix/dense_kernels.dp.cpp
  dpcpp/matrix/ell_kernels.dp.cpp
  dpcpp/synthesizer/implementation_selection.hpp
  dpcpp/test/components/cooperative_groups.dp.cpp
  test/matrix/CMakeLists.txt
Labels: reg:testing, mod:core, type:matrix-format, 1:ST:ready-to-merge, mod:dpcpp, 1:ST:need-feedback

#1044 Add support for generic device tests & CMake cleanup
  CMakeLists.txt
  README.md
  benchmark/CMakeLists.txt
  cmake/Modules/CudaArchitectureSelector.cmake
  cmake/create_test.cmake
  cmake/cuda.cmake
  cmake/hip.cmake
  cmake/hip_path.cmake
  core/matrix/csr_lookup.hpp
  core/test/base/CMakeLists.txt
  core/test/mpi/base/CMakeLists.txt
  cuda/CMakeLists.txt
  cuda/test/base/CMakeLists.txt
  cuda/test/preconditioner/CMakeLists.txt
  cuda/test/solver/CMakeLists.txt
  dpcpp/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  hip/CMakeLists.txt
  hip/test/base/CMakeLists.txt
  hip/test/preconditioner/isai_kernels.hip.cpp
  omp/CMakeLists.txt
  omp/test/base/CMakeLists.txt
  test/base/CMakeLists.txt
  test/base/kernel_launch_generic.cpp
  test/matrix/CMakeLists.txt
  test/matrix/csr_kernels.cpp
  third_party/CMakeLists.txt
  third_party/CudaArchitectureSelector/CMakeLists.txt
Labels: reg:build, reg:testing, reg:example, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, reg:helper-scripts, mod:all

#1073 Fix mingw 0xc0000139 issue in github action
  .github/workflows/osx.yml
  .github/workflows/windows-cygwin.yml
  .github/workflows/windows-mingw.yml
  .github/workflows/windows-msvc-cuda.yml
  .github/workflows/windows-msvc-ref.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1075 Fix test execution on Horeka
  .gitlab/scripts.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge

#1074 Bwuni fixes
  core/test/base/executor.cpp
  cuda/test/base/cuda_executor_topology.cu
  hip/test/base/hip_executor_topology.hip.cpp
Labels: reg:testing, mod:core, mod:cuda, 1:ST:ready-to-merge

#1076 Fix various warnings
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/stop/residual_norm.hpp
  test/test_install/test_install.cpp
Labels: mod:core, type:matrix-format, 1:ST:ready-to-merge, type:stopping-criteria

#1080 Update documentation link
  README.md
Labels: reg:documentation, 1:ST:skip-full-test

#1083 Added factor 2 to test cases of dense matrix kernels (omp)
  test/matrix/dense_kernels.cpp
Labels: type:matrix-format, 1:ST:ready-to-merge

#1046 Add a thread per row SpMV for BatchCsr.
  common/cuda_hip/matrix/batch_csr_kernels.hpp.inc
Labels: is:enhancement, mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip, is:affects-performance, type:batched-functionality

#1072 Add compact factor storage support to triangular solvers
  core/solver/lower_trs.cpp
  core/solver/lower_trs_kernels.hpp
  core/solver/upper_trs.cpp
  core/solver/upper_trs_kernels.hpp
  cuda/base/cusparse_bindings.hpp
  cuda/solver/common_trs_kernels.cuh
  cuda/solver/lower_trs_kernels.cu
  cuda/solver/upper_trs_kernels.cu
  dev_tools/scripts/config
  dpcpp/solver/lower_trs_kernels.dp.cpp
  dpcpp/solver/upper_trs_kernels.dp.cpp
  hip/solver/common_trs_kernels.hip.hpp
  hip/solver/lower_trs_kernels.hip.cpp
  hip/solver/upper_trs_kernels.hip.cpp
  include/ginkgo/core/solver/lower_trs.hpp
  include/ginkgo/core/solver/upper_trs.hpp
  omp/solver/lower_trs_kernels.cpp
  omp/solver/upper_trs_kernels.cpp
  omp/test/solver/CMakeLists.txt
  omp/test/solver/lower_trs_kernels.cpp
  omp/test/solver/upper_trs_kernels.cpp
  reference/solver/lower_trs_kernels.cpp
  reference/solver/upper_trs_kernels.cpp
  reference/test/solver/lower_trs_kernels.cpp
  reference/test/solver/upper_trs_kernels.cpp
  test/solver/CMakeLists.txt
  test/solver/lower_trs_kernels.cpp
  test/solver/upper_trs_kernels.cpp
Labels: reg:build, reg:testing, type:solver, 1:ST:ready-to-merge, mod:all, 1:ST:run-full-test

#1084 Push mirroring
  .github/abidiff.sh
  .github/bot-base.sh
  .github/bot-pr-base.sh
  .github/bot-pr-format-base.sh
  .github/check-format.sh
  .github/format-rebase.sh
  .github/format.sh
  .github/label.sh
  .github/mirror.sh
  .github/rebase.sh
  .github/workflows/mirror.yml
Labels: reg:ci-cd, 1:ST:run-full-test
