Repository ginkgo-project/ginkgo, pull requests merged in 2022-01, with the labels that each got.

#949 Write sparse output for sparse matrices by default
  core/test/base/mtx_io.cpp
  include/ginkgo/core/base/mtx_io.hpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge

#951 MPI updates and fixes
  .gitlab-ci.yml
  cmake/create_test.cmake
  core/test/mpi/CMakeLists.txt
  core/test/mpi/base/bindings.cpp
  core/test/mpi/gtest/mpi_listener.cpp
  include/ginkgo/core/base/mpi.hpp
  third_party/gtest/CMakeLists.txt
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, mod:mpi, 1:ST:run-full-test

#953 Exclude CUDA 11.3.0 from the triangular solver
  cuda/base/cusparse_bindings.hpp
  cuda/solver/common_trs_kernels.cuh
  cuda/test/solver/lower_trs_kernels.cpp
Labels: reg:testing, mod:cuda, type:solver, 1:ST:ready-to-merge, is:bugfix

#956 Remove unnecessary device_guard usage
  cuda/base/device_guard.hpp
  cuda/base/kernel_launch.cuh
  cuda/base/kernel_launch_reduction.cuh
  cuda/base/kernel_launch_solver.cuh
  cuda/factorization/ic_kernels.cu
  cuda/factorization/ilu_kernels.cu
  hip/base/device_guard.hip.hpp
  hip/base/kernel_launch.hip.hpp
  hip/base/kernel_launch_reduction.hip.hpp
  hip/base/kernel_launch_solver.hip.hpp
  hip/factorization/ic_kernels.hip.cpp
  hip/factorization/ilu_kernels.hip.cpp
  hip/solver/common_trs_kernels.hip.hpp
Labels: mod:cuda, type:solver, 1:ST:ready-to-merge, mod:hip, type:factorization

#958 fix uninitialized data, add check in dense stride test
  reference/test/matrix/dense_kernels.cpp
Labels: reg:testing, mod:reference, type:matrix-format, 1:ST:ready-to-merge, is:bugfix
