Repository ginkgo-project/ginkgo, pull requests merged in 2022-03, with the labels that each got.

#984 Add binary IO for matrix_data
  benchmark/conversions/conversions.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/spmv.cpp
  benchmark/tools/CMakeLists.txt
  benchmark/tools/matrix.cpp
  benchmark/tools/mtx_to_binary.cpp
  core/base/mtx_io.cpp
  core/test/base/mtx_io.cpp
  core/test/utils/assertions.hpp
  include/ginkgo/core/base/mtx_io.hpp
  include/ginkgo/core/matrix/dense.hpp
Labels: reg:build, reg:testing, mod:core, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge

#987 Device-capable pretty-printer
  dev_tools/scripts/gdb-ginkgo.py
Labels: 1:ST:ready-for-review, reg:helper-scripts

#964 Create submatrix from Index sets
  common/unified/base/index_set_kernels.cpp
  core/base/index_set.cpp
  core/base/index_set_kernels.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_kernels.hpp
  cuda/base/index_set_kernels.cpp
  cuda/matrix/csr_kernels.cu
  cuda/test/base/CMakeLists.txt
  cuda/test/base/index_set.cu
  dpcpp/base/index_set_kernels.dp.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  hip/base/index_set_kernels.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/test/base/CMakeLists.txt
  hip/test/base/index_set.hip.cpp
  include/ginkgo/core/base/index_set.hpp
  include/ginkgo/core/matrix/csr.hpp
  omp/base/index_set_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/test/base/index_set.cpp
  omp/test/matrix/csr_kernels.cpp
  reference/base/index_set_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/base/index_set.cpp
  reference/test/matrix/csr_kernels.cpp
Labels: is:new-feature, reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all, 1:ST:run-full-test
