Repository ginkgo-project/ginkgo, pull requests merged in 2022-11, with the labels that each got.

#1153 Some documentation fixes
  INSTALL.md
  include/ginkgo/core/stop/residual_norm.hpp
Labels: reg:documentation, mod:core, 1:ST:ready-for-review, type:stopping-criteria, 1:ST:skip-full-test

#1154 Fix the Doxygen error and warning
  .gitlab-ci.yml
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/matrix/dense.hpp
Labels: is:bug, mod:core, type:matrix-format, 1:ST:ready-to-merge, 1:ST:high-importance, 1:ST:skip-full-test

#1148 Fixes distributed Matrix constructor with LinOp* input
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/matrix.cpp
  include/ginkgo/core/distributed/matrix.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:high-importance

#1147 Fixes convergence/papi logger for distributed vectors
  core/distributed/helpers.hpp
  core/log/convergence.cpp
  core/log/papi.cpp
  core/test/log/convergence.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/helpers.cpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:high-importance, type:logger, is:bugfix

#1059 ScaledReordered interface
  common/cuda_hip/matrix/diagonal_kernels.hpp.inc
  common/unified/matrix/diagonal_kernels.cpp
  core/CMakeLists.txt
  core/matrix/diagonal.cpp
  core/matrix/diagonal_kernels.hpp
  core/reorder/scaled_reordered.cpp
  core/test/reorder/CMakeLists.txt
  core/test/reorder/scaled_reordered.cpp
  cuda/matrix/diagonal_kernels.cu
  dpcpp/matrix/diagonal_kernels.dp.cpp
  hip/matrix/diagonal_kernels.hip.cpp
  include/ginkgo/core/matrix/diagonal.hpp
  include/ginkgo/core/reorder/rcm.hpp
  include/ginkgo/core/reorder/reordering_base.hpp
  include/ginkgo/core/reorder/scaled_reordered.hpp
  include/ginkgo/ginkgo.hpp
  omp/matrix/diagonal_kernels.cpp
  omp/test/reorder/rcm_kernels.cpp
  reference/matrix/diagonal_kernels.cpp
  reference/test/matrix/diagonal_kernels.cpp
  reference/test/reorder/CMakeLists.txt
  reference/test/reorder/rcm_kernels.cpp
  reference/test/reorder/scaled_reordered.cpp
  test/matrix/diagonal_kernels.cpp
Labels: is:new-feature, reg:build, reg:testing, mod:core, type:matrix-format, 1:ST:ready-to-merge, 1:ST:ready-for-review, type:reordering, 1:ST:high-importance, mod:all, 1:ST:run-full-test, 1:ST:need-feedback

#1175 Update cuda archCoresPerSM
  common/cuda_hip/base/executor.hpp.inc
Labels: mod:cuda, 1:ST:ready-to-merge, mod:hip, 1:ST:high-importance, 1:ST:skip-full-test

#981 Add ApplyWithInitialGuess, Split criterion in IR
  core/solver/ir.cpp
  core/solver/multigrid.cpp
  core/solver/solver_base.hpp
  core/test/solver/ir.cpp
  include/ginkgo/core/solver/ir.hpp
  include/ginkgo/core/solver/solver_base.hpp
  reference/test/solver/ir_kernels.cpp
  test/solver/ir_kernels.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, 1:ST:high-importance, 1:ST:need-feedback

#1178 Pipeline updates to improve MPI CI jobs.
  .gitlab-ci.yml
  .gitlab/image.yml
  .gitlab/scripts.yml
  cmake/create_test.cmake
  core/mpi/get_info.cmake
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:high-importance, 1:ST:run-full-test

#1181 Fix CMake Modules install location
  cmake/install_helpers.cmake
Labels: reg:build, 1:ST:ready-to-merge, 1:ST:high-importance

#1082 Add sparse direct interface
  benchmark/solver/solver.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  core/CMakeLists.txt
  core/factorization/factorization.cpp
  core/factorization/lu.cpp
  core/factorization/symbolic.cpp
  core/factorization/symbolic.hpp
  core/solver/direct.cpp
  core/test/utils/matrix_generator.hpp
  core/test/utils/matrix_generator_test.cpp
  dev_tools/scripts/config
  include/ginkgo/core/factorization/factorization.hpp
  include/ginkgo/core/factorization/lu.hpp
  include/ginkgo/core/solver/direct.hpp
  include/ginkgo/ginkgo.hpp
  reference/test/factorization/CMakeLists.txt
  reference/test/factorization/cholesky_kernels.cpp
  reference/test/factorization/factorization.cpp
  reference/test/factorization/lu_kernels.cpp
  reference/test/solver/CMakeLists.txt
  reference/test/solver/direct.cpp
  test/factorization/lu_kernels.cpp
  test/solver/CMakeLists.txt
  test/solver/direct.cpp
Labels: reg:build, reg:testing, type:solver, 1:ST:ready-to-merge, type:factorization, 1:ST:high-importance, mod:all

#1183 Fix CUDA warnings
  benchmark/utils/cuda_linops.cu
  common/cuda_hip/matrix/dense_kernels.hpp.inc
  cuda/base/cusparse_bindings.hpp
  cuda/matrix/coo_kernels.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  hip/matrix/coo_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
Labels: mod:cuda, reg:benchmarking, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:high-importance

#1184 Check number of rhs for CUDA triangular solvers
  core/solver/direct.cpp
  cuda/solver/common_trs_kernels.cuh
  cuda/test/solver/lower_trs_kernels.cpp
  cuda/test/solver/upper_trs_kernels.cpp
  include/ginkgo/core/solver/direct.hpp
  include/ginkgo/core/solver/triangular.hpp
  test/solver/direct.cpp
  test/solver/lower_trs_kernels.cpp
  test/solver/solver.cpp
  test/solver/upper_trs_kernels.cpp
Labels: mod:cuda, type:solver, 1:ST:ready-for-review, 1:ST:high-importance, 1:ST:run-full-test

#1109 Fix PackageConfig and Create the test
  .gitlab/scripts.yml
  CMakeLists.txt
  cmake/Modules/FindPAPI.cmake
  cmake/ginkgo.pc.in
  cmake/information_helpers.cmake
  test/test_pkgconfig/CMakeLists.txt
Labels: reg:build, reg:ci-cd, 1:ST:ready-to-merge, 1:ST:high-importance

#1187 Update the github action badge
  README.md
Labels: reg:documentation, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1189 Fix remaining warnings
  cuda/test/base/CMakeLists.txt
  cuda/test/base/index_set.cpp
  doc/conf/Doxyfile-pdf.in
  doc/conf/Doxyfile.in
  hip/test/base/CMakeLists.txt
  hip/test/base/index_set.cpp
Labels: reg:build, reg:testing, reg:documentation, mod:cuda, 1:ST:ready-to-merge, mod:hip

#982 Multigrid improvement and fix
  core/solver/multigrid.cpp
  core/test/solver/multigrid.cpp
  examples/mixed-multigrid-solver/mixed-multigrid-solver.cpp
  examples/mixed-precision-ir/mixed-precision-ir.cpp
  examples/multigrid-preconditioned-solver/multigrid-preconditioned-solver.cpp
  include/ginkgo/core/solver/multigrid.hpp
  include/ginkgo/core/solver/solver_base.hpp
  reference/test/solver/multigrid_kernels.cpp
Labels: reg:build, reg:testing, reg:example, type:solver, type:matrix-format, 1:ST:ready-to-merge, 1:ST:high-importance, type:multigrid, mod:all

#1194 Find CUDA libraries with NVHPC package
  CMakeLists.txt
  README.md
  cmake/cuda.cmake
  include/ginkgo/core/stop/combined.hpp
  omp/distributed/partition_kernels.cpp
Labels: reg:build, 1:ST:ready-for-review, 1:ST:high-importance

#1195 Release 1.5.0 to develop
  CHANGELOG.md
  cmake/cuda.cmake
  third_party/gflags/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/rapidjson/CMakeLists.txt
Labels: reg:build, reg:documentation, 1:ST:ready-to-merge, 1:ST:high-importance, 1:ST:run-full-test

#1199 Errors with the pipelines for 1.5.0
  .github/workflows/joss.yml
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:high-importance

#1198 Missing fixes for 1.5.0
  .github/workflows/joss.yml
  .gitlab-ci.yml
  CITATION.cff
  core/mpi/exception.cpp
  examples/mixed-multigrid-solver/CMakeLists.txt
  examples/multigrid-preconditioned-solver/CMakeLists.txt
Labels: reg:build, reg:ci-cd, mod:core, reg:example, 1:ST:ready-for-review

#1200 Fix path to openmpi_test.cpp in uses_openmpi try_run
  CMakeLists.txt
  contributors.txt
Labels: reg:build, 1:ST:ready-to-merge
