Repository ginkgo-project/ginkgo, pull requests merged in 2022-10, with the labels that each got.

#1137 fix the typo of SOLVERS_MAX_ITERATIONS in BENCHMARK
  BENCHMARKING.md
Labels: reg:documentation, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1110 Add dpcpp device timing
  benchmark/CMakeLists.txt
  benchmark/blas/blas.cpp
  benchmark/conversions/conversions.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/dpcpp_timer.dp.cpp
  benchmark/utils/general.hpp
  benchmark/utils/timer.hpp
  core/device_hooks/dpcpp_hooks.cpp
  dpcpp/base/executor.dp.cpp
  include/ginkgo/core/base/executor.hpp
Labels: reg:build, mod:core, reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge, mod:dpcpp

#1136 Adds simple functions to create Dense view
  core/test/matrix/dense.cpp
  include/ginkgo/core/matrix/dense.hpp
Labels: reg:testing, mod:core, type:matrix-format, 1:ST:ready-to-merge, 1:ST:run-full-test

#1139 Allow `rebase!` and `format-rebase!` to preserve merge commits
  .github/format-rebase.sh
  .github/rebase.sh
Labels: is:enhancement, reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test

#929 Dpcpp port jacobi
  common/cuda_hip/preconditioner/jacobi_generate_kernel.hpp.inc
  common/cuda_hip/preconditioner/jacobi_kernels.hpp.inc
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi_utils.hpp
  cuda/preconditioner/jacobi_kernels.cu
  dev_tools/scripts/format_header.sh
  dpcpp/CMakeLists.txt
  dpcpp/components/diagonal_block_manipulation.dp.hpp
  dpcpp/components/warp_blas.dp.hpp
  dpcpp/preconditioner/jacobi_advanced_apply_instantiate.inc.dp.cpp
  dpcpp/preconditioner/jacobi_advanced_apply_kernel.dp.cpp
  dpcpp/preconditioner/jacobi_common.hpp.in
  dpcpp/preconditioner/jacobi_generate_instantiate.inc.dp.cpp
  dpcpp/preconditioner/jacobi_generate_kernel.dp.cpp
  dpcpp/preconditioner/jacobi_kernels.dp.cpp
  dpcpp/preconditioner/jacobi_simple_apply_instantiate.inc.dp.cpp
  dpcpp/preconditioner/jacobi_simple_apply_kernel.dp.cpp
  dpcpp/test/CMakeLists.txt
  dpcpp/test/preconditioner/CMakeLists.txt
  dpcpp/test/preconditioner/jacobi_kernels.cpp
  hip/preconditioner/jacobi_kernels.hip.cpp
  omp/preconditioner/jacobi_kernels.cpp
  reference/preconditioner/jacobi_kernels.cpp
Labels: reg:build, reg:testing, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:factorization, 1:ST:high-importance, reg:helper-scripts, mod:all
