Repository ginkgo-project/ginkgo, pull requests merged in 2022-04, with the labels that each got.

#1008 Add functions to wrap `const` user arrays into Ginkgo batched matrices
  core/matrix/batch_ell.cpp
  core/test/matrix/batch_csr.cpp
  core/test/matrix/batch_dense.cpp
  core/test/matrix/batch_ell.cpp
  examples/batched-solver/batched-solver.cpp
  hip/log/batch_loggers.hip.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/matrix/batch_csr.hpp
  include/ginkgo/core/matrix/batch_dense.hpp
  include/ginkgo/core/matrix/batch_ell.hpp
  omp/test/matrix/batch_ell_kernels.cpp
  reference/test/matrix/batch_ell_kernels.cpp
Labels: reg:testing, mod:core, mod:openmp, mod:reference, reg:example, type:matrix-format, 1:ST:ready-to-merge

#986 Add a fixed coarsening class usable in multigrid and multi-level methods
  core/CMakeLists.txt
  core/multigrid/fixed_coarsening.cpp
  core/test/multigrid/CMakeLists.txt
  core/test/multigrid/fixed_coarsening.cpp
  include/ginkgo/core/multigrid/fixed_coarsening.hpp
  include/ginkgo/ginkgo.hpp
  reference/test/multigrid/CMakeLists.txt
  reference/test/multigrid/fixed_coarsening_kernels.cpp
  test/multigrid/CMakeLists.txt
  test/multigrid/fixed_coarsening_kernels.cpp
Labels: is:new-feature, reg:build, reg:testing, mod:core, mod:reference, 1:ST:ready-to-merge, type:multigrid, 1:ST:run-full-test

#1011 add `test` to formatting regex for ginkgo-bot
  .github/bot-pr-base.sh
Labels: reg:ci-cd

#1012 Add-scale (M <- a A + b M) operations
  common/cuda_hip/matrix/batch_dense_kernels.hpp.inc
  common/unified/matrix/dense_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/batch_dense.cpp
  core/matrix/batch_dense_kernels.hpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  cuda/matrix/batch_dense_kernels.cu
  cuda/test/matrix/batch_dense_kernels.cpp
  dpcpp/matrix/batch_dense_kernels.dp.cpp
  hip/matrix/batch_dense_kernels.hip.cpp
  hip/test/matrix/batch_dense_kernels.cpp
  include/ginkgo/core/matrix/batch_dense.hpp
  include/ginkgo/core/matrix/batch_identity.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/ginkgo.hpp
  omp/matrix/batch_dense_kernels.cpp
  omp/test/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.hpp.inc
  reference/matrix/dense_kernels.cpp
  reference/test/matrix/batch_dense_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  test/matrix/dense_kernels.cpp
Labels: reg:testing, type:matrix-format, 1:ST:ready-for-review, mod:all

#997 Adds move_from to PolymorphicObject
  core/log/logger.cpp
  core/log/papi.cpp
  core/log/record.cpp
  core/log/stream.cpp
  core/test/base/polymorphic_object.cpp
  core/test/log/papi.cpp
  core/test/log/record.cpp
  core/test/log/stream.cpp
  include/ginkgo/core/base/polymorphic_object.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/record.hpp
  include/ginkgo/core/log/stream.hpp
Labels: mod:core, 1:ST:ready-to-merge, mod:all

#1013 Use reductions with reused tmp storage in solver
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/fcg.cpp
  core/solver/idr.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge

#923 Make ginkgo.pc libraries be found recursively
  CMakeLists.txt
  cmake/ginkgo.pc.in
  cmake/information_helpers.cmake
  cmake/install_helpers.cmake
  third_party/hwloc/CMakeLists.txt
Labels: reg:build, 1:ST:ready-to-merge

#1021 Add color palette and design guidelines
  assets/color-palette.png
  assets/design.md
Labels: reg:documentation, 1:ST:ready-to-merge

#1020 Only allow gko::share() to work with rvalue references
  core/preconditioner/isai.cpp
  core/test/base/utils.cpp
  core/test/preconditioner/isai.cpp
  core/test/solver/ir.cpp
  core/test/stop/combined.cpp
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/iterative-refinement.cpp
  examples/mixed-multigrid-solver/mixed-multigrid-solver.cpp
  examples/multigrid-preconditioned-solver/multigrid-preconditioned-solver.cpp
  include/ginkgo/core/base/utils_helper.hpp
  include/ginkgo/core/reorder/rcm.hpp
  omp/test/reorder/rcm_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  reference/test/base/utils.cpp
  reference/test/factorization/ic_kernels.cpp
  reference/test/factorization/ilu_kernels.cpp
  reference/test/factorization/par_ic_kernels.cpp
  reference/test/factorization/par_ict_kernels.cpp
  reference/test/factorization/par_ilu_kernels.cpp
  reference/test/factorization/par_ilut_kernels.cpp
  reference/test/preconditioner/ic.cpp
  reference/test/preconditioner/ilu.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
  reference/test/solver/ir_kernels.cpp
Labels: reg:testing, mod:core, mod:openmp, mod:reference, reg:example, type:solver, type:preconditioner, 1:ST:ready-to-merge, type:factorization, is:interface-breaking, type:reordering, type:stopping-criteria, is:bugfix

#989 Add CI test, adjust the compiler version to check the lowest requirement, fix the corresponding error
  .gitlab-ci.yml
  .gitlab/image.yml
  CMakeLists.txt
  core/base/iterator_factory.hpp
  hip/CMakeLists.txt
  hip/matrix/fft_kernels_stub.hip.cpp
  test/base/device_matrix_data_kernels.cpp
  test/test_install/CMakeLists.txt
Labels: reg:build, reg:ci-cd, type:matrix-format, 1:ST:ready-to-merge, mod:hip

#980 Use thrust to generate the coarse of amgx_pgm
  common/cuda_hip/multigrid/amgx_pgm_kernels.hpp.inc
  common/unified/multigrid/amgx_pgm_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/multigrid/amgx_pgm.cpp
  core/multigrid/amgx_pgm_kernels.hpp
  cuda/CMakeLists.txt
  cuda/multigrid/amgx_pgm_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/multigrid/amgx_pgm_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/multigrid/amgx_pgm_kernels.hip.cpp
  omp/CMakeLists.txt
  omp/multigrid/amgx_pgm_kernels.cpp
  reference/multigrid/amgx_pgm_kernels.cpp
  test/matrix/matrix.cpp
Labels: reg:build, type:matrix-format, 1:ST:ready-to-merge, type:multigrid, mod:all

#973 Add generic solver test
  benchmark/tools/matrix.cpp
  core/test/matrix/dense.cpp
  core/test/utils/assertions.hpp
  core/test/utils/matrix_utils.hpp
  core/test/utils/matrix_utils_test.cpp
  core/utils/matrix_utils.hpp
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/solver/cb_gmres_kernels.cu
  cuda/solver/common_trs_kernels.cuh
  cuda/solver/gmres_kernels.cu
  cuda/solver/idr_kernels.cu
  cuda/test/matrix/csr_kernels.cpp
  cuda/test/preconditioner/jacobi_kernels.cpp
  dev_tools/scripts/config
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/solver/cb_gmres_kernels.dp.cpp
  dpcpp/solver/gmres_kernels.dp.cpp
  dpcpp/solver/idr_kernels.dp.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/solver/cb_gmres_kernels.hip.cpp
  hip/solver/common_trs_kernels.hip.hpp
  hip/solver/gmres_kernels.hip.cpp
  hip/solver/idr_kernels.hip.cpp
  hip/test/matrix/csr_kernels.hip.cpp
  hip/test/preconditioner/jacobi_kernels.cpp
  include/ginkgo/core/base/range.hpp
  omp/solver/idr_kernels.cpp
  omp/test/matrix/csr_kernels.cpp
  omp/test/preconditioner/jacobi_kernels.cpp
  test/multigrid/amgx_pgm_kernels.cpp
  test/multigrid/fixed_coarsening_kernels.cpp
  test/solver/CMakeLists.txt
  test/solver/bicg_kernels.cpp
  test/solver/bicgstab_kernels.cpp
  test/solver/cg_kernels.cpp
  test/solver/cgs_kernels.cpp
  test/solver/fcg_kernels.cpp
  test/solver/solver.cpp
Labels: reg:build, reg:testing, mod:core, mod:cuda, mod:openmp, type:solver, type:matrix-format, 1:ST:ready-to-merge, mod:hip, mod:dpcpp

#1030 Fix distributed vector merge
  CMakeLists.txt
  cmake/create_test.cmake
  cmake/get_info.cmake
  common/unified/matrix/dense_kernels.cpp
  core/CMakeLists.txt
  core/base/dense_cache.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/vector.cpp
  core/distributed/vector_kernels.hpp
  core/matrix/dense.cpp
  core/matrix/dense_kernels.hpp
  core/test/base/CMakeLists.txt
  core/test/base/dense_cache.cpp
  core/test/mpi/CMakeLists.txt
  core/test/utils.hpp
  cuda/CMakeLists.txt
  cuda/distributed/vector_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/distributed/vector_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/distributed/vector_kernels.hip.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/dense_cache.hpp
  include/ginkgo/core/base/mpi.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/distributed/base.hpp
  include/ginkgo/core/distributed/partition.hpp
  include/ginkgo/core/distributed/vector.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/distributed/vector_kernels.cpp
  omp/test/CMakeLists.txt
  omp/test/distributed/CMakeLists.txt
  omp/test/distributed/vector_kernels.cpp
  reference/CMakeLists.txt
  reference/distributed/vector_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/test/distributed/CMakeLists.txt
  reference/test/distributed/vector_kernels.cpp
  reference/test/matrix/dense_kernels.cpp
  test/CMakeLists.txt
  test/base/device_matrix_data_kernels.cpp
  test/matrix/dense_kernels.cpp
  test/mpi/CMakeLists.txt
  test/mpi/distributed/CMakeLists.txt
  test/mpi/distributed/vector.cpp
  test/utils/executor.hpp
Labels: reg:build, reg:testing, type:matrix-format, mod:all

#978 Fix failing matrix tests
  .gitlab-ci.yml
  .gitlab/image.yml
  CHANGELOG.md
  README.md
  common/cuda_hip/matrix/csr_common.hpp.inc
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/cuda_hip/matrix/dense_kernels.hpp.inc
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  core/base/composition.cpp
  core/factorization/par_ic.cpp
  core/factorization/par_ict.cpp
  core/factorization/par_ilut.cpp
  core/matrix/dense.cpp
  core/matrix/fbcsr.cpp
  core/preconditioner/jacobi.cpp
  core/test/base/array.cpp
  core/test/matrix/coo.cpp
  core/test/matrix/csr.cpp
  core/test/matrix/dense.cpp
  core/test/matrix/diagonal.cpp
  core/test/matrix/ell.cpp
  core/test/matrix/fbcsr.cpp
  core/test/matrix/permutation.cpp
  core/test/matrix/row_gatherer.cpp
  core/test/matrix/sparsity_csr.cpp
  core/test/utils/assertions_test.cpp
  cuda/factorization/par_ilut_approx_filter_kernel.cu
  cuda/factorization/par_ilut_filter_kernel.cu
  cuda/factorization/par_ilut_select_kernel.cu
  cuda/matrix/csr_kernels.cu
  cuda/matrix/dense_kernels.cu
  cuda/matrix/ell_kernels.cu
  cuda/matrix/fbcsr_kernels.cu
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/matrix/ell_kernels.dp.cpp
  hip/base/hipsparse_block_bindings.hip.hpp
  hip/factorization/par_ilut_approx_filter_kernel.hip.cpp
  hip/factorization/par_ilut_filter_kernel.hip.cpp
  hip/factorization/par_ilut_select_kernel.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/dense_kernels.hip.cpp
  hip/matrix/ell_kernels.hip.cpp
  hip/matrix/fbcsr_kernels.hip.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/matrix/dense.hpp
  omp/factorization/par_ilut_kernels.cpp
  omp/matrix/fbcsr_kernels.cpp
  reference/factorization/par_ilut_kernels.cpp
  reference/matrix/fbcsr_kernels.cpp
  reference/test/components/precision_conversion_kernels.cpp
  reference/test/matrix/permutation.cpp
  test/matrix/matrix.cpp
Labels: reg:testing, mod:core, mod:openmp, mod:reference, type:matrix-format, 1:ST:ready-to-merge, 1:ST:run-full-test
