Repository ginkgo-project/ginkgo, pull requests merged in 2022-06, with the labels that each got.

#1056 Fix potential memory leak in Logger
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/solver.cpp
  benchmark/spmv/spmv.cpp
  benchmark/utils/loggers.hpp
  core/test/base/executor.cpp
  core/test/base/lin_op.cpp
  core/test/base/polymorphic_object.cpp
  core/test/log/convergence.cpp
  core/test/log/logger.cpp
  core/test/log/record.cpp
  core/test/log/stream.cpp
  core/test/stop/criterion.cpp
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/custom-logger/custom-logger.cpp
  examples/custom-stopping-criterion/custom-stopping-criterion.cpp
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/iterative-refinement.cpp
  examples/mixed-multigrid-solver/mixed-multigrid-solver.cpp
  examples/multigrid-preconditioned-solver/multigrid-preconditioned-solver.cpp
  examples/performance-debugging/performance-debugging.cpp
  examples/simple-solver-logging/simple-solver-logging.cpp
  include/ginkgo/core/log/convergence.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/record.hpp
  include/ginkgo/core/log/stream.hpp
  reference/test/log/convergence.cpp
  test/solver/solver.cpp
Labels: reg:testing, mod:core, mod:reference, reg:example, reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge, is:technical-debt, type:stopping-criteria, is:bugfix

#1035 Add logger highlighting inefficient allocation and copy patterns
  core/CMakeLists.txt
  core/log/performance_hint.cpp
  core/log/stream.cpp
  core/test/log/CMakeLists.txt
  core/test/log/performance_hint.cpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/log/performance_hint.hpp
  include/ginkgo/core/log/stream.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge

#985 Device kernel for vector read_distributed
  common/cuda_hip/distributed/vector_kernels.hpp.inc
  cuda/distributed/vector_kernels.cu
  hip/distributed/vector_kernels.hip.cpp
  omp/test/CMakeLists.txt
  omp/test/distributed/CMakeLists.txt
  test/distributed/CMakeLists.txt
  test/distributed/vector_kernels.cpp
  test/mpi/distributed/vector.cpp
Labels: reg:build, reg:testing, mod:cuda, mod:openmp, 1:ST:ready-to-merge, mod:hip

#1032 Optimize matrix generation
  .gitlab-ci.yml
  core/test/utils/matrix_generator.hpp
  core/test/utils/matrix_generator_test.cpp
  cuda/test/factorization/par_ic_kernels.cpp
  cuda/test/factorization/par_ict_kernels.cpp
  cuda/test/factorization/par_ilut_kernels.cpp
  cuda/test/preconditioner/isai_kernels.cpp
  cuda/test/solver/lower_trs_kernels.cpp
  cuda/test/solver/upper_trs_kernels.cpp
  dpcpp/test/factorization/par_ic_kernels.cpp
  dpcpp/test/factorization/par_ict_kernels.cpp
  dpcpp/test/factorization/par_ilut_kernels.cpp
  dpcpp/test/preconditioner/isai_kernels.cpp
  dpcpp/test/solver/idr_kernels.cpp
  hip/test/factorization/par_ic_kernels.hip.cpp
  hip/test/factorization/par_ict_kernels.hip.cpp
  hip/test/factorization/par_ilut_kernels.hip.cpp
  hip/test/preconditioner/isai_kernels.hip.cpp
  hip/test/solver/lower_trs_kernels.cpp
  hip/test/solver/upper_trs_kernels.cpp
  include/ginkgo/core/base/matrix_data.hpp
  omp/test/factorization/par_ic_kernels.cpp
  omp/test/factorization/par_ict_kernels.cpp
  omp/test/factorization/par_ilut_kernels.cpp
  omp/test/preconditioner/isai_kernels.cpp
  omp/test/solver/gmres_kernels.cpp
  omp/test/solver/lower_trs_kernels.cpp
  omp/test/solver/upper_trs_kernels.cpp
  test/solver/bicgstab_kernels.cpp
  test/solver/fcg_kernels.cpp
  test/solver/ir_kernels.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:openmp, type:solver, type:preconditioner, 1:ST:ready-to-merge, mod:hip, type:factorization, 1:ST:low-importance, mod:dpcpp

#1066 Fix simple-solver-logging example
  examples/simple-solver-logging/simple-solver-logging.cpp
Labels: reg:example, 1:ST:ready-to-merge

#1042 Update CI, add HoreKa jobs and CB
  .gitlab-ci.yml
  .gitlab/condition.yml
  .gitlab/image.yml
  .gitlab/rules.yml
  .gitlab/scripts.yml
  .gitlab/variables.yml
  CMakeLists.txt
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:run-full-test
