Repository ginkgo-project/ginkgo, pull requests merged in 2023-08, with the labels that each got.

#1372 Check downstream compilers
  cmake/GinkgoConfig.cmake.in
Labels: reg:build, 1:ST:ready-to-merge

#1378 Split compilation of large files automatically
  CMakeLists.txt
  cmake/template_instantiation.cmake
  common/CMakeLists.txt
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  common/unified/CMakeLists.txt
  common/unified/matrix/dense_kernels.instantiate.cpp
  common/unified/matrix/dense_kernels.template.cpp
  cuda/CMakeLists.txt
  cuda/matrix/csr_kernels.instantiate.cu
  cuda/matrix/csr_kernels.template.cu
  cuda/matrix/fbcsr_kernels.instantiate.cu
  cuda/matrix/fbcsr_kernels.template.cu
  dev_tools/scripts/config
  dpcpp/CMakeLists.txt
  hip/CMakeLists.txt
  hip/matrix/csr_kernels.instantiate.hip.cpp
  hip/matrix/csr_kernels.template.hip.cpp
  hip/matrix/fbcsr_kernels.instantiate.hip.cpp
  hip/matrix/fbcsr_kernels.template.hip.cpp
  omp/CMakeLists.txt
Labels: reg:build, mod:cuda, mod:openmp, type:matrix-format, 1:ST:ready-to-merge, mod:hip, mod:dpcpp

#1369 Fix OMP column reduction kernel
  include/ginkgo/core/base/range.hpp
  omp/base/kernel_launch_reduction.hpp
  test/base/kernel_launch_generic.cpp
Labels: is:confirmed, mod:openmp, 1:ST:ready-to-merge, is:bugfix

#1371 Add BatchMultiVector class, core, kernels and tests
  .github/workflows/intel.yml
  .gitlab-ci.yml
  .gitlab/scripts.yml
  .gitlab/variables.yml
  common/cuda_hip/base/batch_multi_vector_kernel_launcher.hpp.inc
  common/cuda_hip/base/batch_multi_vector_kernels.hpp.inc
  core/CMakeLists.txt
  core/base/batch_multi_vector.cpp
  core/base/batch_multi_vector_kernels.hpp
  core/base/batch_struct.hpp
  core/base/batch_utilities.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/test/base/CMakeLists.txt
  core/test/base/batch_dim.cpp
  core/test/base/batch_multi_vector.cpp
  core/test/utils/assertions.hpp
  core/test/utils/batch_helpers.hpp
  cuda/CMakeLists.txt
  cuda/base/batch_multi_vector_kernels.cu
  cuda/base/batch_struct.hpp
  dpcpp/CMakeLists.txt
  dpcpp/base/batch_multi_vector_kernels.dp.cpp
  dpcpp/base/batch_multi_vector_kernels.hpp.inc
  dpcpp/base/batch_struct.hpp
  hip/CMakeLists.txt
  hip/base/batch_multi_vector_kernels.hip.cpp
  hip/base/batch_struct.hip.hpp
  include/ginkgo/core/base/batch_dim.hpp
  include/ginkgo/core/base/batch_multi_vector.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/base/batch_multi_vector_kernels.cpp
  reference/CMakeLists.txt
  reference/base/batch_multi_vector_kernels.cpp
  reference/base/batch_multi_vector_kernels.hpp.inc
  reference/base/batch_struct.hpp
  reference/test/base/CMakeLists.txt
  reference/test/base/batch_multi_vector_kernels.cpp
  test/base/CMakeLists.txt
  test/base/batch_multi_vector_kernels.cpp
  test/test_install/test_install.cpp
Labels: is:new-feature, reg:build, reg:testing, 1:ST:ready-to-merge, 1:ST:high-importance, mod:all, 1:ST:run-full-test, type:batched-functionality

#1382 Remove CUDA 9.2 support
  .gitlab-ci.yml
  .gitlab/image.yml
  README.md
  cmake/cuda.cmake
  cmake/hip.cmake
  common/cuda_hip/base/device_matrix_data_kernels.hpp.inc
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  common/cuda_hip/multigrid/pgm_kernels.hpp.inc
  common/unified/matrix/csr_kernels.cpp
  cuda/solver/common_trs_kernels.cuh
  hip/CMakeLists.txt
  third_party/identify_stream_usage/identify_stream_usage.cpp
Labels: reg:build, reg:ci-cd, reg:documentation, mod:cuda, type:solver, type:matrix-format, 1:ST:ready-for-review, mod:hip, type:multigrid, 1:ST:run-full-test

#1368 Modernize CUDA CMake setup
  .gitlab-ci.yml
  .gitlab/image.yml
  .gitlab/scripts.yml
  CMakeLists.txt
  README.md
  benchmark/CMakeLists.txt
  benchmark/utils/cuda_linops.cpp
  cmake/DownloadNonCMakeCMakeLists.txt.in
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/CudaArchitectureSelector.cmake
  cmake/Modules/FindNVTX.cmake
  cmake/create_test.cmake
  cmake/cuda.cmake
  cmake/hip.cmake
  cuda/CMakeLists.txt
  cuda/get_info.cmake
  cuda/test/solver/CMakeLists.txt
  cuda/test/solver/lower_trs_kernels.cu
  cuda/test/solver/upper_trs_kernels.cu
  doc/CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/cb-gmres/CMakeLists.txt
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/external-lib-interfacing/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/kokkos_assembly/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/mixed-multigrid-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-spmv/CMakeLists.txt
  examples/multigrid-preconditioned-solver-customized/CMakeLists.txt
  examples/multigrid-preconditioned-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/schroedinger-splitting/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
  test/test_exportbuild/CMakeLists.txt
  test/test_install/CMakeLists.txt
  test/test_pkgconfig/CMakeLists.txt
  test/test_subdir/CMakeLists.txt
Labels: reg:build, reg:testing, reg:ci-cd, reg:documentation, mod:cuda, reg:example, reg:benchmarking, type:solver, 1:ST:ready-to-merge

#1384 Output build runtime in CI and split up further HIP kernels
  .gitlab/scripts.yml
  core/base/mixed_precision_types.hpp
  hip/matrix/csr_kernels.instantiate.hip.cpp
Labels: reg:ci-cd, mod:core, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:no-changelog-entry

#1385 Allow specifying allocator for benchmarks
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/utils/general.hpp
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  cuda/base/memory.cpp
Labels: mod:core, mod:cuda, reg:benchmarking, 1:ST:ready-to-merge

#1388 Fix circular dep check by using the same preference Threads
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  core/base/mixed_precision_types.hpp
Labels: reg:build, reg:ci-cd, mod:core, 1:ST:ready-to-merge, is:bugfix

#1227 Enables building Partition from local ranges
  common/cuda_hip/distributed/partition_helpers_kernels.hpp.inc
  common/unified/CMakeLists.txt
  common/unified/distributed/partition_helpers_kernels.cpp
  common/unified/distributed/partition_kernels.cpp
  core/CMakeLists.txt
  core/base/copy_assignable.hpp
  core/base/iterator_factory.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/partition.cpp
  core/distributed/partition_helpers.cpp
  core/distributed/partition_helpers_kernels.hpp
  core/distributed/partition_kernels.hpp
  core/test/base/iterator_factory.cpp
  cuda/CMakeLists.txt
  cuda/distributed/partition_helpers_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/distributed/partition_helpers_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/distributed/partition_helpers_kernels.hip.cpp
  include/ginkgo/core/distributed/partition.hpp
  include/ginkgo/core/distributed/partition_helpers.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/distributed/partition_helpers_kernels.cpp
  reference/CMakeLists.txt
  reference/distributed/partition_helpers_kernels.cpp
  reference/distributed/partition_kernels.cpp
  reference/test/distributed/CMakeLists.txt
  reference/test/distributed/partition_helpers_kernels.cpp
  reference/test/distributed/partition_kernels.cpp
  test/distributed/CMakeLists.txt
  test/distributed/partition_helper_kernels.cpp
  test/distributed/partition_kernels.cpp
  test/mpi/CMakeLists.txt
  test/mpi/partition_helpers.cpp
Labels: reg:build, mod:core, mod:cuda, mod:reference, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1387 Allow passing matrix filename as benchmark input
  benchmark/conversions/conversions.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/distributed/solver.cpp
  benchmark/solver/solver.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/distributed/spmv.cpp
  benchmark/spmv/spmv.cpp
  benchmark/test/conversion.py
  benchmark/test/matrix_statistics.py
  benchmark/test/preconditioner.py
  benchmark/test/reference/conversion.matrix.stderr
  benchmark/test/reference/conversion.matrix.stdout
  benchmark/test/reference/distributed_solver.matrix.stderr
  benchmark/test/reference/distributed_solver.matrix.stdout
  benchmark/test/reference/matrix_statistics.matrix.stderr
  benchmark/test/reference/matrix_statistics.matrix.stdout
  benchmark/test/reference/preconditioner.matrix.stderr
  benchmark/test/reference/preconditioner.matrix.stdout
  benchmark/test/reference/solver.matrix.stderr
  benchmark/test/reference/solver.matrix.stdout
  benchmark/test/reference/sparse_blas.matrix.stderr
  benchmark/test/reference/sparse_blas.matrix.stdout
  benchmark/test/reference/spmv.matrix.stderr
  benchmark/test/reference/spmv.matrix.stdout
  benchmark/test/solver.py
  benchmark/test/solver_distributed.py
  benchmark/test/sparse_blas.py
  benchmark/test/spmv.py
  benchmark/test/test_framework.py.in
  benchmark/utils/general.hpp
  benchmark/utils/general_matrix.hpp
Labels: reg:benchmarking, type:solver, 1:ST:ready-to-merge

#1393 fix missing $ in CI_COMMIT_TAG
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test, 1:ST:no-changelog-entry
