Repository ginkgo-project/ginkgo, pull requests merged in 2023-03, with the labels that each got.

#1284 Accept only unique_ptr for distributed vector constructors
  benchmark/solver/distributed/solver.cpp
  benchmark/utils/generator.hpp
  core/distributed/vector.cpp
  include/ginkgo/core/distributed/vector.hpp
  test/mpi/distributed/vector.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, type:distributed-functionality

#1251 Oneapi6 fix
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/build_helpers.cmake
  cuda/matrix/csr_kernels.cu
  cuda/matrix/sparsity_csr_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/base/executor.dp.cpp
  dpcpp/base/helper.dp.cpp
  dpcpp/base/onemkl_bindings.hpp
  dpcpp/components/atomic.dp.hpp
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/components/format_conversion.dp.hpp
  dpcpp/factorization/par_ict_kernels.dp.cpp
  dpcpp/factorization/par_ilut_approx_filter_kernel.dp.cpp
  dpcpp/factorization/par_ilut_filter_kernel.dp.cpp
  dpcpp/factorization/par_ilut_spgeam_kernel.dp.cpp
  dpcpp/factorization/par_ilut_sweep_kernel.dp.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/matrix/dense_kernels.dp.cpp
  dpcpp/matrix/ell_kernels.dp.cpp
  dpcpp/matrix/sparsity_csr_kernels.dp.cpp
  dpcpp/test_dpcpp.dp.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/matrix/sparsity_csr_kernels.hip.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/matrix/csr.hpp
Labels: reg:build, mod:core, type:matrix-format, 1:ST:ready-to-merge, type:factorization, mod:dpcpp

#1301 Update upload actions
  .github/workflows/bot-pr-comment.yml
  .github/workflows/bot-pr-updated.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1297 add a770 action
  .github/workflows/intel.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1299 fixed the segmentation fault on shared_ptr input
  benchmark/utils/formats.hpp
  doc/examples/examples.hpp.in
Labels: reg:benchmarking, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1294 add more method for timer output
  benchmark/blas/blas_common.hpp
  benchmark/conversions/conversions.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/run_all_benchmarks.sh
  benchmark/solver/solver_common.hpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/spmv_common.hpp
  benchmark/utils/general.hpp
  benchmark/utils/timer.hpp
  benchmark/utils/timer_impl.hpp
Labels: reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1302 Add symbolic LU and Cholesky benchmark
  benchmark/conversions/conversions.cpp
  benchmark/solver/solver_common.hpp
  benchmark/sparse_blas/operations.cpp
  benchmark/sparse_blas/operations.hpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/spmv_common.hpp
  benchmark/utils/general.hpp
  benchmark/utils/json.hpp
Labels: reg:benchmarking, 1:ST:ready-to-merge

#1296 Add METIS integration
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindMETIS.cmake
  common/CMakeLists.txt
  common/cuda_hip/matrix/sparsity_csr_kernels.hpp.inc
  common/unified/matrix/sparsity_csr_kernels.cpp
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/sparsity_csr.cpp
  core/matrix/sparsity_csr_kernels.hpp
  core/reorder/nested_dissection.cpp
  core/test/reorder/CMakeLists.txt
  core/test/reorder/nested_dissection.cpp
  dpcpp/matrix/sparsity_csr_kernels.dp.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/exception.hpp
  include/ginkgo/core/reorder/nested_dissection.hpp
  include/ginkgo/ginkgo.hpp
  omp/matrix/sparsity_csr_kernels.cpp
  reference/matrix/sparsity_csr_kernels.cpp
  reference/test/matrix/sparsity_csr_kernels.cpp
  reference/test/reorder/CMakeLists.txt
  reference/test/reorder/nested_dissection.cpp
  test/CMakeLists.txt
  test/matrix/CMakeLists.txt
  test/matrix/sparsity_csr_kernels.cpp
  test/reorder/CMakeLists.txt
  test/reorder/nested_dissection.cpp
Labels: reg:build, reg:testing, type:matrix-format, 1:ST:ready-to-merge, type:reordering, mod:all, 1:ST:run-full-test

#1306 Fix tolerance and mpi binding
  include/ginkgo/core/base/mpi.hpp
  reference/test/factorization/lu_kernels.cpp
  test/matrix/dense_kernels.cpp
Labels: reg:testing, mod:core, mod:reference, type:matrix-format, 1:ST:ready-to-merge, type:factorization

#1312 Avoid transpose in symbolic Cholesky benchmark
  benchmark/sparse_blas/operations.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  core/factorization/cholesky.cpp
  core/factorization/lu.cpp
  core/factorization/symbolic.cpp
  core/factorization/symbolic.hpp
  reference/components/prefix_sum_kernels.cpp
  reference/test/components/prefix_sum_kernels.cpp
  reference/test/factorization/cholesky_kernels.cpp
  reference/test/factorization/lu_kernels.cpp
  test/components/prefix_sum_kernels.cpp
  test/factorization/cholesky_kernels.cpp
Labels: reg:testing, mod:core, mod:reference, reg:benchmarking, 1:ST:ready-to-merge, type:factorization, 1:ST:no-changelog-entry

#1314 More performance updates for batched solvers
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  common/cuda_hip/solver/batch_cg_kernels.hpp.inc
  common/cuda_hip/solver/batch_gmres_kernels.hpp.inc
  core/solver/batch_gmres_kernels.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  cuda/solver/batch_gmres_kernels.cu
  examples/CMakeLists.txt
  examples/batched-solver/batched-solver.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  hip/solver/batch_gmres_kernels.hip.cpp
Labels: is:enhancement, reg:build, mod:core, mod:cuda, reg:example, type:solver, mod:hip, is:affects-performance, 1:ST:no-changelog-entry

#1316 Rename log propagate mode and fix warnings
  core/test/log/logger.cpp
  core/test/log/papi.cpp
  core/test/mpi/distributed/matrix.cpp
  core/test/mpi/distributed/preconditioner/schwarz.cpp
  examples/papi-logging/papi-logging.cpp
  include/ginkgo/core/base/executor.hpp
  reference/test/distributed/matrix_kernels.cpp
  reference/test/distributed/vector_kernels.cpp
  reference/test/log/papi.cpp
  test/distributed/matrix_kernels.cpp
  test/distributed/vector_kernels.cpp
  test/mpi/distributed/vector.cpp
  test/test_install/test_install.cpp
Labels: reg:testing, mod:core, mod:reference, reg:example, type:preconditioner, 1:ST:ready-to-merge, 1:ST:no-changelog-entry
