Repository ginkgo-project/ginkgo, pull requests merged in 2023-02, with the labels that each got.

#1055 Add Profiler annotation logger
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindNVTX.cmake
  cmake/Modules/FindROCTX.cmake
  cmake/Modules/FindVTune.cmake
  cmake/cuda.cmake
  cmake/hip.cmake
  cmake/information_helpers.cmake
  core/CMakeLists.txt
  core/device_hooks/cuda_hooks.cpp
  core/device_hooks/hip_hooks.cpp
  core/log/profiler_hook.cpp
  core/log/profiler_hook.hpp
  core/log/tau.cpp
  core/log/vtune.cpp
  core/test/log/CMakeLists.txt
  core/test/log/logger.cpp
  core/test/log/profiler_hook.cpp
  core/test/stop/criterion.cpp
  cuda/CMakeLists.txt
  cuda/base/executor.cpp
  dev_tools/scripts/regroup
  hip/CMakeLists.txt
  hip/base/executor.hip.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/profiler_hook.hpp
  include/ginkgo/core/log/stream.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, mod:core, reg:example, 1:ST:ready-to-merge, 1:ST:run-full-test

#1268 Fix FindPAPI with non-implicit include path
  cmake/Modules/FindPAPI.cmake
Labels: reg:build, 1:ST:ready-to-merge

#1266 Fix hwloc version detection
  cmake/Modules/hwloc_helpers.cmake
Labels: reg:build, 1:ST:ready-to-merge

#1244 FGMRES
  core/solver/gmres.cpp
  include/ginkgo/core/solver/gmres.hpp
  test/solver/solver.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge

#1271 Use CMAKE_FULL_INSTALL_*_DIR for pkg-config file
  cmake/ginkgo.pc.in
  cmake/install_helpers.cmake
Labels: reg:build, 1:ST:ready-to-merge

#1253 Fix the wrong type and pass real-number value with device_type to devices
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  common/unified/multigrid/pgm_kernels.cpp
  cuda/factorization/par_ilut_filter_kernel.cu
  cuda/factorization/par_ilut_select_common.cu
  cuda/factorization/par_ilut_select_kernel.cu
  cuda/matrix/csr_kernels.cu
  cuda/solver/cb_gmres_kernels.cu
  cuda/solver/idr_kernels.cu
  cuda/solver/multigrid_kernels.cu
  cuda/stop/residual_norm_kernels.cu
  hip/factorization/par_ilut_filter_kernel.hip.cpp
  hip/factorization/par_ilut_select_common.hip.cpp
  hip/factorization/par_ilut_select_kernel.hip.cpp
  hip/matrix/csr_kernels.hip.cpp
  hip/solver/cb_gmres_kernels.hip.cpp
  hip/solver/idr_kernels.hip.cpp
  hip/solver/multigrid_kernels.hip.cpp
  hip/stop/residual_norm_kernels.hip.cpp
Labels: mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip, type:factorization, type:multigrid

#1248 Add support for distributed block-diagonal preconditioners.
  core/CMakeLists.txt
  core/distributed/preconditioner/schwarz.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/preconditioner/CMakeLists.txt
  core/test/mpi/distributed/preconditioner/schwarz.cpp
  examples/distributed-solver/distributed-solver.cpp
  examples/distributed-solver/doc/results.dox
  include/ginkgo/core/distributed/preconditioner/schwarz.hpp
  include/ginkgo/ginkgo.hpp
  test/mpi/distributed/CMakeLists.txt
  test/mpi/distributed/preconditioner/CMakeLists.txt
  test/mpi/distributed/preconditioner/schwarz.cpp
Labels: reg:build, mod:core, reg:example, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, 1:ST:run-full-test, type:distributed-functionality

#1265 Batched Block Jacobi Preconditioner
  common/cuda_hip/preconditioner/batch_block_jacobi.hpp.inc
  common/cuda_hip/preconditioner/batch_jacobi_kernels.hpp.inc
  common/cuda_hip/preconditioner/batch_scalar_jacobi.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/batch_dense.cpp
  core/preconditioner/batch_jacobi.cpp
  core/preconditioner/batch_jacobi_kernels.hpp
  core/solver/batch_dispatch.hpp
  core/test/preconditioner/CMakeLists.txt
  core/test/preconditioner/batch_jacobi.cpp
  core/test/utils/batch_test_utils.hpp
  cuda/components/load_store.cuh
  cuda/preconditioner/batch_jacobi_kernels.cu
  cuda/preconditioner/batch_preconditioners.cuh
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/common_trs_kernels.cuh
  cuda/test/solver/batch_bicgstab_allocation.cu
  dpcpp/preconditioner/batch_jacobi_kernels.dp.cpp
  examples/batched-solver-from-files/batched-solver-from-files.cpp
  hip/components/load_store.hip.hpp
  hip/preconditioner/batch_jacobi_kernels.hip.cpp
  hip/preconditioner/batch_preconditioners.hip.hpp
  include/ginkgo/core/preconditioner/batch_jacobi.hpp
  omp/preconditioner/batch_jacobi_kernels.cpp
  reference/preconditioner/batch_block_jacobi.hpp
  reference/preconditioner/batch_ilu.hpp
  reference/preconditioner/batch_ilu_isai.hpp
  reference/preconditioner/batch_isai.hpp
  reference/preconditioner/batch_jacobi_kernels.cpp
  reference/preconditioner/batch_jacobi_kernels.hpp.inc
  reference/preconditioner/batch_scalar_jacobi.hpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/test/preconditioner/batch_jacobi_kernels.cpp
  reference/test/solver/batch_bicgstab_kernels.cpp
  reference/test/solver/batch_richardson_kernels.cpp
  test/preconditioner/batch_jacobi_kernels.cpp
  test/solver/batch_bicgstab_kernels.cpp
  test/solver/batch_cg_kernels.cpp
  test/solver/batch_gmres_kernels.cpp
  test/solver/batch_idr_kernels.cpp
  test/solver/batch_richardson_kernels.cpp
Labels: reg:testing, type:preconditioner, 1:ST:ready-for-review, mod:all, 1:ST:run-full-test, 1:ST:no-changelog-entry

#1272 Fixes read for skew-symmetric matrices
  core/base/mtx_io.cpp
  core/test/base/mtx_io.cpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge

#1278 Update benchmarking of batched solvers and preconditioners
  benchmark/run_all_benchmarks.sh
  benchmark/solver/batch_solver.hpp
  benchmark/utils/preconditioners.hpp
  cuda/solver/batch_cg_kernels.cu
Labels: reg:build, reg:testing, reg:ci-cd, reg:documentation, reg:example, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, reg:helper-scripts, type:stopping-criteria, mod:all

#1277 Improve kernel operation naming
  include/ginkgo/core/base/executor.hpp
Labels: mod:core, 1:ST:ready-to-merge

#1283 Remove cygwin pipeline
  .github/workflows/windows-cygwin.yml
  README.md
Labels: 1:ST:ready-to-merge, 1:ST:skip-full-test

#1280 Add a shared memory auto-config for BatchGmres
  common/cuda_hip/solver/batch_gmres_kernels.hpp.inc
  core/solver/batch_gmres_kernels.hpp
  cuda/solver/batch_gmres_kernels.cu
  hip/solver/batch_gmres_kernels.hip.cpp
Labels: mod:core, mod:cuda, type:solver, mod:hip, 1:ST:no-changelog-entry

#1281 Remove .cpp include in CB-GMRES test
  core/test/solver/cb_gmres.cpp
Labels: reg:testing, mod:core, type:solver, 1:ST:ready-to-merge, is:bugfix, 1:ST:no-changelog-entry

#1263 Fix handling of missing diagonal in symbolic factorizations
  benchmark/solver/solver_common.hpp
  common/cuda_hip/factorization/cholesky_kernels.hpp.inc
  core/factorization/symbolic.cpp
  cuda/factorization/cholesky_kernels.cu
  dpcpp/factorization/cholesky_kernels.dp.cpp
  hip/factorization/cholesky_kernels.hip.cpp
  omp/factorization/cholesky_kernels.cpp
  reference/test/factorization/cholesky_kernels.cpp
  reference/test/factorization/lu_kernels.cpp
  test/factorization/cholesky_kernels.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:openmp, mod:reference, reg:benchmarking, type:solver, 1:ST:ready-to-merge, mod:hip, type:factorization

#1279 Allow passing smart pointers to functions directly (interface changes only)
  CMakeLists.txt
  README.md
  cmake/GinkgoConfig.cmake.in
  cmake/autodetect_executors.cmake
  cmake/create_test.cmake
  core/distributed/matrix.cpp
  core/distributed/vector.cpp
  core/matrix/dense.cpp
  core/test/base/mtx_io.cpp
  core/test/base/utils.cpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/lin_op.hpp
  include/ginkgo/core/base/mtx_io.hpp
  include/ginkgo/core/base/perturbation.hpp
  include/ginkgo/core/base/polymorphic_object.hpp
  include/ginkgo/core/base/precision_dispatch.hpp
  include/ginkgo/core/base/temporary_clone.hpp
  include/ginkgo/core/base/temporary_conversion.hpp
  include/ginkgo/core/base/utils_helper.hpp
  include/ginkgo/core/distributed/lin_op.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/vector.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/matrix/coo.hpp
  include/ginkgo/core/matrix/csr.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/core/matrix/diagonal.hpp
  include/ginkgo/core/matrix/ell.hpp
  include/ginkgo/core/matrix/fbcsr.hpp
  include/ginkgo/core/matrix/hybrid.hpp
  include/ginkgo/core/matrix/sellp.hpp
  include/ginkgo/core/matrix/sparsity_csr.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  include/ginkgo/core/solver/solver_base.hpp
  include/ginkgo/core/stop/criterion.hpp
Labels: reg:build, reg:testing, mod:core, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:stopping-criteria

#1290 Annotate solver iterations in ProfilerHook
  core/log/profiler_hook.cpp
  core/solver/ir.cpp
  core/solver/multigrid.cpp
  core/test/log/profiler_hook.cpp
  cuda/base/executor.cpp
  include/ginkgo/core/log/profiler_hook.hpp
Labels: reg:testing, mod:core, mod:cuda, type:solver, 1:ST:ready-to-merge
