Repository ginkgo-project/ginkgo, pull requests merged in 2023-11, with the labels that each got.

#1438 Add a batch::Bicgstab solver class, core, ref and omp kernels
  common/cuda_hip/log/batch_logger.hpp.inc
  common/cuda_hip/preconditioner/batch_identity.hpp.inc
  common/cuda_hip/stop/batch_criteria.hpp.inc
  core/CMakeLists.txt
  core/base/batch_struct.hpp
  core/base/batch_utilities.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/log/batch_logger.cpp
  core/log/logger.cpp
  core/matrix/batch_identity.cpp
  core/matrix/batch_struct.hpp
  core/solver/batch_bicgstab.cpp
  core/solver/batch_bicgstab_kernels.hpp
  core/solver/batch_dispatch.hpp
  core/test/matrix/CMakeLists.txt
  core/test/matrix/batch_identity.cpp
  core/test/solver/CMakeLists.txt
  core/test/solver/batch_bicgstab.cpp
  core/test/utils/batch_helpers.hpp
  cuda/CMakeLists.txt
  cuda/log/batch_logger.cuh
  cuda/preconditioner/batch_preconditioners.cuh
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/stop/batch_criteria.cuh
  dpcpp/CMakeLists.txt
  dpcpp/log/batch_logger.hpp
  dpcpp/preconditioner/batch_identity.hpp.inc
  dpcpp/preconditioner/batch_preconditioners.hpp
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/stop/batch_criteria.hpp
  hip/CMakeLists.txt
  hip/log/batch_logger.hip.hpp
  hip/preconditioner/batch_preconditioners.hip.hpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/stop/batch_criteria.hip.hpp
  include/ginkgo/core/base/batch_lin_op.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/log/batch_logger.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/matrix/batch_identity.hpp
  include/ginkgo/core/solver/batch_bicgstab.hpp
  include/ginkgo/core/solver/batch_solver_base.hpp
  include/ginkgo/core/stop/batch_stop_enum.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/solver/batch_bicgstab_kernels.cpp
  reference/CMakeLists.txt
  reference/log/batch_logger.hpp
  reference/preconditioner/batch_identity.hpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_bicgstab_kernels.hpp.inc
  reference/stop/batch_criteria.hpp
  reference/test/solver/CMakeLists.txt
  reference/test/solver/batch_bicgstab_kernels.cpp
  test/solver/CMakeLists.txt
  test/solver/batch_bicgstab_kernels.cpp
  test/test_install/test_install.cpp
Labels: reg:build, reg:testing, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:stopping-criteria, mod:all, type:batched-functionality

#1448 Fix LaTeX in documentation
  include/ginkgo/core/matrix/scaled_permutation.hpp
Labels: mod:core, type:matrix-format, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1079 Fix the edge case in residual stopping criterion
  cuda/stop/residual_norm_kernels.cu
  dpcpp/stop/residual_norm_kernels.dp.cpp
  hip/stop/residual_norm_kernels.hip.cpp
  include/ginkgo/core/stop/residual_norm.hpp
  omp/stop/residual_norm_kernels.cpp
  reference/stop/residual_norm_kernels.cpp
  reference/test/stop/residual_norm_kernels.cpp
  test/stop/residual_norm_kernels.cpp
Labels: 1:ST:ready-to-merge, 1:ST:run-full-test

#1434 Use proper atomics for ParILU(T) and ParIC(T)
  common/cuda_hip/factorization/par_ic_kernels.hpp.inc
  common/cuda_hip/factorization/par_ict_sweep_kernels.hpp.inc
  common/cuda_hip/factorization/par_ilu_kernels.hpp.inc
  common/cuda_hip/factorization/par_ilut_sweep_kernels.hpp.inc
  cuda/factorization/par_ic_kernels.cu
  cuda/factorization/par_ict_kernels.cu
  cuda/factorization/par_ilu_kernels.cu
  cuda/factorization/par_ilut_sweep_kernel.cu
  hip/factorization/par_ic_kernels.hip.cpp
  hip/factorization/par_ict_kernels.hip.cpp
  hip/factorization/par_ilu_kernels.hip.cpp
  hip/factorization/par_ilut_sweep_kernel.hip.cpp
Labels: mod:cuda, 1:ST:ready-to-merge, mod:hip, type:factorization

#1439 make the type in deferred_factory more explicit
  core/test/base/CMakeLists.txt
  core/test/base/deferred_factory.cpp
  core/test/multigrid/fixed_coarsening.cpp
  cuda/test/base/lin_op.cpp
  examples/par-ilu-convergence/par-ilu-convergence.cpp
  examples/preconditioner-export/preconditioner-export.cpp
  hip/test/base/lin_op.cpp
  include/ginkgo/core/base/abstract_factory.hpp
  include/ginkgo/core/distributed/preconditioner/schwarz.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/solver/direct.hpp
  include/ginkgo/core/solver/ir.hpp
  include/ginkgo/core/solver/multigrid.hpp
  include/ginkgo/core/solver/solver_base.hpp
  include/ginkgo/core/stop/combined.hpp
Labels: mod:core, type:solver, type:preconditioner, 1:ST:ready-to-merge

#1449 Fix return value in CUDA memory order functions
  cuda/components/memory.cuh
  dev_tools/scripts/generate_cuda_memory_ptx.py
Labels: mod:cuda, 1:ST:ready-to-merge, reg:helper-scripts, is:bugfix, 1:ST:no-changelog-entry

#1445 Symbolic LU for near-symmetric matrices
  benchmark/solver/solver_common.hpp
  benchmark/sparse_blas/operations.cpp
  benchmark/sparse_blas/sparse_blas.cpp
  common/cuda_hip/factorization/lu_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/factorization/lu.cpp
  core/factorization/lu_kernels.hpp
  core/factorization/symbolic.cpp
  core/factorization/symbolic.hpp
  cuda/factorization/lu_kernels.cu
  dpcpp/factorization/lu_kernels.dp.cpp
  hip/factorization/lu_kernels.hip.cpp
  include/ginkgo/core/factorization/lu.hpp
  omp/factorization/lu_kernels.cpp
  reference/factorization/lu_kernels.cpp
  reference/test/factorization/lu_kernels.cpp
  reference/test/solver/direct.cpp
  test/factorization/lu_kernels.cpp
  test/solver/direct.cpp
Labels: reg:testing, 1:ST:ready-to-merge, type:factorization, mod:all

#1444 Uniform handling of disabled deprecation warnings
  core/reorder/nested_dissection.cpp
  core/reorder/rcm.cpp
  core/test/log/logger.cpp
  core/test/preconditioner/ic.cpp
  core/test/preconditioner/ilu.cpp
  core/test/reorder/rcm.cpp
  core/test/reorder/scaled_reordered.cpp
  cuda/test/reorder/rcm_kernels.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/executor.hpp
  include/ginkgo/core/base/machine_topology.hpp
  include/ginkgo/core/base/polymorphic_object.hpp
  include/ginkgo/core/base/range.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/base/utils_helper.hpp
  include/ginkgo/core/log/convergence.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/profiler_hook.hpp
  include/ginkgo/core/log/record.hpp
  include/ginkgo/core/log/stream.hpp
  include/ginkgo/core/matrix/permutation.hpp
  include/ginkgo/core/multigrid/pgm.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/reorder/rcm.hpp
  include/ginkgo/core/solver/idr.hpp
  include/ginkgo/core/solver/solver_base.hpp
  include/ginkgo/core/stop/residual_norm.hpp
  omp/test/reorder/rcm_kernels.cpp
  reference/test/reorder/rcm.cpp
  reference/test/reorder/rcm_kernels.cpp
  reference/test/reorder/scaled_reordered.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:openmp, mod:reference, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:reordering, type:multigrid, type:stopping-criteria

#1120 Add MC64
  .github/workflows/windows-msvc-ref.yml
  core/CMakeLists.txt
  core/components/addressable_pq.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/reorder/mc64.cpp
  core/reorder/mc64.hpp
  core/test/components/CMakeLists.txt
  core/test/components/addressable_pq.cpp
  include/ginkgo/core/factorization/cholesky.hpp
  include/ginkgo/core/factorization/lu.hpp
  include/ginkgo/core/reorder/amd.hpp
  include/ginkgo/core/reorder/mc64.hpp
  include/ginkgo/core/reorder/nested_dissection.hpp
  include/ginkgo/core/reorder/rcm.hpp
  include/ginkgo/ginkgo.hpp
  matrices/CMakeLists.txt
  matrices/config.hpp.in
  matrices/test/1138_bus_mc64_result.mtx
  matrices/test/nontrivial_mc64_example.mtx
  matrices/test/nontrivial_mc64_result.mtx
  reference/test/reorder/CMakeLists.txt
  reference/test/reorder/mc64.cpp
  reference/test/reorder/mc64_kernels.cpp
  test/reorder/CMakeLists.txt
  test/reorder/mc64.cpp
Labels: is:new-feature, reg:build, reg:testing, mod:core, mod:reference, type:matrix-format, 1:ST:ready-to-merge, type:reordering, mod:all

#1454 Release 1.7.0 to develop
  CHANGELOG.md
  README.md
  include/ginkgo/core/base/batch_lin_op.hpp
Labels: reg:documentation, mod:core, 1:ST:no-changelog-entry

#1456 Remove version numbers from benchmark test output
  benchmark/test/reference/blas.profile.stderr
  benchmark/test/reference/blas.simple.stderr
  benchmark/test/reference/conversion.all.stderr
  benchmark/test/reference/conversion.matrix.stderr
  benchmark/test/reference/conversion.profile.stderr
  benchmark/test/reference/conversion.simple.stderr
  benchmark/test/reference/distributed_solver.matrix.stderr
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/distributed_solver.simple.stderr
  benchmark/test/reference/matrix_statistics.matrix.stderr
  benchmark/test/reference/matrix_statistics.simple.stderr
  benchmark/test/reference/multi_vector_distributed.profile.stderr
  benchmark/test/reference/multi_vector_distributed.simple.stderr
  benchmark/test/reference/preconditioner.matrix.stderr
  benchmark/test/reference/preconditioner.profile.stderr
  benchmark/test/reference/preconditioner.reordered.stderr
  benchmark/test/reference/preconditioner.simple.stderr
  benchmark/test/reference/solver.matrix.stderr
  benchmark/test/reference/solver.profile.stderr
  benchmark/test/reference/solver.reordered.stderr
  benchmark/test/reference/solver.simple.stderr
  benchmark/test/reference/sparse_blas.matrix.stderr
  benchmark/test/reference/sparse_blas.profile.stderr
  benchmark/test/reference/sparse_blas.reordered.stderr
  benchmark/test/reference/sparse_blas.simple.stderr
  benchmark/test/reference/spmv.matrix.stderr
  benchmark/test/reference/spmv.profile.stderr
  benchmark/test/reference/spmv.reordered.stderr
  benchmark/test/reference/spmv.simple.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.simple.stderr
  benchmark/test/test_framework.py.in
Labels: reg:testing, reg:benchmarking, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1455 Develop is now preparing version 1.8.0
  CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/build-setup.sh
  examples/cb-gmres/CMakeLists.txt
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/kokkos_assembly/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/mixed-multigrid-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-spmv/CMakeLists.txt
  examples/multigrid-preconditioned-solver-customized/CMakeLists.txt
  examples/multigrid-preconditioned-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/schroedinger-splitting/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
Labels: reg:build, reg:testing, reg:example, reg:benchmarking, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1463 Fix libc++ incompatibility
  core/base/timer.cpp
Labels: mod:core, 1:ST:ready-to-merge

#1464 Use quoted arguments in cmake if
  cmake/GinkgoConfig.cmake.in
Labels: reg:build, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1457 Remove unary minus on unsigned type
  core/reorder/mc64.cpp
Labels: mod:core, 1:ST:ready-to-merge, type:reordering, 1:ST:no-changelog-entry

#1461 Use fixed clang format
  .clang-format
  .github/bot-pr-format-base.sh
  .github/check-format.sh
  .github/format-rebase.sh
  .github/format.sh
  .github/workflows/bot-pr-comment.yml
  .github/workflows/bot-pr-created.yml
  .github/workflows/bot-pr-updated.yml
  .github/workflows/check-formatting.yml
  .github/workflows/intel.yml
  .github/workflows/joss.yml
  .github/workflows/mirror.yml
  .github/workflows/osx.yml
  .github/workflows/spell_check.yml
  .github/workflows/windows-mingw.yml
  .github/workflows/windows-msvc-cuda.yml
  .github/workflows/windows-msvc-ref.yml
  .pre-commit-config.yaml
  ABOUT-LICENSING.md
  CMakeLists.txt
  INSTALL.md
  core/test/base/deferred_factory.cpp
  dpcpp/factorization/par_ilut_filter_kernels.hpp.inc
  dpcpp/factorization/par_ilut_select_kernels.hpp.inc
  dpcpp/solver/common_gmres_kernels.dp.inc
  examples/kokkos_assembly/kokkos_assembly.cpp
  third_party/CMakeLists.txt
  third_party/dummy-hook/CMakeLists.txt
  third_party/git-cmake-format/CMakeLists.txt
Labels: reg:build, reg:testing, reg:ci-cd, mod:core, reg:example, type:solver, 1:ST:ready-to-merge, type:factorization, mod:dpcpp, 1:ST:no-changelog-entry

#1470 Use configs files from develop in CI
  .github/bot-pr-format-base.sh
  .github/format-rebase.sh
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1460 Use Reuse tool for license handling
  .github/bot-pr-format-base.sh
  .github/check-format.sh
  .github/format-rebase.sh
  .github/format.sh
  .pre-commit-config.yaml
  CMakeLists.txt
  common/cuda_hip/base/batch_multi_vector_kernel_launcher.hpp.inc
  common/cuda_hip/base/batch_multi_vector_kernels.hpp.inc
  common/cuda_hip/components/syncfree.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernels.hpp.inc
  common/cuda_hip/matrix/batch_ell_kernels.hpp.inc
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  common/cuda_hip/stop/batch_criteria.hpp.inc
  dev_tools/scripts/add_license.ignore
  dev_tools/scripts/add_license.sh
  dpcpp/solver/common_gmres_kernels.dp.inc
  examples/adaptiveprecision-blockjacobi/adaptiveprecision-blockjacobi.cpp
  examples/ilu-preconditioned-solver/ilu-preconditioned-solver.cpp
  examples/ir-ilu-preconditioned-solver/ir-ilu-preconditioned-solver.cpp
  examples/iterative-refinement/iterative-refinement.cpp
  examples/mixed-multigrid-preconditioned-solver/mixed-multigrid-preconditioned-solver.cpp
  examples/mixed-multigrid-solver/mixed-multigrid-solver.cpp
  examples/mixed-precision-ir/mixed-precision-ir.cpp
  examples/multigrid-preconditioned-solver-customized/multigrid-preconditioned-solver-customized.cpp
  examples/multigrid-preconditioned-solver/multigrid-preconditioned-solver.cpp
  examples/par-ilu-convergence/par-ilu-convergence.cpp
  examples/preconditioned-solver/preconditioned-solver.cpp
  examples/preconditioner-export/preconditioner-export.cpp
  include/ginkgo/core/log/papi.hpp
  third_party/SuiteSparse/wrapper32.cpp
  third_party/SuiteSparse/wrapper64.cpp
Labels: reg:build, reg:ci-cd

#1473 Scripts as precommit hook
  .clang-format
  .github/bot-pr-format-base.sh
  .github/check-format.sh
  .github/format-rebase.sh
  .github/format.sh
  .github/workflows/bot-pr-comment.yml
  .github/workflows/check-formatting.yml
  .pre-commit-config.yaml
  dev_tools/scripts/format_header.sh
Labels: reg:ci-cd, 1:ST:ready-for-review, reg:helper-scripts, 1:ST:skip-full-test

#1467 Add benchmark comparison script
  benchmark/tools/compare.py
  benchmark/tools/compare_test.py
  benchmark/tools/compare_test_input1.json
  benchmark/tools/compare_test_input2.json
  benchmark/tools/compare_test_input3.json
  benchmark/utils/general.hpp
Labels: reg:benchmarking, 1:ST:ready-to-merge

#1474 Make dim constructor explicit
  benchmark/matrix_generator/matrix_generator.cpp
  benchmark/preconditioner/preconditioner.cpp
  core/matrix/permutation.cpp
  include/ginkgo/core/base/dim.hpp
  test/matrix/matrix.cpp
Labels: mod:core, reg:benchmarking, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge

#1475 use pre-commit clang-format for format_header
  .github/bot-base.sh
  .github/workflows/bot-pr-comment.yml
  .github/workflows/bot-pr-updated.yml
  .pre-commit-config.yaml
  dev_tools/scripts/clang-format.sh
Labels: 1:ST:ready-to-merge, reg:helper-scripts, 1:ST:no-changelog-entry

#1477 fix format_header usage
  .pre-commit-config.yaml
Labels: 1:ST:ready-for-review, 1:ST:no-changelog-entry

#1471 Remove old variable in CMake `gko_rename_cache`
  cmake/rename.cmake
Labels: reg:build, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1472 Replace `volatile` by proper memory ordering in HIP
  common/cuda_hip/components/memory.hpp.inc
  common/cuda_hip/components/memory.nvidia.hpp.inc
  cuda/components/memory.cuh
  dev_tools/scripts/generate_cuda_memory_ptx.py
  hip/components/memory.hip.hpp
Labels: mod:cuda, 1:ST:ready-to-merge, mod:hip, reg:helper-scripts, 1:ST:no-changelog-entry
