Repository ginkgo-project/ginkgo, pull requests merged in 2023-01, with the labels that each got.

#1249 Fix a few MPI related issues.
  .gitlab-ci.yml
  core/test/mpi/base/bindings.cpp
  include/ginkgo/core/base/mpi.hpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge, mod:mpi, 1:ST:run-full-test, is:bugfix

#1246 Batched Triangular Solvers and Isai Extension
  common/cuda_hip/preconditioner/batch_ilu.hpp.inc
  common/cuda_hip/preconditioner/batch_isai_kernels.hpp.inc
  common/cuda_hip/solver/batch_lower_trs_kernels.hpp.inc
  common/cuda_hip/solver/batch_upper_trs_kernels.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/batch_isai.cpp
  core/preconditioner/batch_isai_kernels.hpp
  core/solver/batch_lower_trs.cpp
  core/solver/batch_lower_trs_kernels.hpp
  core/solver/batch_upper_trs.cpp
  core/solver/batch_upper_trs_kernels.hpp
  core/test/solver/CMakeLists.txt
  core/test/solver/batch_lower_trs.cpp
  core/test/solver/batch_upper_trs.cpp
  cuda/CMakeLists.txt
  cuda/preconditioner/batch_isai_kernels.cu
  cuda/solver/batch_lower_trs_kernels.cu
  cuda/solver/batch_upper_trs_kernels.cu
  dpcpp/CMakeLists.txt
  dpcpp/preconditioner/batch_isai_kernels.dp.cpp
  dpcpp/solver/batch_lower_trs_kernels.dp.cpp
  dpcpp/solver/batch_upper_trs_kernels.dp.cpp
  hip/CMakeLists.txt
  hip/preconditioner/batch_isai_kernels.hip.cpp
  hip/solver/batch_lower_trs_kernels.hip.cpp
  hip/solver/batch_upper_trs_kernels.hip.cpp
  include/ginkgo/core/matrix/batch_ell.hpp
  include/ginkgo/core/preconditioner/batch_isai.hpp
  include/ginkgo/core/solver/batch_lower_trs.hpp
  include/ginkgo/core/solver/batch_upper_trs.hpp
  omp/CMakeLists.txt
  omp/preconditioner/batch_isai_kernels.cpp
  omp/solver/batch_lower_trs_kernels.cpp
  omp/solver/batch_upper_trs_kernels.cpp
  reference/CMakeLists.txt
  reference/preconditioner/batch_isai_kernels.cpp
  reference/preconditioner/batch_isai_kernels.hpp.inc
  reference/solver/batch_gmres_kernels.hpp.inc
  reference/solver/batch_lower_trs_kernels.cpp
  reference/solver/batch_lower_trs_kernels.hpp.inc
  reference/solver/batch_upper_trs_kernels.cpp
  reference/solver/batch_upper_trs_kernels.hpp.inc
  reference/test/preconditioner/batch_ilu_isai_kernels.cpp
  reference/test/preconditioner/batch_isai_kernels.cpp
  reference/test/solver/CMakeLists.txt
  reference/test/solver/batch_lower_trs_kernels.cpp
  reference/test/solver/batch_upper_trs_kernels.cpp
  test/preconditioner/batch_ilu_isai_kernels.cpp
  test/preconditioner/batch_isai_kernels.cpp
  test/solver/CMakeLists.txt
  test/solver/batch_lower_trs_kernels.cpp
  test/solver/batch_upper_trs_kernels.cpp
Labels: reg:testing, type:solver, type:preconditioner, mod:all, 1:ST:run-full-test, type:batched-functionality, 1:ST:no-changelog-entry

#1228 Allows checking if host MPI buffers are required at runtime
  core/base/mpi.cpp
  core/distributed/matrix.cpp
  core/distributed/vector.cpp
  include/ginkgo/core/base/mpi.hpp
Labels: mod:core, 1:ST:ready-to-merge
