Repository ginkgo-project/ginkgo, pull requests merged in 2023-05, with the labels that each got.

#1332 Shut up ABI diff bot
  .github/abidiff.sh
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1335 Improve FindVTune
  cmake/GinkgoConfig.cmake.in
  cmake/Modules/FindVTune.cmake
Labels: reg:build, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1319 Add csr mixed spmv and accessor storage addr
  accessor/reduced_row_major.hpp
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/csr.cpp
  core/matrix/csr_accessor_helper.hpp
  core/matrix/csr_kernels.hpp
  cuda/matrix/csr_kernels.cu
  dpcpp/matrix/csr_kernels.dp.cpp
  hip/matrix/csr_kernels.hip.cpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/ell_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/ell_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  test/matrix/csr_kernels2.cpp
  test/matrix/matrix.cpp
Labels: reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all

#1327 Some bug fixes for the next release
  common/cuda_hip/preconditioner/isai_kernels.hpp.inc
  core/log/profiler_hook.cpp
  core/log/stream.cpp
  core/preconditioner/isai.cpp
  core/solver/multigrid.cpp
  core/stop/combined.cpp
  core/test/base/exception_helpers.cpp
  core/test/log/logger.cpp
  core/test/preconditioner/isai.cpp
  core/test/utils/matrix_generator.hpp
  core/test/utils/matrix_generator_test.cpp
  dpcpp/preconditioner/isai_kernels.dp.cpp
  include/ginkgo/core/base/exception.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/papi.hpp
  include/ginkgo/core/log/profiler_hook.hpp
  include/ginkgo/core/log/record.hpp
  include/ginkgo/core/log/stream.hpp
  include/ginkgo/core/preconditioner/isai.hpp
  include/ginkgo/core/stop/combined.hpp
  omp/preconditioner/isai_kernels.cpp
  reference/preconditioner/isai_kernels.cpp
  reference/test/preconditioner/isai_kernels.cpp
  test/preconditioner/isai_kernels.cpp
  test/solver/solver.cpp
  test/stop/CMakeLists.txt
  test/stop/combined_kernels.cpp
Labels: reg:testing, type:solver, type:preconditioner, 1:ST:ready-to-merge, mod:all

#1337 Add `with_loggers` function to factories
  core/test/base/lin_op.cpp
  include/ginkgo/core/base/abstract_factory.hpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge

#1328 Wrap SuiteSparse AMD
  ABOUT-LICENSING.md
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  core/CMakeLists.txt
  core/reorder/amd.cpp
  core/test/reorder/CMakeLists.txt
  core/test/reorder/amd.cpp
  cuda/matrix/csr_kernels.cu
  hip/matrix/csr_kernels.hip.cpp
  include/ginkgo/core/reorder/amd.hpp
  include/ginkgo/ginkgo.hpp
  test/matrix/csr_kernels2.cpp
  test/reorder/CMakeLists.txt
  test/reorder/amd.cpp
  third_party/SuiteSparse/AMD/Include/amd.h
  third_party/SuiteSparse/AMD/Include/amd_internal.h
  third_party/SuiteSparse/AMD/Source/amd_2.c
  third_party/SuiteSparse/AMD/Source/amd_defaults.c
  third_party/SuiteSparse/AMD/Source/amd_l2.c
  third_party/SuiteSparse/AMD/Source/amd_l_defaults.c
  third_party/SuiteSparse/AMD/Source/amd_l_post_tree.c
  third_party/SuiteSparse/AMD/Source/amd_l_postorder.c
  third_party/SuiteSparse/AMD/Source/amd_post_tree.c
  third_party/SuiteSparse/AMD/Source/amd_postorder.c
  third_party/SuiteSparse/LICENSE.txt
  third_party/SuiteSparse/wrapper32.cpp
  third_party/SuiteSparse/wrapper64.cpp
Labels: reg:build, reg:testing, mod:core, mod:reference, reg:example, 1:ST:ready-to-merge, type:factorization, type:reordering
