Repository ginkgo-project/ginkgo, pull requests merged in 2023-12, with the labels that each got.

#1500 Update gdb pretty-printer
  dev_tools/scripts/gdb-ginkgo.py
Labels: 1:ST:ready-to-merge, reg:helper-scripts, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1476 Copy device_matrix_data into arrays
  core/matrix/coo.cpp
  core/matrix/csr.cpp
  core/test/base/array.cpp
  core/test/matrix/coo.cpp
  core/test/matrix/csr.cpp
  include/ginkgo/core/base/array.hpp
Labels: reg:testing, mod:core, type:matrix-format, 1:ST:ready-to-merge

#1504 Prettify README
  README.md
Labels: reg:documentation, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1485 Add single-value access functions for `array` access
  benchmark/sparse_blas/operations.cpp
  common/cuda_hip/factorization/factorization_kernels.hpp.inc
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/cuda_hip/matrix/fbcsr_kernels.hpp.inc
  common/cuda_hip/solver/multigrid_kernels.hpp.inc
  common/unified/distributed/partition_helpers_kernels.cpp
  common/unified/distributed/partition_kernels.cpp
  common/unified/matrix/dense_kernels.template.cpp
  common/unified/matrix/ell_kernels.cpp
  common/unified/multigrid/pgm_kernels.cpp
  core/base/array.cpp
  core/base/array_access.hpp
  core/base/index_set.cpp
  core/distributed/partition.cpp
  core/factorization/cholesky.cpp
  core/factorization/factorization.cpp
  core/factorization/ic.cpp
  core/factorization/ilu.cpp
  core/factorization/lu.cpp
  core/factorization/par_ic.cpp
  core/factorization/par_ict.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilut.cpp
  core/factorization/symbolic.cpp
  core/matrix/csr.cpp
  core/matrix/dense.cpp
  core/matrix/ell.cpp
  core/matrix/hybrid.cpp
  core/matrix/sellp.cpp
  core/matrix/sparsity_csr.cpp
  core/preconditioner/isai.cpp
  core/test/base/array.cpp
  cuda/components/reduction.cuh
  cuda/factorization/factorization_kernels.cu
  cuda/matrix/csr_kernels.template.cu
  cuda/matrix/fbcsr_kernels.template.cu
  cuda/solver/cb_gmres_kernels.cu
  cuda/solver/common_trs_kernels.cuh
  cuda/solver/multigrid_kernels.cu
  cuda/stop/residual_norm_kernels.cu
  cuda/test/base/array.cpp
  cuda/test/base/kernel_launch.cu
  dpcpp/components/reduction.dp.hpp
  dpcpp/factorization/factorization_kernels.dp.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/solver/cb_gmres_kernels.dp.cpp
  dpcpp/stop/residual_norm_kernels.dp.cpp
  dpcpp/test/base/kernel_launch.dp.cpp
  hip/components/reduction.hip.hpp
  hip/factorization/factorization_kernels.hip.cpp
  hip/matrix/csr_kernels.template.hip.cpp
  hip/matrix/fbcsr_kernels.template.hip.cpp
  hip/solver/cb_gmres_kernels.hip.cpp
  hip/solver/multigrid_kernels.hip.cpp
  hip/stop/residual_norm_kernels.hip.cpp
  hip/test/base/kernel_launch.hip.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/distributed/partition.hpp
  test/base/kernel_launch_generic.cpp
  test/matrix/csr_kernels.cpp
Labels: reg:testing, mod:core, mod:cuda, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, mod:hip, type:factorization, type:multigrid, type:stopping-criteria, mod:dpcpp, 1:ST:no-changelog-entry

#1509 avoid cyclic ownership with GPU timers
  cuda/base/timer.cpp
  dpcpp/base/timer.dp.cpp
  hip/base/timer.hip.cpp
  include/ginkgo/core/base/timer.hpp
  test/base/timer.cpp
Labels: mod:core, mod:cuda, 1:ST:ready-to-merge, mod:hip, mod:dpcpp

#1498 Print pre-commit install non-default output
  CMakeLists.txt
Labels: reg:build

#1511 Adds missing cu/hipSPARSE status
  cuda/base/exception.cpp
  hip/base/exception.hip.cpp
Labels: mod:cuda, 1:ST:ready-to-merge, mod:hip
