Repository ginkgo-project/ginkgo, pull requests merged in 2024-07, with the labels that each got.

#1625 Fix Ginkgo version in CITATION.cff
  CITATION.cff
Labels: 1:ST:no-changelog-entry

#1632 Fix mean computation for zero sized ranks
  common/unified/matrix/dense_kernels.template.cpp
  reference/matrix/dense_kernels.cpp
Labels: mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1620 Add debug logger for solvers
  core/CMakeLists.txt
  core/log/solver_progress.cpp
  core/solver/bicg.cpp
  core/solver/cg.cpp
  core/solver/fcg.cpp
  core/test/log/CMakeLists.txt
  core/test/log/solver_progress.cpp
  include/ginkgo/core/log/solver_progress.hpp
  include/ginkgo/core/solver/bicg.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge

#1641 Fix: transposed triangular solver uses the same algorithm as the original one
  core/solver/lower_trs.cpp
  core/solver/upper_trs.cpp
  reference/test/solver/lower_trs_kernels.cpp
  reference/test/solver/upper_trs_kernels.cpp
Labels: reg:testing, mod:core, mod:reference, type:solver, 1:ST:ready-to-merge, is:bugfix

#1642 Fix inconsistent behavior of scalar Jacobi between reference and the others
  common/unified/preconditioner/jacobi_kernels.cpp
  dpcpp/test/preconditioner/jacobi_kernels.dp.cpp
  reference/test/preconditioner/jacobi.cpp
  test/preconditioner/jacobi_kernels.cpp
Labels: reg:testing, mod:reference, type:preconditioner, 1:ST:ready-to-merge, mod:dpcpp, is:bugfix

#1603 Require C++17 support
  .gitlab-ci.yml
  .gitlab/image.yml
  README.md
  accessor/utils.hpp
  benchmark/CMakeLists.txt
  cmake/build_helpers.cmake
  cmake/create_test.cmake
  cmake/hip.cmake
  common/cuda_hip/components/reduction.hpp
  common/cuda_hip/reorder/rcm_kernels.cpp
  core/base/extended_float.hpp
  core/log/profiler_hook.cpp
  core/log/profiler_hook.hpp
  core/solver/cb_gmres_accessor.hpp
  core/test/accessor/CMakeLists.txt
  core/test/base/deferred_factory.cpp
  cuda/base/pointer_mode_guard.hpp
  dpcpp/CMakeLists.txt
  dpcpp/reorder/rcm_kernels.dp.cpp
  examples/custom-matrix-format/CMakeLists.txt
  hip/base/pointer_mode_guard.hip.hpp
  include/ginkgo/core/base/abstract_factory.hpp
  include/ginkgo/core/base/combination.hpp
  include/ginkgo/core/base/composition.hpp
  include/ginkgo/core/base/math.hpp
  include/ginkgo/core/base/std_extensions.hpp
  include/ginkgo/core/base/utils_helper.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/log/logger.hpp
  include/ginkgo/core/log/profiler_hook.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/solver/solver_traits.hpp
  test/test_exportbuild/CMakeLists.txt
  test/test_install/CMakeLists.txt
  test/test_pkgconfig/CMakeLists.txt
  test/test_subdir/CMakeLists.txt
Labels: reg:build, reg:testing, reg:documentation, mod:core, mod:cuda, reg:example, type:solver, type:preconditioner, 1:ST:ready-to-merge, mod:hip, type:factorization, type:reordering, mod:dpcpp, 1:ST:run-full-test

#1604 Allow `zip_iterator` to be used on the device
  core/base/iterator_factory.hpp
  core/test/base/iterator_factory.cpp
  omp/distributed/index_map_kernels.cpp
  omp/distributed/partition_helpers_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/fbcsr_kernels.cpp
  omp/multigrid/pgm_kernels.cpp
  reference/distributed/partition_helpers_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/fbcsr_kernels.cpp
  reference/multigrid/pgm_kernels.cpp
  test/base/CMakeLists.txt
  test/base/iterator_factory.cpp
Labels: reg:build, reg:testing, mod:core, mod:openmp, mod:reference, type:matrix-format, 1:ST:ready-to-merge, type:multigrid, 1:ST:no-changelog-entry

#1647 Unify factorization kernels
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/base/index_set_kernels.cpp
  common/cuda_hip/factorization/ic_kernels.cpp
  common/cuda_hip/factorization/ilu_kernels.cpp
  common/cuda_hip/factorization/par_ict_kernels.cpp
  common/cuda_hip/factorization/par_ilut_approx_filter_kernels.cpp
  common/cuda_hip/factorization/par_ilut_config.hpp
  common/cuda_hip/factorization/par_ilut_filter_kernels.cpp
  common/cuda_hip/factorization/par_ilut_filter_kernels.hpp
  common/cuda_hip/factorization/par_ilut_select_common.cpp
  common/cuda_hip/factorization/par_ilut_select_common.hpp
  common/cuda_hip/factorization/par_ilut_select_kernels.cpp
  common/cuda_hip/factorization/par_ilut_select_kernels.hpp
  common/cuda_hip/factorization/par_ilut_spgeam_kernels.cpp
  common/cuda_hip/factorization/par_ilut_sweep_kernels.cpp
  common/cuda_hip/factorization/par_ilut_sweep_kernels.hpp.inc
  cuda/CMakeLists.txt
  cuda/factorization/ilu_kernels.cu
  cuda/factorization/par_ict_kernels.cu
  cuda/factorization/par_ilut_approx_filter_kernels.cu
  cuda/factorization/par_ilut_select_common.cu
  cuda/factorization/par_ilut_select_common.cuh
  cuda/factorization/par_ilut_select_kernels.cu
  cuda/factorization/par_ilut_spgeam_kernels.cu
  hip/CMakeLists.txt
  hip/base/index_set_kernels.hip.cpp
  hip/factorization/ic_kernels.hip.cpp
  hip/factorization/par_ict_kernels.hip.cpp
  hip/factorization/par_ilut_filter_kernels.hip.cpp
  hip/factorization/par_ilut_spgeam_kernels.hip.cpp
  hip/factorization/par_ilut_sweep_kernels.hip.cpp
Labels: reg:build, mod:cuda, 1:ST:ready-to-merge, mod:hip, type:factorization, 1:ST:no-changelog-entry

#1648 Unify Jacobi
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/preconditioner/jacobi_advanced_apply_kernels.cpp
  common/cuda_hip/preconditioner/jacobi_advanced_apply_kernels.hpp.inc
  common/cuda_hip/preconditioner/jacobi_advanced_apply_kernels.instantiate.cpp
  common/cuda_hip/preconditioner/jacobi_common.hpp.in
  common/cuda_hip/preconditioner/jacobi_generate_kernels.cpp
  common/cuda_hip/preconditioner/jacobi_generate_kernels.instantiate.cpp
  common/cuda_hip/preconditioner/jacobi_kernels.cpp
  common/cuda_hip/preconditioner/jacobi_simple_apply_kernels.cpp
  common/cuda_hip/preconditioner/jacobi_simple_apply_kernels.hpp.inc
  common/cuda_hip/preconditioner/jacobi_simple_apply_kernels.instantiate.cpp
  cuda/CMakeLists.txt
  cuda/preconditioner/jacobi_advanced_apply_kernels.cu
  cuda/preconditioner/jacobi_advanced_apply_kernels.instantiate.cu
  cuda/preconditioner/jacobi_common.hpp.in
  cuda/preconditioner/jacobi_generate_kernels.cu
  cuda/preconditioner/jacobi_generate_kernels.instantiate.cu
  cuda/preconditioner/jacobi_simple_apply_kernels.cu
  hip/CMakeLists.txt
  hip/preconditioner/jacobi_generate_kernels.instantiate.hip.cpp
  hip/preconditioner/jacobi_simple_apply_kernels.instantiate.hip.cpp
Labels: reg:build, mod:cuda, type:preconditioner, 1:ST:ready-to-merge, mod:hip, 1:ST:no-changelog-entry

#1649 Unify Csr
  common/cuda_hip/matrix/csr_kernels.instantiate.cpp
  common/cuda_hip/matrix/csr_kernels.template.cpp
  core/test/log/solver_progress.cpp
  cuda/CMakeLists.txt
  cuda/matrix/csr_kernels.instantiate.cu
  cuda/matrix/csr_kernels.template.cu
  hip/CMakeLists.txt
  hip/matrix/csr_kernels.template.hip.cpp
Labels: reg:build, mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:no-changelog-entry

#1645 Fix communicator categorization
  cuda/components/cooperative_groups.cuh
  cuda/test/components/cooperative_groups.cu
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/test/components/cooperative_groups.dp.cpp
  hip/components/cooperative_groups.hip.hpp
  hip/test/components/cooperative_groups.hip.cpp
Labels: reg:testing, mod:cuda, 1:ST:ready-to-merge, mod:hip, mod:dpcpp, is:bugfix, 1:ST:no-changelog-entry

#1640 Add row and col scaling functions to distributed matrix
  core/distributed/matrix.cpp
  include/ginkgo/core/distributed/matrix.hpp
  test/mpi/matrix.cpp
Labels: is:new-feature, mod:core, type:matrix-format, 1:ST:ready-to-merge, mod:mpi, type:distributed-functionality

#1656 Fix stride for GCR initialization
  common/unified/solver/gcr_kernels.cpp
  test/solver/gcr_kernels.cpp
Labels: mod:cuda, type:solver, 1:ST:ready-to-merge, mod:hip
