Repository ginkgo-project/ginkgo, pull requests merged in 2024-03, with the labels that each got.

#1558 Run examples as part of the test suite
  .gitlab-ci.yml
  .gitlab/scripts.yml
  .gitlab/variables.yml
  examples/CMakeLists.txt
  examples/compare-output.py
Labels: reg:build, reg:ci-cd, reg:example, 1:ST:ready-to-merge

#1581 Enable compatability with kokkos 3.7 and 4.x
  examples/kokkos_assembly/CMakeLists.txt
  examples/kokkos_assembly/kokkos_assembly.cpp
Labels: reg:build, reg:example

#1553 Add a simple batched solver example
  examples/CMakeLists.txt
  examples/batched-solver/CMakeLists.txt
  examples/batched-solver/batched-solver.cpp
  examples/batched-solver/doc/builds-on
  examples/batched-solver/doc/intro.dox
  examples/batched-solver/doc/kind
  examples/batched-solver/doc/results.dox
  examples/batched-solver/doc/short-intro
  examples/batched-solver/doc/tooltip
Labels: reg:build, reg:example, 1:ST:ready-to-merge, type:batched-functionality
