Repository ginkgo-project/ginkgo, pull requests merged in 2024-05, with the labels that each got.

#1605 Fix: remove early return in communicate
  core/distributed/matrix.cpp
  core/test/mpi/distributed/matrix.cpp
Labels: mod:core, 1:ST:ready-to-merge, is:bugfix

#1358 Basic Kokkos Extension
  CMakeLists.txt
  cmake/build_helpers.cmake
  cmake/create_test.cmake
  cmake/get_info.cmake
  cmake/install_helpers.cmake
  dev_tools/scripts/regroup
  dev_tools/scripts/update_ginkgo_header.sh
  examples/CMakeLists.txt
  examples/kokkos-assembly/CMakeLists.txt
  examples/kokkos-assembly/build.sh
  examples/kokkos-assembly/doc/builds-on
  examples/kokkos-assembly/doc/intro.dox
  examples/kokkos-assembly/doc/kind
  examples/kokkos-assembly/doc/results.dox
  examples/kokkos-assembly/doc/short-intro
  examples/kokkos-assembly/doc/tooltip
  examples/kokkos-assembly/kokkos-assembly.cpp
  extensions/CMakeLists.txt
  extensions/test/CMakeLists.txt
  extensions/test/kokkos/CMakeLists.txt
  extensions/test/kokkos/kokkos_main.cpp
  extensions/test/kokkos/spaces.cpp
  extensions/test/kokkos/types.cpp
  include/ginkgo/extensions/kokkos.hpp
  include/ginkgo/extensions/kokkos/config.hpp.in
  include/ginkgo/extensions/kokkos/spaces.hpp
  include/ginkgo/extensions/kokkos/types.hpp
Labels: reg:build, mod:core, reg:example, 1:ST:ready-to-merge

#1545 Add segmented array type
  core/CMakeLists.txt
  core/base/segmented_array.cpp
  core/base/segmented_array.hpp
  core/test/base/CMakeLists.txt
  core/test/base/segmented_array.cpp
  include/ginkgo/core/base/array.hpp
  include/ginkgo/core/base/device_matrix_data.hpp
  include/ginkgo/core/base/segmented_array.hpp
  include/ginkgo/core/base/temporary_clone.hpp
  include/ginkgo/ginkgo.hpp
Labels: mod:core, 1:ST:ready-to-merge

#1403 Distributed pgm
  common/unified/multigrid/pgm_kernels.cpp
  core/base/dispatch_helper.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/matrix.cpp
  core/multigrid/pgm.cpp
  core/multigrid/pgm_kernels.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/multigrid/pgm.hpp
  reference/multigrid/pgm_kernels.cpp
  reference/test/multigrid/pgm_kernels.cpp
  test/mpi/CMakeLists.txt
  test/mpi/matrix.cpp
  test/mpi/multigrid/CMakeLists.txt
  test/mpi/multigrid/pgm.cpp
  test/multigrid/pgm_kernels.cpp
Labels: reg:build, mod:core, mod:cuda, mod:reference, 1:ST:ready-to-merge, mod:hip, type:multigrid, type:distributed-functionality

#1542 Add a batched block Jacobi preconditioner
  common/cuda_hip/preconditioner/batch_block_jacobi.hpp.inc
  common/cuda_hip/preconditioner/batch_scalar_jacobi.hpp.inc
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/batch_struct.hpp
  core/preconditioner/batch_jacobi.cpp
  core/preconditioner/batch_jacobi_helpers.hpp
  core/preconditioner/batch_jacobi_kernels.hpp
  core/solver/batch_dispatch.hpp
  core/test/preconditioner/CMakeLists.txt
  core/test/preconditioner/batch_jacobi.cpp
  core/test/utils/assertions.hpp
  core/test/utils/assertions_test.cpp
  cuda/CMakeLists.txt
  cuda/preconditioner/batch_jacobi_kernels.cu
  cuda/preconditioner/batch_preconditioners.cuh
  dpcpp/CMakeLists.txt
  dpcpp/preconditioner/batch_block_jacobi.hpp.inc
  dpcpp/preconditioner/batch_jacobi_kernels.dp.cpp
  dpcpp/preconditioner/batch_preconditioners.hpp
  dpcpp/preconditioner/batch_scalar_jacobi.hpp.inc
  hip/CMakeLists.txt
  hip/preconditioner/batch_jacobi_kernels.hip.cpp
  hip/preconditioner/batch_preconditioners.hip.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/preconditioner/batch_jacobi.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/preconditioner/batch_jacobi_kernels.cpp
  reference/CMakeLists.txt
  reference/preconditioner/batch_block_jacobi.hpp
  reference/preconditioner/batch_jacobi_kernels.cpp
  reference/preconditioner/batch_jacobi_kernels.hpp.inc
  reference/preconditioner/batch_scalar_jacobi.hpp
  reference/test/preconditioner/CMakeLists.txt
  reference/test/preconditioner/batch_jacobi_kernels.cpp
  test/preconditioner/CMakeLists.txt
  test/preconditioner/batch_jacobi_kernels.cpp
  test/solver/batch_bicgstab_kernels.cpp
Labels: reg:build, reg:testing, type:preconditioner, 1:ST:ready-to-merge, mod:all, type:batched-functionality

#1607 Add json config
  CMakeLists.txt
  extensions/test/CMakeLists.txt
  extensions/test/config/CMakeLists.txt
  extensions/test/config/json_config.cpp
  extensions/test/config/test.json
  include/ginkgo/extensions/config/json_config.hpp
  third_party/CMakeLists.txt
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1543 Distributed Index Map
  common/unified/CMakeLists.txt
  common/unified/distributed/index_map_kernels.cpp
  core/CMakeLists.txt
  core/base/segmented_array.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/index_map.cpp
  core/distributed/index_map_kernels.hpp
  core/distributed/partition.cpp
  core/test/CMakeLists.txt
  core/test/distributed/CMakeLists.txt
  core/test/distributed/index_map.cpp
  include/ginkgo/core/distributed/index_map.hpp
  include/ginkgo/ginkgo.hpp
  omp/distributed/matrix_kernels.cpp
  omp/distributed/vector_kernels.cpp
  reference/CMakeLists.txt
  reference/distributed/index_map_kernels.cpp
  reference/distributed/matrix_kernels.cpp
  reference/distributed/partition_helpers.hpp
  reference/distributed/vector_kernels.cpp
  reference/test/distributed/CMakeLists.txt
  reference/test/distributed/index_map_kernels.cpp
  reference/test/distributed/partition_kernels.cpp
Labels: reg:build, reg:testing, 1:ST:ready-to-merge, mod:all, 1:ST:run-full-test

#1396 SYCL deprecation fixes
  .gitlab-ci.yml
  .gitlab/image.yml
  README.md
  dpcpp/base/kernel_launch_reduction.dp.hpp
  dpcpp/components/intrinsics.dp.hpp
  dpcpp/components/prefix_sum.dp.hpp
  dpcpp/components/reduction.dp.hpp
  dpcpp/factorization/par_ilut_select_kernels.hpp.inc
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/matrix/dense_kernels.dp.cpp
  dpcpp/matrix/ell_kernels.dp.cpp
  dpcpp/preconditioner/isai_kernels.dp.cpp
  dpcpp/preconditioner/jacobi_generate_instantiate.inc.dp.cpp
  dpcpp/solver/cb_gmres_kernels.dp.cpp
  dpcpp/solver/idr_kernels.dp.cpp
Labels: mod:core, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:factorization, mod:dpcpp

#1606 Reduce the DistributedBase interface
  core/base/block_operator.cpp
  core/base/dispatch_helper.hpp
  core/distributed/helpers.hpp
  core/distributed/matrix.cpp
  core/distributed/vector.cpp
  core/matrix/dense.cpp
  core/matrix/permutation.cpp
  core/matrix/row_gatherer.cpp
  core/multigrid/pgm.cpp
  core/multigrid/pgm_kernels.hpp
  core/solver/multigrid.cpp
  core/test/mpi/base/polymorphic_object.cpp
  core/test/mpi/distributed/matrix.cpp
  core/test/mpi/distributed/solver/multigrid.cpp
  cuda/multigrid/pgm_kernels.cu
  dpcpp/multigrid/pgm_kernels.dp.cpp
  hip/multigrid/pgm_kernels.hip.cpp
  include/ginkgo/core/distributed/base.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/vector.hpp
  omp/multigrid/pgm_kernels.cpp
  reference/multigrid/pgm_kernels.cpp
  test/mpi/vector.cpp
Labels: mod:core, type:solver, type:matrix-format, 1:ST:ready-to-merge

#1610 Fix the msvc failure on json config
  dev_tools/scripts/format_header.sh
  extensions/test/config/CMakeLists.txt
  extensions/test/config/file_location.hpp.in
  extensions/test/config/json_config.cpp
Labels: reg:build, reg:testing, 1:ST:ready-to-merge, reg:helper-scripts, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1578 Fix misaligned addresses with batched loggers
  .pre-commit-config.yaml
  ABOUT-LICENSING.md
  common/cuda_hip/log/batch_logger.hpp.inc
  core/base/workspace_aliases.hpp
  core/log/batch_logger.cpp
  dpcpp/log/batch_logger.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/log/batch_logger.hpp
  include/ginkgo/core/solver/batch_solver_base.hpp
  reference/log/batch_logger.hpp
  test/solver/batch_bicgstab_kernels.cpp
Labels: mod:core, mod:cuda, mod:reference, type:solver, 1:ST:ready-to-merge, mod:hip, mod:dpcpp, 1:ST:run-full-test, type:batched-functionality, is:bugfix

#1544 Use index_map in distributed::matrix
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stdout
  benchmark/test/reference/spmv_distributed.simple.stdout
  benchmark/utils/generator.hpp
  common/cuda_hip/distributed/matrix_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/matrix.cpp
  core/distributed/matrix_kernels.hpp
  dpcpp/distributed/matrix_kernels.dp.cpp
  include/ginkgo/core/distributed/matrix.hpp
  omp/distributed/matrix_kernels.cpp
  reference/distributed/matrix_kernels.cpp
  reference/test/distributed/matrix_kernels.cpp
  test/distributed/matrix_kernels.cpp
  test/mpi/matrix.cpp
  test/mpi/multigrid/pgm.cpp
  test/mpi/preconditioner/schwarz.cpp
  test/mpi/solver/solver.cpp
Labels: reg:testing, 1:ST:ready-to-merge, mod:all, type:distributed-functionality

#1609 Add batch::cg solver device kernels
  common/cuda_hip/preconditioner/batch_scalar_jacobi.hpp.inc
  common/cuda_hip/solver/batch_cg_kernels.hpp.inc
  core/solver/batch_bicgstab_kernels.hpp
  core/solver/batch_cg_kernels.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  dpcpp/preconditioner/batch_scalar_jacobi.hpp.inc
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_kernels.hpp.inc
  dpcpp/solver/batch_cg_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.hpp.inc
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  reference/preconditioner/batch_scalar_jacobi.hpp
  test/solver/CMakeLists.txt
  test/solver/batch_cg_kernels.cpp
Labels: reg:build, mod:core, mod:cuda, mod:reference, type:solver, type:preconditioner, 1:ST:ready-for-review, mod:hip, mod:dpcpp, type:batched-functionality, 1:ST:no-changelog-entry

#1618 Don't use default value for index_space
  include/ginkgo/core/distributed/index_map.hpp
Labels: mod:core, 1:ST:no-changelog-entry

#1611 use more general default selector in multigrid
  core/solver/multigrid.cpp
  include/ginkgo/core/solver/multigrid.hpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1392 Factory config
  core/CMakeLists.txt
  core/config/config.cpp
  core/config/config_helper.cpp
  core/config/config_helper.hpp
  core/config/dispatch.hpp
  core/config/registry.cpp
  core/config/registry_accessor.hpp
  core/config/stop_config.cpp
  core/config/stop_config.hpp
  core/config/type_descriptor.cpp
  core/config/type_descriptor_helper.hpp
  core/solver/cg.cpp
  core/test/config/CMakeLists.txt
  core/test/config/config.cpp
  core/test/config/registry.cpp
  core/test/config/type_descriptor.cpp
  include/ginkgo/core/config/config.hpp
  include/ginkgo/core/config/property_tree.hpp
  include/ginkgo/core/config/registry.hpp
  include/ginkgo/core/config/type_descriptor.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, reg:testing, mod:core, type:solver, 1:ST:ready-to-merge

#1395 Solver config
  core/CMakeLists.txt
  core/config/config_helper.hpp
  core/config/dispatch.hpp
  core/config/parse_macro.hpp
  core/config/registry.cpp
  core/config/solver_config.cpp
  core/config/solver_config.hpp
  core/config/stop_config.cpp
  core/config/trisolver_config.hpp
  core/solver/bicg.cpp
  core/solver/bicgstab.cpp
  core/solver/cb_gmres.cpp
  core/solver/cg.cpp
  core/solver/cgs.cpp
  core/solver/direct.cpp
  core/solver/fcg.cpp
  core/solver/gcr.cpp
  core/solver/gmres.cpp
  core/solver/idr.cpp
  core/solver/ir.cpp
  core/solver/lower_trs.cpp
  core/solver/upper_trs.cpp
  core/test/config/CMakeLists.txt
  core/test/config/solver.cpp
  include/ginkgo/core/config/config.hpp
  include/ginkgo/core/solver/bicg.hpp
  include/ginkgo/core/solver/bicgstab.hpp
  include/ginkgo/core/solver/cb_gmres.hpp
  include/ginkgo/core/solver/cg.hpp
  include/ginkgo/core/solver/cgs.hpp
  include/ginkgo/core/solver/direct.hpp
  include/ginkgo/core/solver/fcg.hpp
  include/ginkgo/core/solver/gcr.hpp
  include/ginkgo/core/solver/gmres.hpp
  include/ginkgo/core/solver/idr.hpp
  include/ginkgo/core/solver/ir.hpp
  include/ginkgo/core/solver/triangular.hpp
Labels: reg:build, reg:testing, mod:core, type:solver, 1:ST:ready-to-merge

#1612 Update defaults for distributed multigrid
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  core/multigrid/pgm.cpp
  core/solver/multigrid.cpp
  test/matrix/csr_kernels2.cpp
  test/mpi/solver/solver.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge

#1479 Preconditioner and Factorization config
  core/CMakeLists.txt
  core/config/config.cpp
  core/config/config_helper.hpp
  core/config/factorization_config.cpp
  core/config/preconditioner_config.cpp
  core/config/registry.cpp
  core/config/stop_config.cpp
  core/factorization/cholesky.cpp
  core/factorization/ic.cpp
  core/factorization/ilu.cpp
  core/factorization/lu.cpp
  core/factorization/par_ic.cpp
  core/factorization/par_ict.cpp
  core/factorization/par_ilu.cpp
  core/factorization/par_ilut.cpp
  core/preconditioner/ic.cpp
  core/preconditioner/ilu.cpp
  core/preconditioner/isai.cpp
  core/preconditioner/jacobi.cpp
  core/solver/cb_gmres.cpp
  core/test/config/CMakeLists.txt
  core/test/config/factorization.cpp
  core/test/config/preconditioner.cpp
  core/test/utils/assertions.hpp
  include/ginkgo/core/config/registry.hpp
  include/ginkgo/core/factorization/cholesky.hpp
  include/ginkgo/core/factorization/ic.hpp
  include/ginkgo/core/factorization/ilu.hpp
  include/ginkgo/core/factorization/lu.hpp
  include/ginkgo/core/factorization/par_ic.hpp
  include/ginkgo/core/factorization/par_ict.hpp
  include/ginkgo/core/factorization/par_ilu.hpp
  include/ginkgo/core/factorization/par_ilut.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/preconditioner/isai.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  include/ginkgo/core/preconditioner/utils.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, reg:testing, mod:core, type:preconditioner, 1:ST:ready-to-merge, type:factorization, reg:helper-scripts

#1600 Add Batch jacobi device kernels
  common/cuda_hip/preconditioner/batch_block_jacobi.hpp.inc
  common/cuda_hip/preconditioner/batch_jacobi_kernels.hpp.inc
  common/cuda_hip/preconditioner/batch_scalar_jacobi.hpp.inc
  core/test/utils/batch_helpers.hpp
  cuda/preconditioner/batch_jacobi_kernels.cu
  cuda/preconditioner/batch_preconditioners.cuh
  dpcpp/preconditioner/batch_block_jacobi.hpp.inc
  dpcpp/preconditioner/batch_jacobi_kernels.dp.cpp
  dpcpp/preconditioner/batch_jacobi_kernels.hpp.inc
  dpcpp/preconditioner/batch_preconditioners.hpp
  dpcpp/preconditioner/batch_scalar_jacobi.hpp.inc
  hip/preconditioner/batch_jacobi_kernels.hip.cpp
  hip/preconditioner/batch_preconditioners.hip.hpp
  reference/preconditioner/batch_block_jacobi.hpp
  reference/preconditioner/batch_scalar_jacobi.hpp
  test/preconditioner/CMakeLists.txt
  test/preconditioner/batch_jacobi_kernels.cpp
Labels: reg:build, mod:cuda, type:preconditioner, 1:ST:ready-to-merge, mod:hip, type:batched-functionality, 1:ST:no-changelog-entry

#1480 Multigrid config
  core/CMakeLists.txt
  core/config/config_helper.cpp
  core/config/config_helper.hpp
  core/config/multigrid_config.cpp
  core/config/registry.cpp
  core/config/solver_config.cpp
  core/config/trisolver_config.hpp
  core/multigrid/pgm.cpp
  core/preconditioner/jacobi.cpp
  core/solver/multigrid.cpp
  core/test/config/CMakeLists.txt
  core/test/config/multigrid.cpp
  include/ginkgo/core/config/config.hpp
  include/ginkgo/core/factorization/cholesky.hpp
  include/ginkgo/core/factorization/ic.hpp
  include/ginkgo/core/factorization/ilu.hpp
  include/ginkgo/core/factorization/lu.hpp
  include/ginkgo/core/factorization/par_ic.hpp
  include/ginkgo/core/factorization/par_ict.hpp
  include/ginkgo/core/factorization/par_ilu.hpp
  include/ginkgo/core/factorization/par_ilut.hpp
  include/ginkgo/core/multigrid/fixed_coarsening.hpp
  include/ginkgo/core/multigrid/pgm.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/preconditioner/isai.hpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  include/ginkgo/core/solver/multigrid.hpp
Labels: reg:build, reg:testing, mod:core, type:solver, 1:ST:ready-to-merge, type:multigrid
