Repository ginkgo-project/ginkgo, pull requests merged in 2024-01, with the labels that each got.

#1524 Fix reduce_over_group for new Intel SYCL versions
  dpcpp/components/cooperative_groups.dp.hpp
Labels: is:confirmed, 1:ST:ready-to-merge, mod:dpcpp, is:bugfix, 1:ST:no-changelog-entry

#1435 Adds Block operator
  core/CMakeLists.txt
  core/base/block_operator.cpp
  core/base/dispatch_helper.hpp
  core/test/base/CMakeLists.txt
  core/test/base/block_operator.cpp
  include/ginkgo/core/base/block_operator.hpp
  include/ginkgo/core/base/exception_helpers.hpp
  include/ginkgo/ginkgo.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge

#1525 Fix broken `run` dispatch for smart pointers
  core/base/dispatch_helper.hpp
Labels: mod:core, 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:no-changelog-entry

#1522 copy residual to host
  examples/distributed-solver/distributed-solver.cpp
Labels: reg:example, 1:ST:ready-to-merge

#1531 Rename test binaries that collide with C++ standard library header names
  cmake/create_test.cmake
  core/test/base/CMakeLists.txt
  cuda/test/base/CMakeLists.txt
  reference/test/base/CMakeLists.txt
Labels: reg:build, reg:testing, mod:core, mod:cuda, mod:reference, 1:ST:ready-to-merge

#1527 Add scaling for batch objects
  common/cuda_hip/base/batch_multi_vector_kernel_launcher.hpp.inc
  common/cuda_hip/base/batch_multi_vector_kernels.hpp.inc
  common/cuda_hip/matrix/batch_csr_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_csr_kernels.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernels.hpp.inc
  common/cuda_hip/matrix/batch_ell_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_ell_kernels.hpp.inc
  core/base/batch_multi_vector.cpp
  core/base/batch_multi_vector_kernels.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/batch_csr.cpp
  core/matrix/batch_csr_kernels.hpp
  core/matrix/batch_dense.cpp
  core/matrix/batch_dense_kernels.hpp
  core/matrix/batch_ell.cpp
  core/matrix/batch_ell_kernels.hpp
  dpcpp/base/batch_multi_vector_kernels.dp.cpp
  dpcpp/base/batch_multi_vector_kernels.hpp.inc
  dpcpp/matrix/batch_csr_kernels.dp.cpp
  dpcpp/matrix/batch_csr_kernels.hpp.inc
  dpcpp/matrix/batch_dense_kernels.dp.cpp
  dpcpp/matrix/batch_dense_kernels.hpp.inc
  dpcpp/matrix/batch_ell_kernels.dp.cpp
  dpcpp/matrix/batch_ell_kernels.hpp.inc
  include/ginkgo/core/base/batch_multi_vector.hpp
  include/ginkgo/core/matrix/batch_csr.hpp
  include/ginkgo/core/matrix/batch_dense.hpp
  include/ginkgo/core/matrix/batch_ell.hpp
  include/ginkgo/core/matrix/batch_identity.hpp
  include/ginkgo/core/solver/batch_solver_base.hpp
  omp/matrix/batch_csr_kernels.cpp
  omp/matrix/batch_dense_kernels.cpp
  omp/matrix/batch_ell_kernels.cpp
  reference/base/batch_multi_vector_kernels.hpp.inc
  reference/matrix/batch_csr_kernels.cpp
  reference/matrix/batch_csr_kernels.hpp.inc
  reference/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.hpp.inc
  reference/matrix/batch_ell_kernels.cpp
  reference/matrix/batch_ell_kernels.hpp.inc
  reference/test/base/batch_multi_vector_kernels.cpp
  reference/test/matrix/batch_csr_kernels.cpp
  reference/test/matrix/batch_dense_kernels.cpp
  reference/test/matrix/batch_ell_kernels.cpp
  test/base/batch_multi_vector_kernels.cpp
  test/matrix/batch_csr_kernels.cpp
  test/matrix/batch_dense_kernels.cpp
  test/matrix/batch_ell_kernels.cpp
Labels: reg:testing, type:solver, type:matrix-format, 1:ST:ready-to-merge, mod:all, type:batched-functionality

#1533 Change write_raw default to sparse output format
  core/test/base/mtx_io.cpp
  include/ginkgo/core/base/mtx_io.hpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge

#1503 Add CUDA/HIP RCM kernels
  common/cuda_hip/components/memory.nvidia.hpp.inc
  common/cuda_hip/reorder/rcm_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/reorder/rcm.cpp
  core/reorder/rcm_kernels.hpp
  core/test/accessor/math.cpp
  core/test/accessor/reduced_row_major_reference.cpp
  core/test/accessor/scaled_reduced_row_major_reference.cpp
  cuda/reorder/rcm_kernels.cu
  cuda/test/CMakeLists.txt
  cuda/test/reorder/CMakeLists.txt
  cuda/test/reorder/rcm_kernels.cpp
  dev_tools/scripts/generate_cuda_memory_ptx.py
  dpcpp/reorder/rcm_kernels.dp.cpp
  hip/components/memory.hip.hpp
  hip/reorder/rcm_kernels.hip.cpp
  matrices/CMakeLists.txt
  matrices/config.hpp.in
  matrices/test/1138_bus_shuffled.mtx
  omp/reorder/rcm_kernels.cpp
  omp/test/CMakeLists.txt
  omp/test/reorder/CMakeLists.txt
  omp/test/reorder/rcm_kernels.cpp
  reference/reorder/rcm_kernels.cpp
  test/reorder/CMakeLists.txt
  test/reorder/mc64.cpp
  test/reorder/rcm.cpp
Labels: reg:testing, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, type:factorization, type:reordering, reg:helper-scripts, type:multigrid, type:stopping-criteria, mod:all

#1523 Automatically use current year for license
  .pre-commit-config.yaml
Labels: 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1532 Fixing External Include of Build Directory
  .gitlab-ci.yml
  .gitlab/scripts.yml
  .gitlab/variables.yml
  CMakeLists.txt
  INSTALL.md
  cmake/GinkgoConfig.cmake.in
  cmake/install_helpers.cmake
  test/test_exportbuild/CMakeLists.txt
Labels: reg:build, 1:ST:ready-for-review

#1528 Add `add_scaled_identity` and `scale_add` for batched matrices
  common/cuda_hip/matrix/batch_csr_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_csr_kernels.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_dense_kernels.hpp.inc
  common/cuda_hip/matrix/batch_ell_kernel_launcher.hpp.inc
  common/cuda_hip/matrix/batch_ell_kernels.hpp.inc
  core/device_hooks/common_kernels.inc.cpp
  core/matrix/batch_csr.cpp
  core/matrix/batch_csr_kernels.hpp
  core/matrix/batch_dense.cpp
  core/matrix/batch_dense_kernels.hpp
  core/matrix/batch_ell.cpp
  core/matrix/batch_ell_kernels.hpp
  core/test/utils/batch_helpers.hpp
  dpcpp/matrix/batch_csr_kernels.dp.cpp
  dpcpp/matrix/batch_csr_kernels.hpp.inc
  dpcpp/matrix/batch_dense_kernels.dp.cpp
  dpcpp/matrix/batch_dense_kernels.hpp.inc
  dpcpp/matrix/batch_ell_kernels.dp.cpp
  dpcpp/matrix/batch_ell_kernels.hpp.inc
  include/ginkgo/core/matrix/batch_csr.hpp
  include/ginkgo/core/matrix/batch_dense.hpp
  include/ginkgo/core/matrix/batch_ell.hpp
  omp/matrix/batch_csr_kernels.cpp
  omp/matrix/batch_dense_kernels.cpp
  omp/matrix/batch_ell_kernels.cpp
  reference/matrix/batch_csr_kernels.cpp
  reference/matrix/batch_csr_kernels.hpp.inc
  reference/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.hpp.inc
  reference/matrix/batch_ell_kernels.cpp
  reference/matrix/batch_ell_kernels.hpp.inc
  reference/test/matrix/batch_csr_kernels.cpp
  reference/test/matrix/batch_dense_kernels.cpp
  reference/test/matrix/batch_ell_kernels.cpp
  reference/test/solver/batch_bicgstab_kernels.cpp
  test/matrix/batch_csr_kernels.cpp
  test/matrix/batch_dense_kernels.cpp
  test/matrix/batch_ell_kernels.cpp
  test/solver/batch_bicgstab_kernels.cpp
Labels: is:new-feature, reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all, 1:ST:run-full-test, type:batched-functionality
