Repository ginkgo-project/ginkgo, pull requests merged in 2024-04, with the labels that each got.

#1586 Fix typos and update ignore list
  .github/_typos.toml
  dev_tools/oneapi/add_host_function.sh
  omp/factorization/par_ilu_kernels.cpp
  omp/reorder/rcm_kernels.cpp
Labels: reg:ci-cd, mod:openmp, type:factorization, type:reordering, reg:helper-scripts, 1:ST:skip-full-test

#1584 Allow binary input for benchmark vectors
  benchmark/solver/solver_common.hpp
Labels: reg:benchmarking, type:solver, 1:ST:ready-to-merge

#1176 Some fixes for compiling with the `-D_GLIBCXX_DEBUG` flag.
  .gitlab-ci.yml
  core/reorder/mc64.cpp
  core/test/log/profiler_hook.cpp
  core/test/utils/matrix_generator.hpp
  omp/base/index_set_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/fbcsr_kernels.cpp
  omp/reorder/rcm_kernels.cpp
  omp/test/base/index_set.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/fbcsr_kernels.cpp
  test/factorization/par_ilu_kernels.cpp
Labels: reg:build, reg:testing, reg:ci-cd, reg:benchmarking, type:solver, type:matrix-format, 1:ST:ready-to-merge, type:reordering, mod:all

#1592 fix the doxygen
  core/base/types.hpp
  doc/conf/Doxyfile-dev.in
  doc/examples/CMakeLists.txt
  doc/helpers.cmake
  doc/scripts/examples.pl
Labels: reg:build, reg:documentation, mod:core, 1:ST:ready-to-merge, 1:ST:ready-for-review, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1569 Fixes for CUDA 12.4, METIS
  .gitlab-ci.yml
  .gitlab/scripts.yml
  INSTALL.md
  cmake/Modules/FindMETIS.cmake
  common/cuda_hip/base/device_matrix_data_kernels.hpp.inc
  common/cuda_hip/multigrid/pgm_kernels.hpp.inc
  reference/test/reorder/CMakeLists.txt
Labels: reg:build, reg:testing, reg:documentation, mod:cuda, mod:reference, 1:ST:ready-to-merge, mod:hip, type:reordering

#1334 Modernize CMake setup for HIP
  .gitlab-ci.yml
  .gitlab/image.yml
  .gitlab/scripts.yml
  CMakeLists.txt
  INSTALL.md
  README.md
  benchmark/CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/autodetect_executors.cmake
  cmake/build_helpers.cmake
  cmake/build_type_helpers.cmake
  cmake/create_test.cmake
  cmake/hip.cmake
  cmake/hip_path.cmake
  cmake/information_helpers.cmake
  cmake/install_helpers.cmake
  core/CMakeLists.txt
  hip/CMakeLists.txt
  hip/get_info.cmake
  hip/test/base/CMakeLists.txt
  test/matrix/fft_kernels.cpp
  test/test_install/CMakeLists.txt
  third_party/identify_stream_usage/CMakeLists.txt
Labels: reg:build, reg:testing, reg:ci-cd, reg:documentation, mod:core, mod:cuda, reg:example, reg:benchmarking, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1389 Property tree
  core/CMakeLists.txt
  core/config/property_tree.cpp
  core/test/CMakeLists.txt
  core/test/config/CMakeLists.txt
  core/test/config/property_tree.cpp
  include/ginkgo/core/config/property_tree.hpp
  include/ginkgo/ginkgo.hpp
  test/test_install/test_install.cpp
Labels: reg:build, reg:testing, reg:ci-cd, mod:core, 1:ST:ready-to-merge, reg:helper-scripts

#1583 Add csr lookup implementation without storage
  common/cuda_hip/matrix/csr_kernels.hpp.inc
  common/unified/matrix/csr_kernels.cpp
  core/matrix/csr_lookup.hpp
  dpcpp/matrix/csr_kernels.dp.cpp
  omp/matrix/csr_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  test/matrix/csr_kernels.cpp
Labels: reg:testing, type:matrix-format, 1:ST:ready-to-merge, mod:all, 1:ST:no-changelog-entry

#1596 update the intel ci job
  .github/workflows/intel.yml
  .gitlab-ci.yml
  .gitlab/image.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1269 Add Distributed Multigrid.
  benchmark/test/reference/spmv_distributed.profile.stdout
  benchmark/test/reference/spmv_distributed.simple.stdout
  core/distributed/matrix.cpp
  core/distributed/vector.cpp
  core/solver/multigrid.cpp
  core/test/mpi/base/polymorphic_object.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/matrix.cpp
  core/test/mpi/distributed/solver/CMakeLists.txt
  core/test/mpi/distributed/solver/multigrid.cpp
  include/ginkgo/core/distributed/base.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/vector.hpp
  test/mpi/vector.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, type:multigrid, type:distributed-functionality

#1602 Add integer range
  .github/workflows/osx.yml
  core/base/index_range.hpp
  core/base/iterator_range.hpp
  core/test/base/CMakeLists.txt
  core/test/base/index_range.cpp
  test/base/CMakeLists.txt
  test/base/index_range.cpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:no-changelog-entry
