Repository ginkgo-project/ginkgo, pull requests merged in 2024-02, with the labels that each got.

#1513 Disable HWLOC by Default
  .gitlab-ci.yml
  CMakeLists.txt
  INSTALL.md
  cmake/Modules/FindHWLOC.cmake
  cmake/autodetect_system_libs.cmake
  cuda/test/base/CMakeLists.txt
  hip/test/base/CMakeLists.txt
Labels: reg:build, reg:testing, reg:documentation, mod:cuda, mod:hip

#1540 Allow running CI in rootless containers
  .gitlab/scripts.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1538 Expand hipSPARSE bindings for complex types
  hip/base/hipsparse_bindings.hip.hpp
Labels: is:enhancement, 1:ST:ready-to-merge, mod:hip

#1535 Use native CMake variables for compiler flags
  .github/workflows/intel.yml
  .github/workflows/osx.yml
  .github/workflows/windows-mingw.yml
  .gitlab-ci.yml
  .gitlab/scripts.yml
  .gitlab/variables.yml
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL.md
  benchmark/CMakeLists.txt
  cmake/create_test.cmake
  core/CMakeLists.txt
  core/get_info.cmake
  core/mpi/get_info.cmake
  cuda/CMakeLists.txt
  cuda/get_info.cmake
  dpcpp/CMakeLists.txt
  hip/CMakeLists.txt
  omp/CMakeLists.txt
  omp/get_info.cmake
  reference/CMakeLists.txt
  reference/get_info.cmake
Labels: reg:build, reg:ci-cd, reg:benchmarking, 1:ST:ready-to-merge, mod:all

#1534 Allow Ginkgo to Use the `--prefix` Option
  CMakeLists.txt
  cmake/GinkgoConfig.cmake.in
  cmake/generate_pkg.cmake.in
  cmake/ginkgo.pc.in
  cmake/information_helpers.cmake
  cmake/install_helpers.cmake
Labels: reg:build, 1:ST:ready-to-merge

#1551 Fixes preconditioner Benchmark
  benchmark/preconditioner/preconditioner.cpp
  benchmark/test/preconditioner.py
  benchmark/test/reference/preconditioner.precond.stderr
  benchmark/test/reference/preconditioner.precond.stdout
Labels: reg:benchmarking, 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:no-changelog-entry
