Repository ginkgo-project/ginkgo, pull requests merged in 2024-11, with the labels that each got.

#1720 Fixes formulas for Sor
  include/ginkgo/core/preconditioner/gauss_seidel.hpp
  include/ginkgo/core/preconditioner/sor.hpp
Labels: mod:core, type:preconditioner, 1:ST:ready-to-merge

#1688 Add Distributed VectorCache and use it for intermediate vector in and adapt `apply_uses_initial_guess` in Schwarz
  core/CMakeLists.txt
  core/distributed/preconditioner/schwarz.cpp
  core/distributed/vector_cache.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/preconditioner/schwarz.cpp
  core/test/mpi/distributed/vector_cache.cpp
  include/ginkgo/core/base/precision_dispatch.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/preconditioner/schwarz.hpp
  include/ginkgo/core/distributed/vector.hpp
  include/ginkgo/core/distributed/vector_cache.hpp
  include/ginkgo/core/matrix/dense.hpp
  include/ginkgo/ginkgo.hpp
  reference/reorder/rcm_kernels.cpp
Labels: reg:testing, mod:core, type:preconditioner, 1:ST:ready-to-merge

#1692 Fix complex solver benchmark
  benchmark/test/CMakeLists.txt
  benchmark/test/blas.py
  benchmark/test/conversion.py
  benchmark/test/multi_vector_distributed.py
  benchmark/test/preconditioner.py
  benchmark/test/reference/blas_dcomplex.simple.stderr
  benchmark/test/reference/blas_dcomplex.simple.stdout
  benchmark/test/reference/conversion_dcomplex.simple.stderr
  benchmark/test/reference/conversion_dcomplex.simple.stdout
  benchmark/test/reference/distributed_solver_dcomplex.simple.stderr
  benchmark/test/reference/distributed_solver_dcomplex.simple.stdout
  benchmark/test/reference/multi_vector_distributed_dcomplex.simple.stderr
  benchmark/test/reference/multi_vector_distributed_dcomplex.simple.stdout
  benchmark/test/reference/preconditioner_dcomplex.simple.stderr
  benchmark/test/reference/preconditioner_dcomplex.simple.stdout
  benchmark/test/reference/solver_dcomplex.simple.stderr
  benchmark/test/reference/solver_dcomplex.simple.stdout
  benchmark/test/reference/sparse_blas_dcomplex.simple.stderr
  benchmark/test/reference/sparse_blas_dcomplex.simple.stdout
  benchmark/test/reference/spmv_dcomplex.simple.stderr
  benchmark/test/reference/spmv_dcomplex.simple.stdout
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stderr
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stdout
  benchmark/test/solver.py
  benchmark/test/solver_distributed.py
  benchmark/test/sparse_blas.py
  benchmark/test/spmv.py
  benchmark/test/spmv_distributed.py
  benchmark/test/test_framework.py.in
  benchmark/utils/loggers.hpp
Labels: reg:build, reg:testing, reg:benchmarking, 1:ST:ready-to-merge

#1723 Run Intel CI jobs on cluster
  .gitlab-ci.yml
  .gitlab/image.yml
  dpcpp/base/executor.dp.cpp
  dpcpp/preconditioner/sor_kernels.dp.cpp
  examples/CMakeLists.txt
  test/factorization/factorization_kernels.cpp
  test/preconditioner/sor_kernels.cpp
Labels: reg:ci-cd, 1:ST:run-full-test, 1:ST:no-changelog-entry

#1718 Fix deprecated oneMKL call
  benchmark/utils/dpcpp_linops.dp.cpp
  dpcpp/CMakeLists.txt
  dpcpp/base/executor.dp.cpp
  dpcpp/components/atomic.dp.hpp
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/preconditioner/batch_jacobi_kernels.hpp
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.dp.cpp
Labels: reg:benchmarking, type:matrix-format, 1:ST:ready-to-merge, mod:dpcpp, 1:ST:run-full-test

#1629 Split batched solver compilation
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp
  common/cuda_hip/solver/batch_bicgstab_launch.hpp
  common/cuda_hip/solver/batch_bicgstab_launch.instantiate.cpp
  common/cuda_hip/solver/batch_cg_kernels.hpp
  common/cuda_hip/solver/batch_cg_launch.hpp
  common/cuda_hip/solver/batch_cg_launch.instantiate.cpp
  core/matrix/batch_struct.hpp
  core/solver/batch_dispatch.hpp
  cuda/CMakeLists.txt
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_bicgstab_launch.cuh
  cuda/solver/batch_bicgstab_launch.instantiate.cu
  cuda/solver/batch_cg_kernels.cu
  cuda/solver/batch_cg_launch.cuh
  cuda/solver/batch_cg_launch.instantiate.cu
  dpcpp/CMakeLists.txt
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_launch.hpp
  dpcpp/solver/batch_bicgstab_launch.instantiate.dp.cpp
  dpcpp/solver/batch_cg_kernels.dp.cpp
  dpcpp/solver/batch_cg_launch.hpp
  dpcpp/solver/batch_cg_launch.instantiate.dp.cpp
  hip/CMakeLists.txt
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  include/ginkgo/core/base/types.hpp
Labels: reg:build, mod:core, mod:cuda, type:solver, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1729 Fix cuda 11.0
  .gitlab-ci.yml
  .gitlab/image.yml
  common/cuda_hip/factorization/factorization_helpers.hpp
  common/cuda_hip/factorization/factorization_kernels.cpp
  common/cuda_hip/preconditioner/sor_kernels.cpp
Labels: reg:ci-cd, mod:cuda, type:preconditioner, 1:ST:ready-to-merge, mod:hip, type:factorization

#1725 fix constructor order, friend class, inconsistent function, inconsistent class/struct
  accessor/scaled_reduced_row_major.hpp
  benchmark/spmv/spmv_common.hpp
  benchmark/utils/iteration_control.hpp
  common/cuda_hip/base/batch_multi_vector_kernels.cpp
  common/cuda_hip/matrix/csr_kernels.template.cpp
  common/cuda_hip/matrix/fbcsr_kernels.template.cpp
  common/cuda_hip/reorder/rcm_kernels.cpp
  common/unified/matrix/dense_kernels.template.cpp
  core/base/dense_cache.cpp
  core/base/device_matrix_data.cpp
  core/base/perturbation.cpp
  core/base/segmented_array.cpp
  core/distributed/index_map.cpp
  core/log/batch_logger.cpp
  core/matrix/csr.cpp
  core/matrix/dense.cpp
  core/matrix/ell.cpp
  core/matrix/fbcsr.cpp
  core/preconditioner/batch_jacobi.cpp
  core/solver/direct.cpp
  core/solver/multigrid.cpp
  core/stop/residual_norm.cpp
  core/test/matrix/csr_builder.cpp
  cuda/preconditioner/batch_jacobi_kernels.cu
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  dpcpp/base/batch_multi_vector_kernels.dp.cpp
  dpcpp/matrix/csr_kernels.dp.cpp
  dpcpp/matrix/fbcsr_kernels.dp.cpp
  dpcpp/preconditioner/batch_jacobi_kernels.dp.cpp
  dpcpp/reorder/rcm_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.dp.cpp
  hip/preconditioner/batch_jacobi_kernels.hip.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  include/ginkgo/core/base/batch_dim.hpp
  include/ginkgo/core/base/executor.hpp
  omp/base/batch_multi_vector_kernels.cpp
  omp/components/prefix_sum_kernels.cpp
  omp/matrix/csr_kernels.cpp
  omp/matrix/fbcsr_kernels.cpp
  omp/preconditioner/batch_jacobi_kernels.cpp
  omp/reorder/rcm_kernels.cpp
  omp/solver/batch_bicgstab_kernels.cpp
  omp/solver/batch_cg_kernels.cpp
  reference/matrix/csr_kernels.cpp
  reference/matrix/dense_kernels.cpp
  reference/matrix/fbcsr_kernels.cpp
  reference/preconditioner/batch_block_jacobi.hpp
  reference/preconditioner/batch_jacobi_kernels.cpp
  reference/reorder/rcm_kernels.cpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_cg_kernels.cpp
  reference/test/multigrid/fixed_coarsening_kernels.cpp
  reference/test/reorder/mc64_kernels.cpp
  reference/test/reorder/rcm.cpp
  reference/test/solver/bicg_kernels.cpp
  reference/test/solver/cb_gmres_kernels.cpp
  reference/test/solver/gcr_kernels.cpp
Labels: reg:testing, reg:ci-cd, reg:benchmarking, type:solver, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, plat:windows, type:reordering, type:multigrid, type:stopping-criteria, mod:all

#1724 Fix dynamic cast leads the undefined symbol in clang/msys2/windows
  CMakeLists.txt
  common/cuda_hip/solver/batch_bicgstab_launch.hpp
  common/cuda_hip/solver/batch_cg_launch.hpp
  core/CMakeLists.txt
  core/base/batch_instantiation.hpp
  core/device_hooks/common_kernels.inc.cpp
  core/solver/batch_bicgstab.cpp
  core/solver/batch_bicgstab_kernels.hpp
  core/solver/batch_cg.cpp
  core/solver/batch_cg_kernels.hpp
  core/solver/batch_dispatch.hpp
  core/test/utils/batch_helpers.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_bicgstab_launch.cuh
  cuda/solver/batch_cg_kernels.cu
  cuda/solver/batch_cg_launch.cuh
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_launch.hpp
  dpcpp/solver/batch_cg_kernels.dp.cpp
  dpcpp/solver/batch_cg_launch.hpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  include/ginkgo/core/base/types.hpp
  omp/solver/batch_bicgstab_kernels.cpp
  omp/solver/batch_cg_kernels.cpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_cg_kernels.cpp
  reference/test/solver/batch_bicgstab_kernels.cpp
  reference/test/solver/batch_cg_kernels.cpp
  test/preconditioner/batch_jacobi_kernels.cpp
  test/solver/batch_bicgstab_kernels.cpp
  test/solver/batch_cg_kernels.cpp
Labels: reg:ci-cd, type:solver, 1:ST:ready-to-merge, mod:all

#1727 Always enable nlohmann_json with examples
  CMakeLists.txt
  examples/CMakeLists.txt
  third_party/CMakeLists.txt
Labels: reg:build, reg:example, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1730 Add custom thrust/cub namespace when it is supported
  CMakeLists.txt
  cmake/create_test.cmake
  common/cuda_hip/factorization/factorization_kernels.cpp
  common/cuda_hip/reorder/rcm_kernels.cpp
  common/cuda_hip/solver/multigrid_kernels.cpp
  common/unified/base/kernel_launch.hpp
  cuda/CMakeLists.txt
  cuda/base/config.hpp
  cuda/base/cublas_bindings.hpp
  cuda/base/cublas_handle.hpp
  cuda/base/executor.cpp
  cuda/get_info.cmake
  cuda/test/base/math.cu
  cuda/test/components/cooperative_groups.cu
  hip/CMakeLists.txt
  hip/base/config.hip.hpp
  hip/base/executor.hip.cpp
  hip/base/hipblas_bindings.hip.hpp
  hip/base/hipblas_handle.hpp
  hip/base/hipsparse_bindings.hip.hpp
  hip/base/hipsparse_handle.hpp
  hip/get_info.cmake
  hip/test/base/math.hip.cpp
  hip/test/components/cooperative_groups.hip.cpp
Labels: reg:build, reg:testing, reg:ci-cd, reg:documentation, mod:cuda, type:solver, 1:ST:ready-to-merge, mod:hip, type:factorization, type:reordering, 1:ST:run-full-test

#1733 Update cuda arch 8.9
  CMakeLists.txt
  cmake/Modules/CudaArchitectureSelector.cmake
  common/cuda_hip/base/executor.hpp.inc
Labels: reg:build, reg:ci-cd, mod:cuda, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1735 Disable threadsanitizer temporarily
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge

#1650 Additive read distributed
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/distributed/assembly_kernels.cpp
  common/unified/CMakeLists.txt
  common/unified/distributed/assembly_kernels.cpp
  core/CMakeLists.txt
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/assembly.cpp
  core/distributed/assembly_kernels.hpp
  core/distributed/matrix.cpp
  dpcpp/CMakeLists.txt
  dpcpp/distributed/assembly_kernels.dp.cpp
  include/ginkgo/core/distributed/assembly.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/ginkgo.hpp
  omp/CMakeLists.txt
  omp/distributed/assembly_kernels.cpp
  reference/CMakeLists.txt
  reference/distributed/assembly_kernels.cpp
  reference/test/distributed/CMakeLists.txt
  reference/test/distributed/assembly_kernels.cpp
  test/distributed/CMakeLists.txt
  test/distributed/assembly_kernels.cpp
  test/mpi/CMakeLists.txt
  test/mpi/assembly.cpp
  test/mpi/matrix.cpp
Labels: is:new-feature, 1:ST:ready-to-merge, mod:all, type:distributed-functionality

#1684 ginkgo own ILU and IC
  common/cuda_hip/factorization/cholesky_kernels.cpp
  common/cuda_hip/factorization/ic_kernels.cpp
  common/cuda_hip/factorization/ilu_kernels.cpp
  common/cuda_hip/factorization/lu_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/factorization/cholesky.cpp
  core/factorization/cholesky_kernels.hpp
  core/factorization/ic.cpp
  core/factorization/ic_kernels.hpp
  core/factorization/ilu.cpp
  core/factorization/ilu_kernels.hpp
  core/factorization/lu.cpp
  core/factorization/lu_kernels.hpp
  core/matrix/csr_lookup.hpp
  core/test/config/factorization.cpp
  dpcpp/factorization/cholesky_kernels.dp.cpp
  dpcpp/factorization/ic_kernels.dp.cpp
  dpcpp/factorization/ilu_kernels.dp.cpp
  dpcpp/factorization/lu_kernels.dp.cpp
  include/ginkgo/core/factorization/cholesky.hpp
  include/ginkgo/core/factorization/ic.hpp
  include/ginkgo/core/factorization/ilu.hpp
  include/ginkgo/core/factorization/incomplete_factorization.hpp
  include/ginkgo/core/factorization/lu.hpp
  include/ginkgo/ginkgo.hpp
  omp/factorization/cholesky_kernels.cpp
  omp/factorization/ic_kernels.cpp
  omp/factorization/ilu_kernels.cpp
  omp/factorization/lu_kernels.cpp
  reference/factorization/cholesky_kernels.cpp
  reference/factorization/ic_kernels.cpp
  reference/factorization/ilu_kernels.cpp
  reference/factorization/lu_kernels.cpp
  reference/test/factorization/cholesky_kernels.cpp
  reference/test/factorization/ic_kernels.cpp
  reference/test/factorization/ilu_kernels.cpp
  reference/test/factorization/lu_kernels.cpp
  test/factorization/CMakeLists.txt
  test/factorization/cholesky_kernels.cpp
  test/factorization/ic_kernels.cpp
  test/factorization/ilu_kernels.cpp
  test/factorization/lu_kernels.cpp
Labels: reg:build, reg:testing, type:matrix-format, 1:ST:ready-to-merge, type:factorization, mod:all
