Repository ginkgo-project/ginkgo, pull requests merged in 2024-06, with the labels that each got.

#1619 Fixes and updates, bump third party libraries
  .github/workflows/osx.yml
  .github/workflows/windows-msvc-cuda.yml
  .gitlab-ci.yml
  BENCHMARKING.md
  cmake/create_test.cmake
  core/CMakeLists.txt
  core/reorder/amd.cpp
  core/test/gtest/CMakeLists.txt
  third_party/gtest/CMakeLists.txt
  third_party/nlohmann_json/CMakeLists.txt
Labels: reg:ci-cd, 1:ST:run-full-test

#1621 Release/1.8.0
  .github/mirror.sh
  .github/workflows/mirror.yml
  CHANGELOG.md
  CMakeLists.txt
  README.md
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/batched-solver/CMakeLists.txt
  examples/build-setup.sh
  examples/cb-gmres/CMakeLists.txt
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/kokkos-assembly/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/mixed-multigrid-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-spmv/CMakeLists.txt
  examples/multigrid-preconditioned-solver-customized/CMakeLists.txt
  examples/multigrid-preconditioned-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/reordered-preconditioned-solver/CMakeLists.txt
  examples/schroedinger-splitting/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
Labels: reg:build, reg:documentation, reg:example, 1:ST:ready-for-review, 1:ST:no-changelog-entry

#1617 Add Windows gitlab job
  .github/workflows/windows-msvc-cuda.yml
  .github/workflows/windows-msvc-ref.yml
  .gitlab-ci.yml
  test/base/timer.cpp
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1635 Remove deprecated shared memory config
  cuda/base/kernel_config.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
Labels: mod:cuda, type:solver, 1:ST:ready-to-merge, type:batched-functionality, 1:ST:no-changelog-entry
