Repository ginkgo-project/ginkgo, pull requests merged in 2024-08, with the labels that each got.

#1664 Include missing iomanip header in solver_progress.cpp test
  core/test/log/solver_progress.cpp
Labels: mod:core, 1:ST:ready-to-merge, is:bugfix

#1601 Simple segmented ranges
  core/base/index_range.hpp
  core/base/iterator_factory.hpp
  core/base/segmented_array.hpp
  core/base/segmented_range.hpp
  core/test/base/CMakeLists.txt
  core/test/base/segmented_range.cpp
  test/base/CMakeLists.txt
  test/base/segmented_range.cpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:no-changelog-entry

#1646 Add orthogonalization options to GMRES
  common/unified/solver/common_gmres_kernels.cpp
  common/unified/solver/gmres_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/solver/gmres.cpp
  core/solver/gmres_kernels.hpp
  core/test/config/solver.cpp
  include/ginkgo/core/solver/gmres.hpp
  reference/solver/common_gmres_kernels.cpp
  reference/solver/gmres_kernels.cpp
  reference/test/solver/gmres_kernels.cpp
  test/mpi/solver/solver.cpp
  test/solver/gmres_kernels.cpp
Labels: is:enhancement, reg:testing, mod:core, mod:cuda, mod:reference, type:solver, 1:ST:ready-to-merge, mod:hip, mod:all

#1628 Discard trailing entries of a line in a MM-format file
  core/base/mtx_io.cpp
  core/test/base/mtx_io.cpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge

#1665 Fix triangular solvers on Windows CUDA
  .gitlab-ci.yml
  benchmark/CMakeLists.txt
  benchmark/test/test_framework.py.in
  common/cuda_hip/components/uninitialized_array.hpp
  common/cuda_hip/matrix/csr_kernels.template.cpp
  cuda/solver/common_trs_kernels.cuh
  include/ginkgo/core/base/math.hpp
  test/solver/gcr_kernels.cpp
  test/solver/lower_trs_kernels.cpp
  test/solver/upper_trs_kernels.cpp
Labels: mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip

#1652 Temporarily disable optimized batched solver instantiations
  core/solver/batch_bicgstab_kernels.hpp
  core/solver/batch_cg_kernels.hpp
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.dp.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
Labels: mod:core, mod:cuda, type:solver, 1:ST:ready-to-merge, mod:hip, mod:dpcpp, type:batched-functionality

#1668 Add rocthrust through cmake
  cmake/GinkgoConfig.cmake.in
  cmake/hip.cmake
  hip/CMakeLists.txt
Labels: reg:build, 1:ST:ready-to-merge, mod:hip

#1663 fix the casting issue in mixed multigrid
  core/solver/multigrid.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, is:bugfix

#1651 Unify and simplify batch functionality: Multivector
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/base/batch_multi_vector_kernels.cpp
  common/cuda_hip/base/batch_multi_vector_kernels.hpp
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  common/cuda_hip/solver/batch_cg_kernels.hpp.inc
  cuda/CMakeLists.txt
  cuda/base/batch_multi_vector_kernels.cu
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  dpcpp/base/batch_multi_vector_kernels.dp.cpp
  dpcpp/base/batch_multi_vector_kernels.hpp
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_kernels.hpp.inc
  dpcpp/solver/batch_cg_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.hpp.inc
  hip/CMakeLists.txt
  hip/base/batch_multi_vector_kernels.hip.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  omp/base/batch_multi_vector_kernels.cpp
  omp/solver/batch_bicgstab_kernels.cpp
  omp/solver/batch_cg_kernels.cpp
  reference/base/batch_multi_vector_kernels.cpp
  reference/base/batch_multi_vector_kernels.hpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_bicgstab_kernels.hpp.inc
  reference/solver/batch_cg_kernels.cpp
  reference/solver/batch_cg_kernels.hpp.inc
Labels: reg:build, mod:cuda, 1:ST:ready-to-merge, mod:hip, type:batched-functionality, 1:ST:no-changelog-entry

#1669 Unify and simplify batch functionality: Matrix formats (csr, dense, ell)
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/base/batch_multi_vector_kernels.hpp
  common/cuda_hip/base/batch_struct.hpp
  common/cuda_hip/matrix/batch_csr_kernels.cpp
  common/cuda_hip/matrix/batch_csr_kernels.hpp
  common/cuda_hip/matrix/batch_dense_kernels.cpp
  common/cuda_hip/matrix/batch_dense_kernels.hpp
  common/cuda_hip/matrix/batch_ell_kernels.cpp
  common/cuda_hip/matrix/batch_ell_kernels.hpp
  common/cuda_hip/matrix/batch_struct.hpp
  common/cuda_hip/solver/batch_bicgstab_kernels.hpp.inc
  common/cuda_hip/solver/batch_cg_kernels.hpp.inc
  common/unified/base/kernel_launch.hpp
  core/solver/batch_dispatch.hpp
  cuda/CMakeLists.txt
  cuda/base/batch_struct.hpp
  cuda/matrix/batch_csr_kernels.cu
  cuda/matrix/batch_dense_kernels.cu
  cuda/matrix/batch_ell_kernels.cu
  cuda/preconditioner/batch_jacobi_kernels.cu
  cuda/solver/batch_bicgstab_kernels.cu
  cuda/solver/batch_cg_kernels.cu
  dpcpp/matrix/batch_csr_kernels.dp.cpp
  dpcpp/matrix/batch_csr_kernels.hpp
  dpcpp/matrix/batch_dense_kernels.dp.cpp
  dpcpp/matrix/batch_dense_kernels.hpp
  dpcpp/matrix/batch_ell_kernels.dp.cpp
  dpcpp/matrix/batch_ell_kernels.hpp
  dpcpp/solver/batch_bicgstab_kernels.dp.cpp
  dpcpp/solver/batch_bicgstab_kernels.hpp.inc
  dpcpp/solver/batch_cg_kernels.dp.cpp
  dpcpp/solver/batch_cg_kernels.hpp.inc
  hip/CMakeLists.txt
  hip/matrix/batch_csr_kernels.hip.cpp
  hip/matrix/batch_dense_kernels.hip.cpp
  hip/matrix/batch_ell_kernels.hip.cpp
  hip/matrix/batch_struct.hip.hpp
  hip/preconditioner/batch_jacobi_kernels.hip.cpp
  hip/solver/batch_bicgstab_kernels.hip.cpp
  hip/solver/batch_cg_kernels.hip.cpp
  omp/matrix/batch_csr_kernels.cpp
  omp/matrix/batch_dense_kernels.cpp
  omp/matrix/batch_ell_kernels.cpp
  omp/solver/batch_bicgstab_kernels.cpp
  omp/solver/batch_cg_kernels.cpp
  reference/CMakeLists.txt
  reference/base/batch_multi_vector_kernels.cpp
  reference/matrix/batch_csr_kernels.cpp
  reference/matrix/batch_csr_kernels.hpp
  reference/matrix/batch_dense_kernels.cpp
  reference/matrix/batch_dense_kernels.hpp
  reference/matrix/batch_ell_kernels.cpp
  reference/matrix/batch_ell_kernels.hpp
  reference/solver/batch_bicgstab_kernels.cpp
  reference/solver/batch_bicgstab_kernels.hpp.inc
  reference/solver/batch_cg_kernels.cpp
  reference/solver/batch_cg_kernels.hpp.inc
Labels: reg:build, mod:cuda, type:solver, type:matrix-format, 1:ST:ready-to-merge, mod:hip, type:batched-functionality, 1:ST:no-changelog-entry

#1670 Fix ROCm 6.1 issues
  common/cuda_hip/components/sorting.hpp
  include/ginkgo/core/base/types.hpp
Labels: mod:core, 1:ST:ready-to-merge

#1667 Named lambda operation
  core/test/base/executor.cpp
  include/ginkgo/core/base/executor.hpp
  test/base/executor.cpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge
