Repository ginkgo-project/ginkgo, pull requests merged in 2025-06, with the labels that each got.

#1849 Fix wrong ballot result on H100 during 12.2 - 12.4 (or before 12.5.1)
  common/cuda_hip/components/bitvector.hpp
  common/cuda_hip/components/merging.hpp
  common/cuda_hip/components/searching.hpp
  common/cuda_hip/factorization/cholesky_kernels.cpp
  common/cuda_hip/factorization/factorization_kernels.cpp
  common/cuda_hip/factorization/par_ict_kernels.cpp
  common/cuda_hip/factorization/par_ilut_filter_kernels.hpp
  common/cuda_hip/factorization/par_ilut_spgeam_kernels.cpp
  common/cuda_hip/factorization/par_ilut_sweep_kernels.cpp
  common/cuda_hip/matrix/csr_kernels.template.cpp
  common/cuda_hip/matrix/dense_kernels.cpp
  common/cuda_hip/preconditioner/isai_kernels.cpp
  cuda/components/cooperative_groups.cuh
  cuda/test/components/cooperative_groups.cu
  dpcpp/components/cooperative_groups.dp.hpp
  dpcpp/components/merging.dp.hpp
  dpcpp/components/searching.dp.hpp
  dpcpp/factorization/factorization_kernels.dp.cpp
  dpcpp/factorization/par_ict_kernels.dp.cpp
  dpcpp/factorization/par_ilut_filter_kernels.hpp.inc
  dpcpp/factorization/par_ilut_spgeam_kernel.dp.cpp
  dpcpp/factorization/par_ilut_sweep_kernel.dp.cpp
  dpcpp/preconditioner/isai_kernels.dp.cpp
  dpcpp/test/components/cooperative_groups.dp.cpp
  hip/components/cooperative_groups.hip.hpp
  hip/test/components/cooperative_groups.hip.cpp
Labels: reg:testing, mod:cuda, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, mod:hip, type:factorization, mod:dpcpp, is:bugfix

#1855 Fix the reference behavior on factorization algorithm
  core/factorization/ic.cpp
  core/factorization/ilu.cpp
  include/ginkgo/core/factorization/ic.hpp
  include/ginkgo/core/factorization/ilu.hpp
  reference/test/factorization/ic_kernels.cpp
  reference/test/factorization/ilu_kernels.cpp
  test/factorization/ic_kernels.cpp
  test/factorization/ilu_kernels.cpp
Labels: mod:core, 1:ST:ready-to-merge, type:factorization

#1850 fix the race condition in lu factorization
  common/cuda_hip/factorization/lu_kernels.cpp
Labels: mod:cuda, 1:ST:ready-to-merge, mod:hip, type:factorization, 1:ST:run-full-test, is:bugfix

#1859 Add PIPECG to the benchmarks
  BENCHMARKING.md
  benchmark/solver/solver_common.hpp
Labels: reg:documentation, reg:benchmarking, type:solver, 1:ST:ready-to-merge

#1857 Update tpls for v1.10
  extensions/test/config/CMakeLists.txt
  third_party/gflags/CMakeLists.txt
Labels: reg:build, reg:testing, 1:ST:ready-to-merge

#1863 [release] change tag to main
  CMakeLists.txt
  README.md
Labels: reg:build, reg:documentation, 1:ST:ready-for-review
