Repository ginkgo-project/ginkgo, pull requests merged in 2025-05, with the labels that each got.

#1811 Allow to use ValueType in template of preconditioner IC
  core/config/preconditioner_ic_config.cpp
  core/preconditioner/ic.cpp
  core/test/config/preconditioner.cpp
  include/ginkgo/core/base/composition.hpp
  include/ginkgo/core/base/type_traits.hpp
  include/ginkgo/core/base/utils_helper.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  reference/test/preconditioner/ic.cpp
Labels: reg:testing, mod:core, mod:reference, type:preconditioner, 1:ST:ready-to-merge

#1828 Allow to use ValueType in template of preconditioner ILU
  cmake/CTestScript.cmake
  cmake/generate_ginkgo_hpp.cmake
  core/config/preconditioner_ic_config.cpp
  core/config/preconditioner_ilu_config.cpp
  core/preconditioner/ilu.cpp
  core/test/config/preconditioner.cpp
  examples/file-config-solver/config/parilu-gmres.json
  examples/file-config-solver/file-config-solver.cpp
  include/ginkgo/core/base/type_traits.hpp
  include/ginkgo/core/preconditioner/ic.hpp
  include/ginkgo/core/preconditioner/ilu.hpp
  include/ginkgo/core/preconditioner/utils.hpp
  reference/test/preconditioner/ilu.cpp
Labels: reg:build, reg:testing, mod:core, mod:reference, type:preconditioner, 1:ST:ready-to-merge, 1:ST:ready-for-review

#1589 Adds distributed row gatherer
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  core/CMakeLists.txt
  core/distributed/dense_communicator.cpp
  core/distributed/matrix.cpp
  core/distributed/neighborhood_communicator.cpp
  core/distributed/row_gatherer.cpp
  core/matrix/diagonal.cpp
  core/multigrid/pgm.cpp
  core/test/base/segmented_array.cpp
  core/test/gtest/ginkgo_mpi_main.cpp
  core/test/matrix/diagonal.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/row_gatherer.cpp
  include/ginkgo/core/base/mpi.hpp
  include/ginkgo/core/base/segmented_array.hpp
  include/ginkgo/core/distributed/collective_communicator.hpp
  include/ginkgo/core/distributed/dense_communicator.hpp
  include/ginkgo/core/distributed/index_map.hpp
  include/ginkgo/core/distributed/index_map_fwd.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/neighborhood_communicator.hpp
  include/ginkgo/core/distributed/row_gatherer.hpp
  test/mpi/CMakeLists.txt
  test/mpi/distributed/CMakeLists.txt
  test/mpi/distributed/assembly.cpp
  test/mpi/distributed/matrix.cpp
  test/mpi/distributed/partition_helpers.cpp
  test/mpi/distributed/row_gatherer.cpp
  test/mpi/distributed/vector.cpp
Labels: reg:build, reg:testing, mod:core, type:matrix-format, 1:ST:ready-to-merge

#1839 Add complex type support for hipBLAS GEAM
  hip/base/hipblas_bindings.hip.hpp
  test/matrix/dense_kernels.cpp
  test/matrix/fbcsr_kernels.cpp
Labels: 1:ST:ready-to-merge, mod:hip

#1843 Move CI job and fix cuda12.2 cusparse matrix, coo exception, workspace reallcation
  .gitlab-ci.yml
  .gitlab/image.yml
  common/cuda_hip/matrix/coo_kernels.cpp
  common/cuda_hip/matrix/csr_kernels.template.cpp
  core/distributed/row_gatherer.cpp
  dpcpp/matrix/coo_kernels.dp.cpp
  test/mpi/preconditioner/schwarz.cpp
Labels: reg:build, reg:ci-cd, mod:core, mod:cuda, type:preconditioner, type:matrix-format, 1:ST:ready-for-review, mod:hip, mod:dpcpp, 1:ST:run-full-test

#1842 Fix inverse neighborhood comm
  core/distributed/neighborhood_communicator.cpp
Labels: mod:core, 1:ST:ready-to-merge

#1819 Enable mixed precision dispatch in distributed matrix with ScalarCache, GenericDenseCache, and GenericVectorCache
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stdout
  benchmark/test/reference/spmv_distributed.simple.stdout
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stdout
  core/base/dense_cache.cpp
  core/base/dense_cache_accessor.hpp
  core/distributed/matrix.cpp
  core/distributed/vector_cache.cpp
  core/distributed/vector_cache_accessor.hpp
  core/test/base/dense_cache.cpp
  core/test/mpi/distributed/vector_cache.cpp
  include/ginkgo/core/base/dense_cache.hpp
  include/ginkgo/core/base/precision_dispatch.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/vector_cache.hpp
Labels: reg:testing, mod:core, mod:cuda, type:matrix-format, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test

#1846 Avoid to fill fixed-value scalar in workspace repeatedly in each apply
  core/solver/gmres.cpp
  core/solver/solver_boilerplate.hpp
  include/ginkgo/core/solver/solver_base.hpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge

#1838 Add PIPECG unified kernels
  common/unified/solver/pipe_cg_kernels.cpp
  core/solver/pipe_cg.cpp
  test/solver/CMakeLists.txt
  test/solver/pipe_cg_kernels.cpp
  test/solver/solver.cpp
  test/test_install/test_install.cpp
Labels: reg:build, reg:testing, mod:core, mod:cuda, type:solver, 1:ST:ready-to-merge, mod:hip, 1:ST:run-full-test
