Repository ginkgo-project/ginkgo, pull requests merged in 2025-02, with the labels that each got.

#1782 Generate `ginkgo.hpp` via CMake
  .github/bot-pr-format-base.sh
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/generate_ginkgo_hpp.cmake
  dev_tools/scripts/update_ginkgo_header.sh
  doc/helpers.cmake
  include/ginkgo/ginkgo.hpp
  include/ginkgo/ginkgo.hpp.in
Labels: reg:build, reg:ci-cd, reg:documentation, mod:core, 1:ST:ready-to-merge

#1613 Minimal stopping criteria config
  core/config/config_helper.cpp
  core/config/config_helper.hpp
  core/config/solver_config.hpp
  core/test/config/config.cpp
  include/ginkgo/core/config/config.hpp
Labels: reg:testing, mod:core, type:solver, 1:ST:ready-to-merge

#1769 add distributed mg example
  examples/CMakeLists.txt
  examples/distributed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/distributed-multigrid-preconditioned-solver/distributed-multigrid-preconditioned-solver.cpp
  examples/distributed-multigrid-preconditioned-solver/doc/builds-on
  examples/distributed-multigrid-preconditioned-solver/doc/intro.dox
  examples/distributed-multigrid-preconditioned-solver/doc/kind
  examples/distributed-multigrid-preconditioned-solver/doc/results.dox
  examples/distributed-multigrid-preconditioned-solver/doc/short-intro
  examples/distributed-multigrid-preconditioned-solver/doc/tooltip
Labels: reg:build, reg:example, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1756 only use mkl dense gemm when all value pointers are valid
  dpcpp/matrix/dense_kernels.dp.cpp
Labels: type:matrix-format, 1:ST:ready-to-merge, mod:dpcpp, is:bugfix, 1:ST:skip-full-test

#1759 enable Half in mpi
  common/cuda_hip/distributed/assembly_kernels.cpp
  common/cuda_hip/distributed/matrix_kernels.cpp
  common/cuda_hip/distributed/vector_kernels.cpp
  common/unified/distributed/assembly_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/assembly.cpp
  core/distributed/helpers.hpp
  core/distributed/matrix.cpp
  core/distributed/preconditioner/schwarz.cpp
  core/distributed/vector.cpp
  core/distributed/vector_cache.cpp
  core/mpi/mpi_op.hpp
  core/multigrid/pgm.cpp
  core/solver/gmres.cpp
  core/solver/multigrid.cpp
  core/test/mpi/base/bindings.cpp
  core/test/mpi/distributed/matrix.cpp
  core/test/mpi/distributed/preconditioner/schwarz.cpp
  core/test/utils.hpp
  dpcpp/distributed/assembly_kernels.dp.cpp
  dpcpp/distributed/matrix_kernels.dp.cpp
  dpcpp/distributed/vector_kernels.dp.cpp
  include/ginkgo/core/base/mpi.hpp
  include/ginkgo/core/base/precision_dispatch.hpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/distributed/vector.hpp
  omp/distributed/assembly_kernels.cpp
  omp/distributed/matrix_kernels.cpp
  omp/distributed/vector_kernels.cpp
  reference/distributed/assembly_kernels.cpp
  reference/distributed/matrix_kernels.cpp
  reference/distributed/vector_kernels.cpp
  reference/test/distributed/assembly_kernels.cpp
  reference/test/distributed/matrix_kernels.cpp
  reference/test/distributed/vector_kernels.cpp
  test/distributed/assembly_kernels.cpp
  test/distributed/matrix_kernels.cpp
  test/distributed/vector_kernels.cpp
  test/mpi/assembly.cpp
  test/mpi/matrix.cpp
  test/mpi/multigrid/pgm.cpp
  test/mpi/preconditioner/schwarz.cpp
  test/mpi/solver/solver.cpp
  test/mpi/vector.cpp
Labels: reg:testing, type:solver, type:preconditioner, 1:ST:ready-to-merge, mod:all, 1:ST:run-full-test

#1677 add yaml-cpp support for file config
  .clang-format
  extensions/test/config/CMakeLists.txt
  extensions/test/config/alias.yaml
  extensions/test/config/file_location.hpp.in
  extensions/test/config/nested_alias.yaml
  extensions/test/config/test.yaml
  extensions/test/config/yaml_config.cpp
  include/ginkgo/extensions/config/yaml_config.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:skip-full-test

#1783 Fall back to ILU/IC sparselib algorithm with CPU executors
  core/factorization/ic.cpp
  core/factorization/ilu.cpp
  test/factorization/ic_kernels.cpp
  test/factorization/ilu_kernels.cpp
Labels: mod:core, 1:ST:ready-to-merge, type:factorization

#1338 Reusable permutation and transpose
  core/matrix/csr.cpp
  core/test/matrix/csr.cpp
  include/ginkgo/core/base/precision_dispatch.hpp
  include/ginkgo/core/matrix/csr.hpp
  test/matrix/csr_kernels2.cpp
Labels: reg:build, reg:testing, mod:core, mod:cuda, mod:reference, type:matrix-format, 1:ST:ready-to-merge, mod:hip

#1797 Turn off yaml-cpp formatting
  extensions/test/config/CMakeLists.txt
Labels: reg:build, reg:testing, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1310 Add the L1 jacobi
  common/unified/preconditioner/jacobi_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/preconditioner/jacobi.cpp
  core/preconditioner/jacobi_kernels.hpp
  core/test/config/preconditioner.cpp
  core/test/preconditioner/jacobi.cpp
  include/ginkgo/core/preconditioner/jacobi.hpp
  reference/preconditioner/jacobi_kernels.cpp
  reference/test/preconditioner/jacobi_kernels.cpp
  test/preconditioner/jacobi_kernels.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:reference, type:preconditioner, 1:ST:ready-to-merge, mod:hip

#1772 Fix physical domain for benchmark stencils
  benchmark/blas/blas_common.hpp
  benchmark/conversion/conversion.cpp
  benchmark/matrix_statistics/matrix_statistics.cpp
  benchmark/preconditioner/preconditioner.cpp
  benchmark/solver/distributed/solver.cpp
  benchmark/solver/solver_common.hpp
  benchmark/sparse_blas/sparse_blas.cpp
  benchmark/spmv/spmv_common.hpp
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/multi_vector_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stdout
  benchmark/test/reference/spmv_distributed.simple.stderr
  benchmark/test/reference/spmv_distributed.simple.stdout
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stderr
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stdout
  benchmark/utils/general.hpp
  benchmark/utils/generator.hpp
  benchmark/utils/stencil_matrix.hpp
  core/distributed/helpers.hpp
Labels: reg:testing, mod:core, reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge

#1780 Add specific communicator for neighborhood communication (Again)
  CMakeLists.txt
  core/CMakeLists.txt
  core/distributed/collective_communicator.cpp
  core/distributed/dense_communicator.cpp
  core/distributed/matrix.cpp
  core/distributed/neighborhood_communicator.cpp
  core/test/mpi/distributed/CMakeLists.txt
  core/test/mpi/distributed/collective_communicator.cpp
  include/ginkgo/config.hpp.in
  include/ginkgo/core/base/mpi.hpp
  include/ginkgo/core/base/types.hpp
  include/ginkgo/core/distributed/collective_communicator.hpp
  include/ginkgo/core/distributed/dense_communicator.hpp
  include/ginkgo/core/distributed/index_map_fwd.hpp
  include/ginkgo/core/distributed/neighborhood_communicator.hpp
Labels: reg:build, reg:testing, mod:core, 1:ST:ready-to-merge
