Repository ginkgo-project/ginkgo, pull requests merged in 2025-07, with the labels that each got.

#1883 Improve Coo as non_local matrix in distributed matrix setup
  core/distributed/matrix.cpp
  test/mpi/distributed/matrix.cpp
Labels: mod:core, 1:ST:ready-to-merge

#1884 Update Benchmarks
  benchmark/blas/blas.cpp
  benchmark/blas/blas_common.hpp
  benchmark/solver/solver_common.hpp
Labels: reg:benchmarking, type:solver, 1:ST:ready-to-merge

#1885 sort `target_sources/target_compile_definitions` and provide custom function info
  .gersemi.py
  .gersemirc
  .pre-commit-config.yaml
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/blas/distributed/CMakeLists.txt
  benchmark/matrix_generator/CMakeLists.txt
  benchmark/matrix_statistics/CMakeLists.txt
  benchmark/sparse_blas/CMakeLists.txt
  cmake/build_type_helpers.cmake
  cmake/create_test.cmake
  cmake/cuda.cmake
  cmake/get_info.cmake
  cmake/information_helpers.cmake
  core/CMakeLists.txt
  cuda/CMakeLists.txt
  cuda/test/base/CMakeLists.txt
  devices/cuda/CMakeLists.txt
  devices/dpcpp/CMakeLists.txt
  devices/hip/CMakeLists.txt
  devices/omp/CMakeLists.txt
  devices/reference/CMakeLists.txt
  dpcpp/CMakeLists.txt
  extensions/test/config/CMakeLists.txt
  extensions/test/kokkos/CMakeLists.txt
  hip/CMakeLists.txt
  hip/test/base/CMakeLists.txt
  omp/CMakeLists.txt
  reference/CMakeLists.txt
  reference/test/preconditioner/CMakeLists.txt
  test/components/CMakeLists.txt
  test/distributed/CMakeLists.txt
  test/mpi/distributed/CMakeLists.txt
  test/mpi/multigrid/CMakeLists.txt
  test/mpi/preconditioner/CMakeLists.txt
  test/mpi/solver/CMakeLists.txt
  test/solver/CMakeLists.txt
Labels: reg:build, reg:testing, reg:benchmarking, type:solver, type:preconditioner, 1:ST:ready-to-merge, type:multigrid, mod:all, 1:ST:no-changelog-entry

#1893 Add missing sonar options
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:run-full-test, 1:ST:no-changelog-entry

#1899 Add missing parameters from sonar like #1893
  .gitlab-ci.yml
Labels: reg:ci-cd, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1895 Fix CMake try_compile variable issue from CMP0126
  CMakeLists.txt
  cmake/Modules/CudaArchitectureSelector.cmake
Labels: reg:build, 1:ST:ready-to-merge

#1901 Add OpenSSF badge to README
  README.md
Labels: reg:documentation, 1:ST:ready-for-review, 1:ST:no-changelog-entry

#1900 Revert 2.0 version
  .gersemirc
  CMakeLists.txt
  examples/adaptiveprecision-blockjacobi/CMakeLists.txt
  examples/batched-solver/CMakeLists.txt
  examples/build-setup.sh
  examples/cb-gmres/CMakeLists.txt
  examples/custom-logger/CMakeLists.txt
  examples/custom-matrix-format/CMakeLists.txt
  examples/custom-stopping-criterion/CMakeLists.txt
  examples/distributed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/file-config-solver/CMakeLists.txt
  examples/ginkgo-overhead/CMakeLists.txt
  examples/ginkgo-ranges/CMakeLists.txt
  examples/heat-equation/CMakeLists.txt
  examples/ilu-preconditioned-solver/CMakeLists.txt
  examples/inverse-iteration/CMakeLists.txt
  examples/ir-ilu-preconditioned-solver/CMakeLists.txt
  examples/iterative-refinement/CMakeLists.txt
  examples/kokkos-assembly/CMakeLists.txt
  examples/minimal-cuda-solver/CMakeLists.txt
  examples/mixed-multigrid-preconditioned-solver/CMakeLists.txt
  examples/mixed-multigrid-solver/CMakeLists.txt
  examples/mixed-precision-ir/CMakeLists.txt
  examples/mixed-spmv/CMakeLists.txt
  examples/multigrid-preconditioned-solver-customized/CMakeLists.txt
  examples/multigrid-preconditioned-solver/CMakeLists.txt
  examples/nine-pt-stencil-solver/CMakeLists.txt
  examples/papi-logging/CMakeLists.txt
  examples/par-ilu-convergence/CMakeLists.txt
  examples/performance-debugging/CMakeLists.txt
  examples/poisson-solver/CMakeLists.txt
  examples/preconditioned-solver/CMakeLists.txt
  examples/preconditioner-export/CMakeLists.txt
  examples/reordered-preconditioned-solver/CMakeLists.txt
  examples/schroedinger-splitting/CMakeLists.txt
  examples/simple-solver-logging/CMakeLists.txt
  examples/simple-solver/CMakeLists.txt
  examples/three-pt-stencil-solver/CMakeLists.txt
Labels: reg:build
