Repository ginkgo-project/ginkgo, pull requests merged in 2025-09, with the labels that each got.

#1926 Fix FindNVTX, thrust::identity<T>, and cuFFT removed error in cuda 13
  cmake/Modules/FindNVTX.cmake
  common/cuda_hip/factorization/factorization_kernels.cpp
  cuda/base/exception.cpp
Labels: reg:build, mod:cuda, 1:ST:ready-to-merge, mod:hip, type:factorization

#1929 Fix bitvector test by precompiling the kernel in library
  common/cuda_hip/CMakeLists.txt
  common/cuda_hip/components/bitvector.cpp
  common/cuda_hip/components/bitvector.hpp
Labels: reg:build, mod:cuda, 1:ST:ready-to-merge, mod:hip, is:bugfix, 1:ST:no-changelog-entry

#1809 Support for Kokkos Threads
  include/ginkgo/extensions/kokkos/spaces.hpp
Labels: mod:core
