Repository ginkgo-project/ginkgo, pull requests merged in 2025-03, with the labels that each got.

#1799 `MPI_Comm` cannot expected to be a pointer
  .github/_typos.toml
  .gitlab-ci.yml
  include/ginkgo/core/base/mpi.hpp
Labels: mod:core, 1:ST:ready-to-merge, 1:ST:run-full-test, is:bugfix, 1:ST:no-changelog-entry

#1802 Fix the mismatch type of VectorCache and index_map
  core/distributed/index_map.cpp
  include/ginkgo/core/distributed/index_map.hpp
  include/ginkgo/core/distributed/vector_cache.hpp
  include/ginkgo/core/matrix/dense.hpp
Labels: mod:core, type:matrix-format, 1:ST:ready-to-merge, is:bugfix, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1803 Rename cuda/hip memory test
  cuda/test/base/CMakeLists.txt
  hip/test/base/CMakeLists.txt
Labels: reg:build, reg:testing, mod:cuda, 1:ST:ready-to-merge, mod:hip, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1801 Add pnode equality check (`operator ==` and `operator !=`)
  core/config/property_tree.cpp
  core/test/config/property_tree.cpp
  include/ginkgo/core/config/property_tree.hpp
Labels: reg:testing, mod:core, 1:ST:ready-to-merge, 1:ST:skip-full-test, 1:ST:no-changelog-entry

#1806 Add distributed L1 smoother
  common/unified/matrix/csr_kernels.cpp
  core/device_hooks/common_kernels.inc.cpp
  core/distributed/preconditioner/schwarz.cpp
  core/matrix/csr_kernels.hpp
  core/test/config/preconditioner.cpp
  include/ginkgo/core/distributed/preconditioner/schwarz.hpp
  reference/matrix/csr_kernels.cpp
  reference/test/matrix/csr_kernels.cpp
  test/matrix/csr_kernels.cpp
  test/mpi/preconditioner/schwarz.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:reference, type:preconditioner, type:matrix-format, 1:ST:ready-to-merge, mod:hip

#1639 Use Index map in PGM
  benchmark/test/reference/distributed_solver.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stderr
  benchmark/test/reference/spmv_distributed.profile.stdout
  benchmark/test/reference/spmv_distributed.simple.stdout
  benchmark/test/reference/spmv_distributed_dcomplex.simple.stdout
  core/distributed/matrix.cpp
  core/multigrid/pgm.cpp
  include/ginkgo/core/distributed/matrix.hpp
  include/ginkgo/core/multigrid/pgm.hpp
  test/mpi/matrix.cpp
Labels: reg:testing, mod:core, mod:cuda, mod:reference, 1:ST:ready-to-merge, mod:hip, type:multigrid, 1:ST:no-changelog-entry

#1812 Fix IR `move` operation which leads empty parameters in the target
  core/solver/ir.cpp
Labels: mod:core, type:solver, 1:ST:ready-to-merge, is:bugfix, 1:ST:skip-full-test

#1818 Add a job to sync github repo with Codehub
  .github/workflows/github-to-codehub-push-sync.yml
Labels: reg:ci-cd, 1:ST:ready-for-review, 1:ST:skip-full-test, 1:ST:no-changelog-entry
